Repository bcc-code/bcc-media-platform: changes, and which Semaphore blocks are due for each by the changed paths.
All: Web, Build CMS, Test, Build

Web:
  jobs:
  - name: deploy
    commands:
    - checkout
    - ./scripts/web.sh dev

Build CMS:
  jobs:
  - name: build
    commands:
    - checkout
    - cd cms
    - docker build -t "europe-west4-docker.pkg.dev/utils-332514/btv-platform/cms:${SEMAPHORE_GIT_SHA:0:7}" -t europe-west4-docker.pkg.dev/utils-332514/btv-platform/cms:$SEMAPHORE_GIT_BRANCH .
  ...

Test:
  jobs:
  - name: go test
    commands:
    - export GOPATH=~/go
    - export PATH=/home/semaphore/go/bin:$PATH
    - export CGO_ENABLED=0
    - checkout
    - cache restore
    - go get ./...
    - go test ./...
  epilogue:
    on_pass:
      commands:
      - cache store
  prologue:
    commands:
    - sem-version go 1.19

Build:
  prologue:
    commands:
    - sem-version go 1.19
    - export GOPATH=~/go
    - export PATH=/home/semaphore/go/bin:$PATH
    - checkout
    - cache restore
    - gcloud auth activate-service-account --key-file=/home/semaphore/secrets/google.key.json
  ...

try to fix some pagination issues
  web/src/components/page/Page.vue
  web/src/graph/generated.ts
  web/src/graph/queries/page.graphql
Due: Web

Unnecessary nullable columns. Fix unnecessary fields as well
  backend/members/models.go
  backend/sqlc/models.go
  backend/sqlc/statistician.sql.go
  backend/sqlc/users-queries.go
  backend/sqlc/users.sql.go
  backend/user/middleware.go
  migrations/00127_users_users.sql
  queries/users.sql
Due: Test, Build

throw when invalid state on competition
  web/src/components/study/Tasks.vue
Due: Web

Keeping it as simple as possible
  backend/cmd/api/main.go
Due: Test, Build

mod references
  go.mod
Due: none

add usertoken to options
  backend/graph/api/resolver.go
  backend/graph/api/search-resolver.go
  backend/search/query.go
Due: Test, Build

debounce to 150 ms
  web/src/pages/search/Search.vue
Due: Web

Added new tests + cleaned up previous tests
  tests/e2e/TODO.md
  tests/e2e/lib/apiResponseFromEpisode.ts
  tests/e2e/lib/constants.ts
  tests/e2e/tests/availability_dates/available_both.test.ts
  tests/e2e/tests/availability_dates/available_from.test.ts
  tests/e2e/tests/availability_dates/available_to.test.ts
  tests/e2e/tests/publish_date.test.ts
  tests/e2e/tests/status.test.ts
Due: none

more load test setup
  tests/load/graph/inputs.go
  tests/load/graph/queries.go
  tests/load/lib/token.go
  tests/load/request/request.go
Due: none

not found
  backend/graph/api/studies.resolvers.go
Due: Test, Build

http
  tests/load/graph/queries.go
  tests/load/main.go
  tests/load/request/request.go
Due: none

reqs
  tests/load/main.go
  tests/load/request/request.go
Due: none

Initial implementation of k6 load testing
  backend/cmd/api/main.go
  tests/load/.gitignore
  tests/load/Makefile
  tests/load/package.json
  tests/load/pnpm-lock.yaml
  tests/load/src/pageload.test.js
  tests/load/src/queries.js
Due: Test, Build

optional token
  tests/load/Makefile
  tests/load/src/pageload.test.js
Due: none

IsImpersonating context
  backend/cmd/api/main.go
  backend/graph/api/resolver.go
  backend/graph/api/schema.resolvers.go
  backend/user/middleware.go
Due: Test, Build

updatedat
  migrations/00127_users_users.sql
  queries/users.sql
Due: none

updated-at models
  backend/sqlc/models.go
  backend/sqlc/users.sql.go
Due: Test, Build

use get me
  web/src/components/Cookies.vue
  web/src/components/EpisodeViewer.vue
  web/src/components/live/Player.vue
  web/src/components/navbar/Navbar.vue
  web/src/graph/generated.ts
  web/src/graph/queries/analytics.graphql
  web/src/layout/StackedLayout.vue
Due: Web

dont save profile if impersonating
  backend/user/middleware.go
Due: Test, Build

fix statistician
  backend/cmd/statistician/main.go
Due: Test, Build

Don't log mismatched credential errors
  backend/push/client.go
Due: Test, Build

deploy script
  scripts/deploy.sh
  scripts/generate-cloud-build.sh
Due: none

script escape
  scripts/generate-cloud-build.sh
Due: none

fix missing context
  backend/crowdin/items.go
  backend/sqlc/studies.sql.go
  queries/studies.sql
Due: Test, Build

available from
  cms/src/hooks/sync-to-legacy/filters/episodes.ts
  cms/src/hooks/sync-to-legacy/utils.ts
Due: Build CMS

if context is diff, also redo the validation
  backend/crowdin/files.go
  backend/crowdin/sync.go
Due: Test, Build

remove checks for impersonating
  backend/graph/api/resolver.go
  backend/graph/api/schema.resolvers.go
  backend/user/middleware.go
Due: Test, Build

remove checks for impersonating
  backend/graph/api/schema.resolvers.go
Due: Test, Build

move away from sync map. use sync.mutex
  backend/loaders/cache.go
Due: Test, Build

Load test with writes
  tests/load/src/pageload.test.js
  tests/load/src/queries.js
Due: none

fix crowdin approval removal
  backend/crowdin/sync.go
Due: Test, Build

prime setprogress
  backend/graph/api/schema.resolvers.go
  tests/load/src/pageload.test.js
Due: Test, Build

prettier run
  web/package.json
  web/src/components/EpisodeViewer.vue
  web/src/components/page/Page.vue
  web/src/components/sections/item/IconSection.vue
  web/src/components/study/tasks/confetti.json
  web/src/graph/queries/page.graphql
  web/src/main.ts
  web/src/pages/calendar/Calendar.vue
  web/src/styles/index.css
  web/src/translations/bg.json
  web/src/translations/da.json
  web/src/translations/de.json
  web/src/translations/en.json
  web/src/translations/es.json
  web/src/translations/fi.json
  web/src/translations/fr.json
  web/src/translations/hu.json
  web/src/translations/it.json
  web/src/translations/nb.json
  web/src/translations/nl.json
  web/src/translations/pl.json
  web/src/translations/pt.json
  web/src/translations/ro.json
  web/src/translations/ru.json
  web/src/translations/sl.json
  web/src/translations/tr.json
  web/src/utils/array.ts
  web/src/utils/flutter.ts
  web/src/utils/items.ts
  web/src/utils/languages.ts
  web/src/utils/lists.ts
  web/src/utils/time.ts
  web/tailwind.config.cjs
Due: Web

filter dataset
  migrations/00128_filter_dataset_materialized.sql
Due: none

Directus tweaks
  docker-compose.yml
  migrations/00128_directus_tweaks.sql
Due: none

use materialized view
  backend/items/collection/filter.go
  migrations/00129_filter_dataset_materialized.sql
Due: Test, Build

Materialized view for filter_dataset
  backend/maintenance/views.go
  backend/sqlc/models.go
  backend/sqlc/views.sql.go
  queries/views.sql
Due: Test, Build

fix migration
  migrations/00129_filter_dataset_materialized.sql
Due: none

circular ref fix
  migrations/00130_circular_ref.sql
Due: none

Path conditions:
  Web: any of: web/
  Build CMS: any of: cms/
  Test: any of: backend/
  Build: any of: backend/
