Repository bcc-code/bcc-media-platform: changes, and which Semaphore blocks are due for each by the changed paths.
All: Web, Build CMS, Test, Build

Web:
  jobs:
  - name: deploy
    commands:
    - checkout
    - ./scripts/web.sh dev

Build CMS:
  jobs:
  - name: build
    commands:
    - checkout
    - cd cms
    - docker build -t "europe-west4-docker.pkg.dev/utils-332514/btv-platform/cms:${SEMAPHORE_GIT_SHA:0:7}" -t europe-west4-docker.pkg.dev/utils-332514/btv-platform/cms:$SEMAPHORE_GIT_BRANCH .
  ...

Test:
  jobs:
  - name: go test
    commands:
    - export GOPATH=~/go
    - export PATH=/home/semaphore/go/bin:$PATH
    - export CGO_ENABLED=0
    - checkout
    - cache restore
    - go get ./...
    - go test ./...
  epilogue:
    on_pass:
      commands:
      - cache store
  prologue:
    commands:
    - sem-version go 1.19

Build:
  prologue:
    commands:
    - sem-version go 1.19
    - export GOPATH=~/go
    - export PATH=/home/semaphore/go/bin:$PATH
    - checkout
    - cache restore
    - gcloud auth activate-service-account --key-file=/home/semaphore/secrets/google.key.json
  ...

simple redirect implementation
  web/codegen.yml
  web/src/graph/generated.ts
  web/src/i18n/translations/en.json
  web/src/i18n/translations/no.json
  web/src/pages/redirect/Execute.vue
  web/src/pages/redirect/Redirect.vue
  web/src/pages/redirect/redirect.graphql
  web/src/router/routes.ts
Due: Web

fix metadata not added to notification
  backend/push/client.go
Due: Test, Build

fix migrate downs
  migrations/00069_notifications_remove.sql
  migrations/00070_notifications_add.sql
Due: none

redirect tweaks
  web/src/pages/redirect/Execute.vue
  web/src/pages/redirect/Redirect.vue
Due: Web

null
  backend/graph/api/schema.resolvers.go
Due: Test, Build

Section options
  backend/common/items.go
  backend/graph/api/schema/pages.graphqls
  backend/sqlc/config.sql.go
  backend/sqlc/models.go
  backend/sqlc/sections.sql.go
  migrations/00073_section_options.sql
  queries/config.sql
  queries/sections.sql
Due: Test, Build

websection
  backend/common/items.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/model/section.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/pages.graphqls
  backend/sqlc/section-queries.go
Due: Test, Build

style
  backend/graph/api/resolver.go
Due: Test, Build

store context with progress
  backend/common/models.go
  backend/graph/api/generated/generated.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/schema.graphqls
  backend/sqlc/config.go
  backend/sqlc/models.go
  backend/sqlc/progress.sql.go
  backend/sqlc/section-queries.go
  backend/sqlc/sections.sql.go
  migrations/00073_section_options.sql
  queries/progress.sql
  queries/sections.sql
Due: Test, Build

fix video things
  cms/custom/interface-video-viewer/package-lock.json
Due: Build CMS

Context on progress
  backend/graph/api/items.resolvers.go
  backend/graph/api/model/section.go
  backend/graph/api/schema.resolvers.go
  backend/sqlc/progress-queries.go
  backend/sqlc/progress.sql.go
  backend/utils/ints.go
  queries/progress.sql
Due: Test, Build

union type instead of sectionitempagination
  backend/graph/api/generated/generated.go
  backend/graph/api/items.resolvers.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/schema/items.graphqls
Due: Test, Build

live fix
  web/src/pages/live/Live.vue
Due: Web

key for episodecontext
  backend/graph/api/items.resolvers.go
  backend/graph/api/resolver.go
  backend/graph/api/schema.resolvers.go
Due: Test, Build

Generate key if none is specified (and in dev)
  backend/cmd/api/env.go
Due: Test, Build

Slugs
  backend/cmd/api/main.go
  backend/common/items.go
  backend/common/loaders.go
  backend/export/export.go
  backend/graph/api/generated/generated.go
  backend/graph/api/items.resolvers.go
  backend/graph/api/model/collection.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/pages.graphqls
  backend/graph/api/schema/schema.graphqls
  backend/sqlc/collection-queries.go
  backend/sqlc/collections.sql.go
  backend/sqlc/models.go
  migrations/00074_collection_slugs.sql
  queries/collections.sql
Due: Test, Build

progress
  backend/graph/api/items.resolvers.go
  web/public/.well-known/assetlinks.json
  web/public/icons/utility/Medium/Chevron Right/Tint.svg
  web/src/components/EpisodeViewer.vue
  web/src/components/NotFound.vue
  web/src/components/episodes/EpisodeDisplay.vue
  web/src/components/page/Page.vue
  web/src/components/sections/FeaturedSection.vue
  web/src/components/sections/ItemList.vue
  web/src/components/sections/Slider.vue
  web/src/components/sections/WebSection.vue
  web/src/components/sections/breakpoints.ts
  web/src/graph/generated.ts
  web/src/graph/queries/analytics.graphql
  web/src/i18n/translations/en.json
  web/src/i18n/translations/no.json
  web/src/index.css
  web/src/pages/episode/Episode.vue
  web/src/pages/redirect/Execute.vue
  web/src/pages/redirect/Redirect.vue
  web/src/pages/redirect/redirect.graphql
  web/src/router/routes.ts
  web/src/services/analytics/events.ts
  web/src/services/analytics/index.ts
  web/src/utils/items.ts
Due: Web, Test, Build

fix not being able to launch in dev
  backend/cmd/api/env.go
Due: Test, Build

chevron fix
  web/public/icons/utility/Medium/ChevronRight/Tint.svg
  web/src/components/episodes/EpisodeDetails.vue
  web/src/components/sections/Slider.vue
  web/src/pages/episode/Episode.vue
Due: Web

hide on large
  web/src/components/page/Page.vue
  web/src/components/sections/Slider.vue
Due: Web

remove small
  web/src/components/sections/Slider.vue
  web/src/components/sections/breakpoints.ts
Due: Web

episode display
  web/src/components/episodes/EpisodeDisplay.vue
  web/src/components/sections/FeaturedSection.vue
  web/src/components/sections/IconSection.vue
  web/src/components/sections/ItemList.vue
  web/src/components/sections/SectionTitle.vue
  web/src/components/sections/breakpoints.ts
  web/src/pages/episode/Episode.vue
Due: Web

progress larger than 10
  queries/progress.sql
Due: none

progress larger than 10
  backend/sqlc/progress.sql.go
Due: Test, Build

progress
  backend/sqlc/progress.sql.go
Due: Test, Build

Prepend live element
  backend/sqlc/models.go
  migrations/00074_collection_slugs.sql
  migrations/00075_prepend_live_element.sql
Due: Test, Build

analytics
  web/src/components/episodes/EpisodeDisplay.vue
  web/src/components/sections/FeaturedSection.vue
  web/src/components/sections/Slider.vue
  web/src/pages/episode/Episode.vue
  web/src/services/analytics/events.ts
  web/src/services/analytics/index.ts
  web/src/services/auth0.ts
Due: Web

Prepend live element
  backend/common/items.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/model/section.go
  backend/graph/api/schema/pages.graphqls
  backend/sqlc/section-queries.go
  backend/sqlc/sections.sql.go
  queries/sections.sql
Due: Test, Build

context
  backend/graph/api/generated/generated.go
  backend/graph/api/items.resolvers.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/pages.resolvers.go
  backend/graph/api/schema/items.graphqls
  backend/graph/api/schema/pages.graphqls
  web/.env
  web/.env.prod
  web/src/components/episodes/EpisodeDisplay.vue
  web/src/components/sections/Section.vue
  web/src/graph/generated.ts
  web/src/graph/queries/episode.graphql
  web/src/graph/queries/live.graphql
  web/src/pages/calendar/Calendar.vue
  web/src/pages/live/Live.vue
  web/src/pages/page/Page.vue
  web/src/pages/search/Search.vue
  web/src/services/analytics/events.ts
  web/src/services/analytics/index.ts
Due: Web, Test, Build

more effective join query
  migrations/00076_update_filter_dataset_view.sql
Due: none

p
  web/src/pages/page/Page.vue
Due: Web

fix: dont center web section
  web/src/components/sections/WebSection.vue
Due: Web

paginate the last item
  web/src/components/page/Page.vue
  web/src/components/sections/DefaultGridSection.vue
  web/src/components/sections/ListSection.vue
  web/src/components/sections/Section.vue
  web/src/graph/generated.ts
  web/src/graph/queries/page.graphql
  web/src/graph/queries/section.graphql
Due: Web

loader different
  web/codegen.yml
  web/src/components/episodes/EpisodeDisplay.vue
  web/src/components/page/Page.vue
  web/src/components/sections/DefaultGridSection.vue
  web/src/components/sections/ListSection.vue
  web/src/graph/generated.ts
  web/src/graph/queries/section.graphql
  web/src/pages/calendar/Calendar.vue
  web/src/pages/live/Live.vue
  web/src/pages/page/Page.vue
  web/src/pages/search/Search.vue
Due: Web

first update
  web/src/components/languages/LanguageDisplay.vue
  web/src/components/languages/LanguageMain.vue
  web/src/components/navbar/Navbar.vue
Due: Web

codegen
  web/codegen.yml
Due: Web

skeleton sections
  web/.prettierignore
  web/src/components/page/Page.vue
  web/src/components/page/SkeletonSections.vue
Due: Web

Replace view with function
  backend/items/collection/filter.go
  migrations/00077_replace_filter_view_with_func.sql
Due: Test, Build

fix filter string
  backend/items/collection/filter.go
Due: Test, Build

Path conditions:
  Web: any of: web/
  Build CMS: any of: cms/
  Test: any of: backend/
  Build: any of: backend/
