Repository bcc-code/bcc-media-platform: changes, and which Semaphore blocks are due for each by the changed paths.
All: Web, Build CMS, Test, Build

Path conditions:
  Web: any of: web/
  Build CMS: any of: cms/
  Test: any of: backend/
  Build: any of: backend/

Pagination direction desc will reverse the order
  backend/graph/api/collection-resolver.go
  backend/graph/api/faq.resolvers.go
  backend/graph/api/generated/generated.go
  backend/graph/api/items.resolvers.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/pages.resolvers.go
  backend/graph/api/schema/items.graphqls
  backend/utils/paginate.go
Due: Test, Build

pagination
  backend/graph/api/items.resolvers.go
Due: Test, Build

unused functions
  backend/graph/api/lists.go
Due: Test, Build

fix migration and add permissions
  migrations/00018_availability_roles_view.sql
Due: none

fix migration
  backend/push/client.go
  backend/sqlc/models.go
  backend/sqlc/mutation-queries.go
  backend/sqlc/mutations.sql.go
  go.mod
  go.sum
  migrations/00018_profiles_devices.sql
  migrations/pg-diff-config.json
  queries/mutations.sql
Due: Test, Build

devices and profiles
  backend/cmd/api/main.go
  backend/common/loader.go
  backend/common/user.go
  backend/common/userdata.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/devices.graphqls
  backend/graph/api/schema/profiles.graphqls
  backend/graph/api/schema/schema.graphqls
  backend/sqlc/device-queries.go
  backend/sqlc/models.go
  backend/sqlc/mutation-queries.go
  backend/sqlc/mutations.sql.go
  backend/sqlc/profile-queries.go
  backend/sqlc/user-devices.sql.go
  backend/sqlc/user-profiles.sql.go
  backend/user/middleware.go
  go.mod
  go.sum
  migrations/00018_profiles_devices.sql
  queries/mutations.sql
  queries/user-devices.sql
  queries/user-profiles.sql
Due: Test, Build

profiles primed after creation
  backend/graph/api/schema.resolvers.go
  migrations/00018_profiles_devices.sql
Due: Test, Build

Devices and profiles. Some initial implementation of push
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/devices.graphqls
  backend/graph/api/schema/schema.graphqls
  backend/push/client.go
Due: Test, Build

itemsection type deprecated
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/model/section.go
  backend/graph/api/schema/pages.graphqls
Due: Test, Build

Expose postersection, defaultsection
  backend/common/images.go
  backend/common/items.go
  backend/graph/api/collection-resolver.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/episode.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/model/page.go
  backend/graph/api/model/season.go
  backend/graph/api/model/section.go
  backend/graph/api/model/show.go
  backend/graph/api/pages.resolvers.go
  backend/graph/api/schema/pages.graphqls
  backend/sqlc/section-queries.go
  backend/sqlc/sections.sql.go
  queries/sections.sql
Due: Test, Build

in case we need to scale by height later
  backend/graph/api/generated/generated.go
  backend/graph/api/pages.resolvers.go
  backend/graph/api/schema/pages.graphqls
Due: Test, Build

Unused methods
  backend/common/items.go
Due: Test, Build

filter permissions
  backend/graph/api/collection-resolver.go
Due: Test, Build

Height cannot be defined by client
  backend/graph/api/generated/generated.go
  backend/graph/api/pages.resolvers.go
  backend/graph/api/schema/pages.graphqls
Due: Test, Build

section entry resolver
  backend/graph/api/collection-resolver.go
Due: Test, Build

fix some minor web issues
  web/codegen.yml
  web/src/components/sections/CardSection.vue
  web/src/components/sections/CardSectionItem.vue
  web/src/components/sections/HeaderSectionItem.vue
  web/src/components/sections/ItemSection.vue
  web/src/components/sections/SwiperSection.vue
  web/src/components/sections/SwiperSectionItem.vue
  web/src/components/sections/types.ts
  web/src/graph/generated.ts
  web/src/graph/queries/page.graphql
  web/src/graph/queries/section.graphql
Due: Web

fix internal error
  backend/cmd/api/main.go
  backend/common/items.go
  backend/common/loader.go
  backend/graph/api/collection-resolver.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/pages.resolvers.go
  backend/graph/api/resolver.go
  backend/graph/api/schema/pages.graphqls
  backend/sqlc/models.go
  backend/sqlc/section-queries.go
  backend/sqlc/sections.sql.go
  migrations/00018_link_item_title.sql
  queries/sections.sql
Due: Test, Build

owner to
  migrations/00018_link_item_title.sql
Due: none

Fix collection-resolver
  backend/graph/api/collection-resolver.go
Due: Test, Build

Also remove unused loaders
  backend/cmd/api/main.go
  backend/common/loader.go
Due: Test, Build

ordering
  migrations/00019_availability_roles_view.sql
Due: none

formatting
  web/src/components/icons/index.ts
  web/src/components/navbar/Navbar.vue
  web/src/components/sections/CardSection.vue
  web/src/components/sections/CardSectionItem.vue
  web/src/components/sections/ItemSection.vue
  web/src/components/sections/SwiperSection.vue
  web/src/components/sections/SwiperSectionItem.vue
  web/src/components/sections/types.ts
  web/src/graph/generated.ts
Due: Web

remove some options from directus
  backend/sqlc/collections.sql.go
  backend/sqlc/episodes.sql.go
  backend/sqlc/seasons.sql.go
  backend/sqlc/shows.sql.go
  migrations/00020_remove_season_select_section_conditions.sql
Due: Test, Build

items filtered
  backend/items/collection/loader.go
Due: Test, Build

deploy shouldn't filter changes
  .semaphore/deploy-dev.yml
  .semaphore/deploy-prod.yml
  .semaphore/deploy-sta.yml
Due: none

add production date and primary episode
  backend/common/items.go
  backend/graph/api/generated/generated.go
  backend/graph/api/items.resolvers.go
  backend/graph/api/model/episode.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/schema/items.graphqls
  backend/items/show/defaults.go
  backend/sqlc.yaml
  backend/sqlc/episode-queries.go
  backend/sqlc/episodes.sql.go
  backend/sqlc/models.go
  backend/sqlc/seasons.sql.go
  backend/sqlc/show-queries.go
  backend/sqlc/shows.sql.go
  backend/utils/ints.go
  migrations/00021_production_date_default_episode_behaviour.sql
  queries/episodes.sql
  queries/seasons.sql
  queries/shows.sql
Due: Test, Build

production date in title
  backend/common/items.go
  backend/graph/api/model/episode.go
  backend/sqlc/episode-queries.go
  backend/sqlc/episodes.sql.go
  backend/sqlc/models.go
  migrations/00013_shows_seasons_tags.sql
  migrations/00016_sections_images_styles.sql
  migrations/00018_link_item_title.sql
  migrations/00021_production_date_default_episode_behaviour.sql
  migrations/00021_publish_date_in_title_episode_behaviour.sql
  queries/episodes.sql
Due: Test, Build

tertiary title on section item
  backend/graph/api/collection-resolver.go
  backend/graph/api/generated/generated.go
  backend/graph/api/items.resolvers.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/pages.resolvers.go
  backend/graph/api/schema/collections.graphqls
  backend/graph/api/schema/items.graphqls
  backend/graph/api/schema/pages.graphqls
  backend/sqlc/episodes.sql.go
  migrations/00021_publish_date_in_title_episode_behaviour.sql
  queries/episodes.sql
Due: Test, Build

format dates
  backend/graph/api/pages.resolvers.go
  backend/utils/dates.go
  go.mod
  go.sum
Due: Test, Build

build web every time
  .semaphore/semaphore.yml
Due: none

link styles
  backend/sqlc/images.go
  backend/sqlc/section-queries.go
  backend/sqlc/sections.sql.go
  queries/sections.sql
Due: Test, Build

merge develop
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  migrations/00021_profiles_devices.sql
Due: Test, Build

unused variable
  backend/cmd/api/main.go
Due: Test, Build

Sections also filtered with permissions in query
  backend/cmd/api/main.go
  backend/common/loader.go
  backend/graph/api/pages.resolvers.go
  backend/sqlc/section-queries.go
  backend/sqlc/sections.sql.go
  queries/sections.sql
Due: Test, Build

image fallback
  backend/graph/api/model/episode.go
  backend/graph/api/model/season.go
  backend/graph/api/model/show.go
  backend/graph/api/pages.resolvers.go
Due: Test, Build

some section changes
  web/.env
  web/src/components/sections/CardSection.vue
  web/src/components/sections/CardSectionItem.vue
  web/src/components/sections/DefaultSection.vue
  web/src/components/sections/FeaturedSection.vue
  web/src/components/sections/GridSection.vue
  web/src/components/sections/HeaderSection.vue
  web/src/components/sections/HeaderSectionItem.vue
  web/src/components/sections/IconSection.vue
  web/src/components/sections/ItemSection.vue
  web/src/components/sections/LabelSection.vue
  web/src/components/sections/PosterSection.vue
  web/src/components/sections/Section.vue
  web/src/components/sections/SwiperSection.vue
  web/src/components/sections/SwiperSectionItem.vue
  web/src/components/sections/types.ts
  web/src/graph/generated.ts
  web/src/graph/queries/page.graphql
  web/src/pages/page/Page.vue
  web/src/pages/page/queries.graphql
  web/src/router/routes.ts
Due: Web

padding
  web/src/components/search/SearchItem.vue
Due: Web

formatting
  web/src/components/search/SearchItem.vue
  web/src/components/sections/DefaultSection.vue
  web/src/components/sections/FeaturedSection.vue
  web/src/components/sections/GridSection.vue
  web/src/components/sections/IconSection.vue
  web/src/components/sections/LabelSection.vue
  web/src/components/sections/PosterSection.vue
  web/src/components/sections/Section.vue
  web/src/components/sections/types.ts
  web/src/graph/generated.ts
Due: Web

styling updates
  web/index.html
  web/src/components/sections/DefaultSection.vue
  web/src/components/sections/FeaturedSection.vue
  web/src/components/sections/GridSection.vue
  web/src/components/sections/PosterSection.vue
  web/src/components/sections/SectionTitle.vue
  web/src/pages/page/Page.vue
Due: Web

more design
  web/src/components/icons/Calendar.vue
  web/src/components/icons/Feed.vue
  web/src/components/icons/Home.vue
  web/src/components/icons/Live.vue
  web/src/components/icons/Play.vue
  web/src/components/icons/Search.vue
  web/src/components/navbar/NavLink.vue
  web/src/components/sections/FeaturedSection.vue
Due: Web
