Repository bcc-code/bcc-media-platform: changes, and which Semaphore blocks are due for each by the changed paths.
All: Web, Build CMS, Test, Build

Path conditions:
  Web: any of: web/
  Build CMS: any of: cms/
  Test: any of: backend/
  Build: any of: backend/

crowdin2
  backend/crowdin2/build.go
  backend/crowdin2/request.go
  go.mod
  go.sum
Due: Test, Build

feat: complete task on next
  web/src/components/study/Lesson.vue
  web/src/components/study/Tasks.vue
  web/src/components/study/tasks/AlternativesTask.vue
  web/src/graph/client.ts
  web/src/graph/generated.ts
  web/src/graph/queries/study.graphql
  web/src/utils/flutter.ts
Due: Web

Links
  backend/cmd/api/main.go
  backend/common/loaders.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/schema/pages.graphqls
  backend/graph/api/schema/studies.graphqls
  backend/graph/api/studies.resolvers.go
  backend/sqlc/studies.sql.go
  backend/sqlc/study-queries.go
  queries/studies.sql
Due: Test, Build

links
  migrations/00093_links.sql
Due: none

Add types to entries in collection
  backend/export/export.go
  backend/export/sqlc/migrations/01_init.sql
  backend/export/sqlc/queries/collections.sql
  backend/export/sqlexport/collections.sql.go
  backend/export/sqlexport/models.go
Due: Test, Build

navbar margins
  web/src/components/navbar/Navbar.vue
Due: Web

feat(web): implement VButton based on figma, other study things
  web/src/components/VButton.vue
  web/src/components/study/LargeButton.vue
  web/src/components/study/Lesson.vue
  web/src/components/study/Tasks.vue
  web/src/components/study/tasks/TextTask.vue
  web/src/graph/generated.ts
  web/tailwind.config.cjs
Due: Web

live max w
  web/crowdin.yml
  web/src/i18n/index.ts
  web/src/pages/live/Live.vue
  web/src/translations/de.json
  web/src/translations/es.json
  web/src/translations/fi.json
  web/src/translations/fr.json
  web/src/translations/hu.json
  web/src/translations/it.json
  web/src/translations/nb.json
  web/src/translations/nl.json
  web/src/translations/pl.json
  web/src/translations/pt.json
  web/src/translations/ro.json
  web/src/translations/ru.json
  web/src/translations/sl.json
  web/src/translations/tr.json
Due: Web

norwegian translations
  web/src/translations/nb.json
Due: Web

fix title in description
  backend/graph/api/studies.resolvers.go
Due: Test, Build

update code according to the PR comments
  web/src/components/languages/LanguageSetting.vue
  web/src/components/navbar/Navbar.vue
  web/src/graph/generated.ts
  web/src/pages/setting/playground.txt
  web/src/services/language.ts
  web/src/translations/en.json
  web/src/translations/no.json
Due: Web

link type and some translations
  .gitignore
  backend/common/items.go
  backend/common/studies.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/model/task.go
  backend/graph/api/pages.resolvers.go
  backend/graph/api/schema/pages.graphqls
  backend/graph/api/schema/studies.graphqls
  backend/graph/api/studies.resolvers.go
  backend/sqlc/models.go
  backend/sqlc/section-queries.go
  backend/sqlc/sections.sql.go
  backend/sqlc/studies.sql.go
  backend/sqlc/study-queries.go
  migrations/00094_link_type.sql
  queries/sections.sql
  queries/studies.sql
  web/README.md
  web/package.json
  web/src/translations/fr.json
Due: Web, Test, Build

migration fix
  migrations/00094_link_type.sql
Due: none

add sentry
  web/crowdin.yml
  web/index.html
  web/package.json
  web/pnpm-lock.yaml
  web/src/components/VButton.vue
  web/src/components/icons/index.ts
  web/src/components/navbar/Navbar.vue
  web/src/components/page/Page.vue
  web/src/components/sections/item/DefaultGridSection.vue
  web/src/components/sections/item/DefaultSection.vue
  web/src/components/sections/item/FeaturedSection.vue
  web/src/components/sections/item/ListSection.vue
  web/src/components/sections/item/PosterGridSection.vue
  web/src/components/sections/item/PosterSection.vue
  web/src/components/study/Lesson.vue
  web/src/components/study/Tasks.vue
  web/src/components/study/tasks/Alternative.vue
  web/src/components/study/tasks/AlternativesTask.vue
  web/src/components/study/tasks/TextTask.vue
  web/src/components/support/ContactForm.vue
  web/src/graph/client.ts
  web/src/i18n/index.ts
  web/src/main.ts
  web/src/pages/embed/Embed.vue
  web/src/router/routes.ts
  web/src/services/revision.ts
  web/src/styles/barlow.css
  web/src/styles/design-system.css
  web/src/styles/index.css
  web/src/translations/hu.json
  web/src/translations/sl.json
  web/src/utils/flutter.ts
  web/src/utils/items.ts
  web/tailwind.config.cjs
Due: Web

feat(web): study texttask and more page
  web/src/components/VButton.vue
  web/src/components/study/Lesson.vue
  web/src/components/study/LinkListItem.vue
  web/src/components/study/More.vue
  web/src/components/study/TaskButton.vue
  web/src/components/study/Tasks.vue
  web/src/components/study/tasks/AlternativesTask.vue
  web/src/components/study/tasks/TextTask.vue
  web/src/graph/generated.ts
  web/src/graph/queries/study.graphql
  web/src/styles/index.css
  web/src/translations/en.json
Due: Web

feat(web): study: route, styles, error handling, etc
  web/index.html
  web/src/components/VButton.vue
  web/src/components/study/Lesson.vue
  web/src/components/study/More.vue
  web/src/components/study/Tasks.vue
  web/src/components/study/tasks/TextTask.vue
  web/src/graph/client.ts
  web/src/graph/generated.ts
  web/src/graph/queries/study.graphql
  web/src/pages/embed/Embed.vue
  web/src/router/routes.ts
  web/src/translations/en.json
  web/src/utils/flutter.ts
Due: Web

episode feedback
  backend/common/items.go
  backend/graph/api/generated/generated.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/schema.graphqls
  backend/graph/api/task-resolver.go
  backend/sqlc/episode-queries.go
  backend/sqlc/episodes.sql.go
  backend/sqlc/models.go
  backend/sqlc/studies.sql.go
  migrations/00095_metadata_and_uuid.sql
  queries/episodes.sql
  queries/studies.sql
Due: Test, Build

softlength
  migrations/00095_desc_length.sql
Due: none

nil check
  backend/graph/api/pages.resolvers.go
Due: Test, Build

nil
  backend/graph/api/pages.resolvers.go
Due: Test, Build

fix nil
  backend/graph/api/pages.resolvers.go
  web/src/main.ts
Due: Web, Test, Build

fix nil
  backend/graph/api/schema.resolvers.go
Due: Test, Build

...
  backend/graph/api/resolver.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/task-resolver.go
Due: Test, Build

fix query
  web/src/components/SearchInput.vue
  web/src/components/search/EpisodeSearchQuery.vue
  web/src/components/search/ShowSearchQuery.vue
  web/src/pages/search/Search.vue
Due: Web

error presenter
  backend/cmd/api/main.go
  backend/graph/api/resolver.go
Due: Test, Build

fix migration order
  migrations/00096_metadata_and_uuid.sql
Due: none

return err
  backend/crowdin/client.go
Due: Test, Build

move some more translation
  backend/cmd/jobs/main.go
  backend/crowdin2/build.go
  backend/directus/assets.go
  backend/directus/assetsfile.go
  backend/directus/assetstream.go
  backend/directus/client.go
  backend/directus/items.go
  backend/directus/translations.go
  backend/translations/client.go
  backend/translations/directus.go
  backend/translations/models.go
  web/src/components/SearchInput.vue
Due: Web, Test, Build

Avoid returning error on calendarentry
  backend/graph/api/calendar.resolvers.go
Due: Test, Build

Directus translations
  backend/directus/translations.go
  backend/translations/directus.go
Due: Test, Build

Fix db type
  migrations/00096_fix_db_type.sql
Due: none

Migration order
  migrations/00097_metadata_and_uuid.sql
Due: none

Update cleanup
  backend/graph/api/schema.resolvers.go
Due: Test, Build

Move logic to inside crowdin
  backend/cmd/jobs/main.go
  backend/crowdin/build/build.go
  backend/crowdin/build/client.go
  backend/crowdin/build/request.go
  backend/crowdin/client.go
  backend/directus/translations.go
  backend/translations/client.go
  backend/translations/directus.go
  backend/translations/models.go
Due: Test, Build

Ignore error as it will never occur
  backend/graph/api/schema.resolvers.go
Due: Test, Build

Ignore error as it will never occur
  backend/graph/api/resolver.go
Due: Test, Build

Faster crowdin push
  backend/cmd/jobs/main.go
  backend/crowdin/build/build.go
  backend/crowdin/client.go
Due: Test, Build

No sync
  backend/cmd/jobs/main.go
Due: Test, Build

mod
  go.mod
Due: none

move to crowdin package
  backend/crowdin/build.go
  backend/crowdin/build/client.go
  backend/crowdin/build/request.go
  backend/crowdin/client.go
  backend/crowdin/events.go
  backend/crowdin/files.go
  backend/crowdin/models.go
  backend/crowdin/request.go
  backend/crowdin/translations.go
Due: Test, Build
