Repository bcc-code/bcc-media-platform: changes, and which Semaphore blocks are due for each by the changed paths.
All: Web, Build CMS, Test, Build

Path conditions:
  Web: any of: web/
  Build CMS: any of: cms/
  Test: any of: backend/
  Build: any of: backend/

allow creation of section styles
  migrations/00010_dynamic_section_styles.sql
Due: none

feat: make calendar visible
  migrations/00010_make_calendar_visible.sql
Due: none

fix: errors in makefiles and db_diff
  cms/Makefile
  scripts/db_diff.sh
Due: Build CMS

Applications
  Makefile
  backend/applications/middleware.go
  backend/cmd/api/main.go
  backend/common/items.go
  backend/common/loader.go
  backend/search/filters.go
  backend/search/query.go
  backend/sqlc/application-queries.go
  backend/sqlc/applications.sql.go
  backend/sqlc/models.go
  backend/user/access.go
  backend/user/roles.go
  migrations/00011_applications.sql
  queries/applications.sql
Due: Test, Build

Expose current application
  backend/applications/middleware.go
  backend/cmd/api/main.go
  backend/common/items.go
  backend/graph/applications.resolvers.go
  backend/graph/generated/generated.go
  backend/graph/model/models_gen.go
  backend/graph/schema.resolvers.go
  backend/graph/schema/applications.graphqls
  backend/graph/schema/schema.graphqls
  backend/sqlc/application-queries.go
  backend/sqlc/applications.sql.go
  queries/applications.sql
Due: Test, Build

Remove appconfig from gql
  backend/graph/applications.resolvers.go
  backend/graph/config.resolvers.go
  backend/graph/generated/generated.go
  backend/graph/model/models_gen.go
  backend/graph/schema.resolvers.go
  backend/graph/schema/config.graphqls
Due: Test, Build

fix migration
  migrations/00011_applications.sql
Due: none

add tracer to loader
  backend/common/loader.go
Due: Test, Build

change to bccm-video-player
  cms/custom/interface-video-viewer/package-lock.json
  cms/custom/interface-video-viewer/package.json
  cms/custom/interface-video-viewer/src/index.ts
  cms/custom/interface-video-viewer/src/player/Player.vue
  cms/custom/interface-video-viewer/src/viewer/Viewer.vue
Due: Build CMS

grant select
  migrations/00011_applications.sql
Due: none

implement tracing of schema
  backend/cmd/api/graphtracer.go
  backend/cmd/api/main.go
  backend/graph/resolver.go
Due: Test, Build

get names and contexts
  backend/cmd/api/graphtracer.go
Due: Test, Build

typo
  backend/members/request.go
Due: Test, Build

missing language mapping
  backend/utils/language-map.go
Due: Test, Build

Type and score
  backend/common/models.go
  backend/graph/generated/generated.go
  backend/graph/schema.resolvers.go
  backend/graph/schema/schema.graphqls
  backend/graph/search-resolver.go
  backend/search/fields.go
  backend/search/filters.go
  backend/search/indexing.go
  backend/search/query.go
Due: Test, Build

icons
  web/public/icons/explore/events.svg
  web/public/icons/explore/films.svg
  web/public/icons/explore/kids.svg
  web/public/icons/explore/music.svg
  web/public/icons/explore/series.svg
  web/public/icons/explore/star.svg
Due: Web

search design
  web/index.html
  web/src/components/search/EpisodeSearchQuery.vue
  web/src/components/search/SearchItem.vue
  web/src/components/search/ShowSearchQuery.vue
  web/src/graph/generated.ts
  web/src/index.css
  web/src/pages/search/Search.vue
  web/src/pages/search/search.graphql
Due: Web

icons
  web/public/icons/TabBar/Calendar/Default.svg
  web/public/icons/TabBar/Calendar/Selected.svg
  web/public/icons/TabBar/Feed/Default.svg
  web/public/icons/TabBar/Feed/Selected.svg
  web/public/icons/TabBar/Home/Default.svg
  web/public/icons/TabBar/Home/Selected.svg
  web/public/icons/TabBar/Live/Default.svg
  web/public/icons/TabBar/Live/Selected.svg
  web/public/icons/TabBar/NewsEvents/Notification/Default.svg
  web/public/icons/TabBar/NewsEvents/Notification/Selected.svg
  web/public/icons/TabBar/Placeholder.svg
  web/public/icons/TabBar/Playlists/Default.svg
  web/public/icons/TabBar/Playlists/Selected.svg
  web/public/icons/TabBar/Poll/Default.svg
  web/public/icons/TabBar/Poll/Selected.svg
  web/public/icons/TabBar/Search/Default.svg
  web/public/icons/TabBar/Search/Selected.svg
  web/public/icons/TabBar/Testimony/Default.svg
  web/public/icons/TabBar/Testimony/Selected.svg
  web/public/icons/TabBar/Theme/Default.svg
  web/public/icons/TabBar/Theme/selected.svg
  web/public/icons/explore/events.svg
  web/public/icons/explore/films.svg
  web/public/icons/explore/kids.svg
  web/public/icons/explore/music.svg
  web/public/icons/explore/series.svg
  web/public/icons/explore/star.svg
  web/src/components/navbar/NavLink.vue
  web/src/components/navbar/Navbar.vue
Due: Web

some responsiveness
  web/src/components/navbar/NavLink.vue
  web/src/components/navbar/Navbar.vue
Due: Web

Navbar
  web/src/components/navbar/NavLink.vue
  web/src/components/navbar/Navbar.vue
  web/src/components/search/EpisodeSearchQuery.vue
  web/src/components/search/SearchItem.vue
  web/src/components/search/ShowSearchQuery.vue
  web/src/services/language.ts
Due: Web

logo
  web/public/logo.svg
  web/src/components/navbar/Navbar.vue
  web/src/layout/StackedLayout.vue
  web/src/pages/Page.vue
  web/src/router/index.ts
Due: Web

unused locale
  web/src/i18n/index.ts
Due: Web

.
  web/src/components/navbar/Navbar.vue
  web/src/pages/Page.vue
Due: Web

undefined
  web/src/components/navbar/Navbar.vue
Due: Web

divs
  web/src/components/navbar/Navbar.vue
Due: Web

retrieve translations through db instead of directus. save through directus still for sync
  backend/cmd/jobs/main.go
  backend/crowdin/client.go
  backend/directus/translations.go
  backend/sqlc/translations.sql.go
  queries/translations.sql
Due: Test, Build

just force it anyway. not many updates, but if the requests take long, it's less likely for duplicates to occur
  backend/crowdin/client.go
Due: Test, Build

Lock crowdin sync so that multiple instances don't redo the sync
  backend/cmd/jobs/main.go
  backend/cmd/jobs/server/server.go
  backend/database/locks.go
Due: Test, Build

ExternalServices
  backend/cmd/jobs/main.go
  backend/cmd/jobs/server/server.go
  backend/cmd/jobs/server/services.go
Due: Test, Build

credit
  backend/database/locks.go
Due: Test, Build

unknown if empty
  backend/cmd/api/graphtracer.go
Due: Test, Build

initial implementation of adding meta
  backend/cmd/rewrite/env.go
  backend/cmd/rewrite/main.go
Due: Test, Build

Section styling with size and style type
  backend/common/items.go
  backend/graph/generated/generated.go
  backend/graph/model/models_gen.go
  backend/graph/model/section.go
  backend/graph/pages.resolvers.go
  backend/graph/schema.resolvers.go
  backend/graph/schema/pages.graphqls
  backend/graph/schema/schema.graphqls
  backend/sqlc/models.go
  backend/sqlc/section-queries.go
  backend/sqlc/sections.sql.go
  migrations/00012_section_styling.sql
  queries/sections.sql
Due: Test, Build

public endpoitns
  backend/cmd/api/env.go
  backend/cmd/api/env.sample
  backend/cmd/api/main.go
  backend/common/items.go
  backend/common/loader.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/episode.go
  backend/graph/api/model/season.go
  backend/graph/api/model/show.go
  backend/graph/api/pages.resolvers.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/schema.graphqls
  backend/graph/public/generated/generated.go
  backend/graph/public/model/models_gen.go
  backend/graph/public/schema.episodes.resolvers.go
  backend/graph/public/schema.resolvers.go
  backend/graph/public/schema.seasons.resolvers.go
  backend/graph/public/schema/schema.seasons.graphqls
  backend/search/episodes.go
  backend/search/fields.go
  backend/search/indexing.go
  backend/search/seasons.go
  backend/search/service.go
  backend/search/shows.go
  backend/sqlc/episode-queries.go
  backend/sqlc/file-queries.go
  backend/sqlc/season-queries.go
  backend/sqlc/show-queries.go
  backend/sqlc/shows.sql.go
  queries/shows.sql
Due: Test, Build

rewrite html with episode content
  backend/cmd/rewrite/api.go
  backend/cmd/rewrite/main.go
Due: Test, Build

meta
  backend/cmd/rewrite/api.go
  backend/cmd/rewrite/main.go
Due: Test, Build
