Repository bcc-code/bcc-media-platform: changes, and which Semaphore blocks are due for each by the changed paths.
All: Web, Build CMS, Test, Build

Web:
  jobs:
  - name: deploy
    commands:
    - checkout
    - ./scripts/web.sh dev

Build CMS:
  jobs:
  - name: build
    commands:
    - checkout
    - cd cms
    - docker build -t "europe-west4-docker.pkg.dev/utils-332514/btv-platform/cms:${SEMAPHORE_GIT_SHA:0:7}" -t europe-west4-docker.pkg.dev/utils-332514/btv-platform/cms:$SEMAPHORE_GIT_BRANCH .
  ...

Test:
  jobs:
  - name: go test
    commands:
    - export GOPATH=~/go
    - export PATH=/home/semaphore/go/bin:$PATH
    - export CGO_ENABLED=0
    - checkout
    - cache restore
    - go get ./...
    - go test ./...
  epilogue:
    on_pass:
      commands:
      - cache store
  prologue:
    commands:
    - sem-version go 1.19

Build:
  prologue:
    commands:
    - sem-version go 1.19
    - export GOPATH=~/go
    - export PATH=/home/semaphore/go/bin:$PATH
    - checkout
    - cache restore
    - gcloud auth activate-service-account --key-file=/home/semaphore/secrets/google.key.json
  ...

migration order
  migrations/00103_achievements.sql
  migrations/00104_achievements_achieved.sql
  migrations/00105_achievements_confirmed_at.sql
Due: none

bcc media STI
  web/src/components/Footer.vue
Due: Web

empty strings
  web/src/translations/de.json
  web/src/translations/es.json
  web/src/translations/fi.json
  web/src/translations/fr.json
  web/src/translations/hu.json
  web/src/translations/it.json
  web/src/translations/nb.json
  web/src/translations/nl.json
  web/src/translations/pl.json
  web/src/translations/pt.json
  web/src/translations/ro.json
  web/src/translations/ru.json
  web/src/translations/sl.json
  web/src/translations/tr.json
Due: Web

unnecessary file
  web/public/Content/js/btvplayer.js
Due: Web

Better sql query for checking achievement
  backend/achievements/conditions.go
  backend/cmd/api/main.go
  backend/common/loaders.go
  backend/graph/api/schema.resolvers.go
  backend/sqlc/achievements.sql.go
  backend/sqlc/models.go
  backend/sqlc/studies.sql.go
  backend/sqlc/study-queries.go
  migrations/00103_achievements.sql
  queries/studies.sql
Due: Test, Build

Simplification
  backend/achievements/conditions.go
  backend/graph/api/schema.resolvers.go
Due: Test, Build

feat/achievements naming
  backend/achievements/conditions.go
  backend/graph/api/schema.resolvers.go
  backend/sqlc/achievements.sql.go
  queries/achievements.sql
Due: Test, Build

Check all pending achievements
  backend/achievements/conditions.go
  backend/graph/api/schema.resolvers.go
Due: Test, Build

localedatestring
  web/src/components/episodes/EpisodeDetails.vue
Due: Web

memory leak fix
  backend/utils/paginate.go
  web/src/utils/items.ts
Due: Web, Test, Build

download our app
  web/public/badges/app_store.png
  web/public/badges/google_play.png
  web/src/components/Footer.vue
  web/src/components/episodes/SharePopover.vue
  web/src/translations/en.json
Due: Web

translations
  web/src/translations/de.json
  web/src/translations/es.json
  web/src/translations/fi.json
  web/src/translations/fr.json
  web/src/translations/hu.json
  web/src/translations/it.json
  web/src/translations/nb.json
  web/src/translations/nl.json
  web/src/translations/pl.json
  web/src/translations/pt.json
  web/src/translations/ro.json
  web/src/translations/ru.json
  web/src/translations/sl.json
  web/src/translations/tr.json
Due: Web

no reason to ratelimit when we can check if task is already completed
  backend/common/errors.go
  backend/graph/api/schema.resolvers.go
Due: Test, Build

fix: imgix urls
  web/src/components/study/tasks/PosterTask.vue
Due: Web

add translations for danish and bulgarian
  web/src/i18n/index.ts
  web/src/translations/bg.json
  web/src/translations/da.json
  web/src/translations/nl.json
Due: Web

about us url
  web/src/components/navbar/Navbar.vue
Due: Web

Fix some descriptions and styling
  migrations/00103_directus_descriptions.sql
  web/src/components/navbar/Navbar.vue
  web/src/components/sections/item/Pill.vue
  web/src/components/sections/item/SectionItem.vue
  web/src/utils/items.ts
Due: Web

feat/achievements migration order
  migrations/00104_achievements.sql
  migrations/00105_achievements_achieved.sql
  migrations/00106_achievements_confirmed_at.sql
Due: none

pointer events
  web/src/components/sections/item/SectionItem.vue
Due: Web

wasLoggedin
  web/src/services/auth.ts
Due: Web

.
  web/src/services/auth.ts
Due: Web

web manifest
  web/index.html
  web/public/site.webmanifest
Due: Web

better manifest
  web/public/site.webmanifest
Due: Web

video-player
  packages/video-player/demo/App.vue
  packages/video-player/package.json
  packages/video-player/src/video-player/index.ts
Due: none

fix audio language
  web/package.json
  web/pnpm-lock.yaml
  web/src/components/EpisodeViewer.vue
Due: Web

some calendar fixes
  web/index.html
  web/src/components/EpisodeViewer.vue
  web/src/components/calendar/DayQuery.vue
  web/src/components/sections/item/Pill.vue
  web/src/components/sections/item/SectionItem.vue
  web/src/components/study/tasks/PosterTask.vue
  web/src/pages/calendar/Calendar.vue
  web/src/services/auth.ts
  web/src/utils/time.ts
Due: Web

fix(study): sizes on alternatives
  web/src/components/study/tasks/Alternative.vue
Due: Web

fix some dates
  web/src/components/study/tasks/Alternative.vue
  web/src/pages/calendar/Calendar.vue
  web/src/utils/time.ts
Due: Web

web/translations
  web/src/translations/fr.json
  web/src/translations/hu.json
  web/src/translations/nb.json
  web/src/translations/ro.json
  web/src/translations/sl.json
Due: Web

transition
  web/src/components/episodes/SharePopover.vue
Due: Web

task title to context
  backend/crowdin/client.go
  backend/crowdin/models.go
Due: Test, Build

status to 0 if not usergroups
  cms/src/hooks/sync-to-legacy/filters/episodes.ts
  cms/src/hooks/sync-to-legacy/filters/usergroups.ts
  cms/src/hooks/sync-to-legacy/utils.ts
Due: Build CMS

default image style for imageUrl
  backend/graph/api/model/episode.go
Due: Test, Build

feat(web): add barlow font weight 500 and 700
  web/index.html
  web/public/fonts/7cHqv4kjgoGqM7E3_-gs51ostz0rdg.woff2
  web/public/fonts/7cHqv4kjgoGqM7E3_-gs6Fostz0rdom9.woff2
  web/public/fonts/7cHqv4kjgoGqM7E3_-gs6Vostz0rdom9.woff2
  web/public/fonts/7cHqv4kjgoGqM7E3t-4s51ostz0rdg.woff2
  web/public/fonts/7cHqv4kjgoGqM7E3t-4s6Fostz0rdom9.woff2
  web/public/fonts/7cHqv4kjgoGqM7E3t-4s6Vostz0rdom9.woff2
  web/src/styles/barlow.css
Due: Web

feat(web): allow api env override via query param
  web/src/graph/client.ts
Due: Web

prettier
  web/src/graph/client.ts
Due: Web

prettier
  web/index.html
  web/src/styles/barlow.css
Due: Web

feat(study): video and link tasks
  web/src/components/study/Tasks.vue
  web/src/components/study/tasks/LinkTask.vue
  web/src/components/study/tasks/VideoTask.vue
  web/src/graph/generated.ts
  web/src/graph/queries/study.graphql
Due: Web

Implement targeted notifications
  backend/cmd/jobs/env.go
  backend/cmd/jobs/main.go
  backend/cmd/jobs/update-handler.go
  backend/common/models.go
  backend/members/lookup.go
Due: Test, Build

change language on init
  web/src/services/language.ts
Due: Web

Path conditions:
  Web: any of: web/
  Build CMS: any of: cms/
  Test: any of: backend/
  Build: any of: backend/
