Repository bcc-code/bcc-media-platform: changes, and which Semaphore blocks are due for each by the changed paths.
All: Web, Build CMS, Test, Build

Path conditions:
  Web: any of: web/
  Build CMS: any of: cms/
  Test: any of: backend/
  Build: any of: backend/

fix publish date tests
  tests/e2e/tests/availability_dates/available_both.test.ts
  tests/e2e/tests/publish_date.test.ts
Due: none

Changed titles for every test + cleaned up
  tests/e2e/lib/apiResponseFromEpisode.ts
  tests/e2e/tests/availability_dates/available_both.test.ts
  tests/e2e/tests/availability_dates/available_from.test.ts
  tests/e2e/tests/availability_dates/available_to.test.ts
  tests/e2e/tests/publish_date.test.ts
Due: none

titles for tests changed to lowercase
  tests/e2e/tests/availability_dates/available_from.test.ts
  tests/e2e/tests/availability_dates/available_to.test.ts
Due: none

add missing fktb episode ids to skip rating
  web/src/components/study/More.vue
Due: Web

elastic initial commit
  backend/cmd/elastic/.gitignore
  backend/cmd/elastic/index_settings.json
  backend/cmd/elastic/main.go
  go.mod
  go.sum
Due: Test, Build

Available from
  backend/graph/api/items.resolvers.go
  backend/graph/api/resolver.go
Due: Test, Build

surveys
  backend/crowdin/client.go
  backend/crowdin/items.go
  backend/directus/translations.go
  backend/sqlc/models.go
  backend/sqlc/surveys.sql.go
  backend/sqlc/translations.go
  backend/sqlc/translations.sql.go
  migrations/00152_survey_placeholder.sql
  queries/surveys.sql
  queries/translations.sql
Due: Test, Build

index settings
  backend/cmd/elastic/index_settings.json
Due: Test, Build

fix loader
  backend/cmd/api/loaders.go
Due: Test, Build

feat: calendar test, wip
  tests/e2e/lib/apiResponseFromCalendar.ts
  tests/e2e/tests/availability/availability_dates/available_both.test.ts
  tests/e2e/tests/availability/availability_dates/available_from.test.ts
  tests/e2e/tests/availability/availability_dates/available_to.test.ts
  tests/e2e/tests/availability/episode.test.ts
  tests/e2e/tests/availability/publish_date.test.ts
  tests/e2e/tests/availability/status.test.ts
  tests/e2e/tests/calendar/calendar.test.ts
Due: none

index settings and highlight
  backend/cmd/elastic/index_settings.json
  backend/cmd/elastic/main.go
Due: Test, Build

query
  backend/cmd/elastic/main.go
Due: Test, Build

elasticsearch index
  backend/cmd/api/env.go
  backend/cmd/api/main.go
  backend/cmd/elastic/index_settings.json
  backend/cmd/elastic/main.go
  backend/elastic/client.go
  backend/elastic/search.go
  backend/elastic/utils.go
Due: Test, Build

mod update
  go.mod
Due: none

mylist instead of metadata
  backend/graph/api/schema.resolvers.go
  backend/sqlc/models.go
  backend/sqlc/user-collection-queries.go
  backend/sqlc/user-collections.sql.go
  migrations/00153_user_collections.sql
  migrations/00154_directus_uuid_field.sql
  queries/user-collections.sql
Due: Test, Build

Order by updated at
  backend/sqlc/user-collections.sql.go
  queries/user-collections.sql
Due: Test, Build

permissions surveys
  migrations/00155_surveys_permissions.sql
Due: none

implement prompts instead of surveys on root
  backend/cmd/api/loaders.go
  backend/common/items.go
  backend/common/loaders.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/model/survey.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/schema.graphqls
  backend/graph/api/schema/surveys.graphqls
  backend/graph/api/surveys.resolvers.go
  backend/sqlc/models.go
  backend/sqlc/survey-queries.go
  backend/sqlc/surveys.sql.go
  migrations/00156_prompts.sql
  queries/surveys.sql
Due: Test, Build

feat: part 1
  web/src/components/study/tasks/SpecialGreeting.vue
  web/src/components/study/tasks/greeting/Parallax.vue
  web/src/components/study/tasks/greeting/SotmShapeLong.vue
Due: Web

UserInfo retrieved if not bcc member
  backend/auth0/userinfo.go
  backend/cmd/api/main.go
  backend/user/middleware.go
Due: Test, Build

Grant privileges
  migrations/00156_surveys_permissions_2.sql
Due: none

migration order
  migrations/00157_prompts.sql
Due: none

include token optional
  backend/common/models.go
  backend/graph/api/schema.resolvers.go
  backend/sqlc/models.go
  backend/sqlc/redirect-queries.go
  backend/sqlc/redirects.sql.go
  migrations/00157_include_token.sql
  queries/redirects.sql
Due: Test, Build

page 3 and 4
  web/src/components/study/tasks/SpecialGreeting.vue
  web/src/components/study/tasks/greeting/Page1.vue
  web/src/components/study/tasks/greeting/Page2.vue
  web/src/components/study/tasks/greeting/Page3.vue
  web/src/components/study/tasks/greeting/Page4.vue
Due: Web

Check that email is verified, or filter roles
  backend/common/user.go
  backend/members/models.go
  backend/sqlc/models.go
  backend/sqlc/users.sql.go
  backend/user/middleware.go
  migrations/00158_email_verified.sql
  queries/users.sql
Due: Test, Build

retrieve emails only if email is verified
  backend/user/middleware.go
Due: Test, Build

From to prompt
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/model/survey.go
  backend/graph/api/schema/surveys.graphqls
  backend/graph/api/surveys.resolvers.go
Due: Test, Build

move to appropriate files
  backend/graph/api/generated/generated.go
  backend/graph/api/model/prompt.go
  backend/graph/api/model/survey.go
  backend/graph/api/prompts.resolvers.go
  backend/graph/api/schema/prompts.graphqls
  backend/graph/api/schema/surveys.graphqls
  backend/graph/api/surveys.resolvers.go
Due: Test, Build

migration order
  migrations/00159_prompts.sql
Due: none

remove owner to
  migrations/00159_prompts.sql
Due: none

fix progress spacing on episode page
  web/src/components/sections/ItemList.vue
Due: Web

info
  backend/user/middleware.go
Due: Test, Build

Ignore info
  backend/user/middleware.go
Due: Test, Build

sub
  backend/user/middleware.go
Due: Test, Build

finished CalenderEntries test + CalenderPeriod test
  tests/e2e/TODO.md
  tests/e2e/lib/apiResponseFromCalendar.ts
  tests/e2e/tests/calendar/calendar.test.ts
  tests/e2e/tests/calendar/calendarEntries.test.ts
  tests/e2e/tests/calendar/calendarPeriod.test.ts
Due: none

wip still janky
  web/.env
  web/src/components/study/tasks/LinkTask.vue
  web/src/components/study/tasks/greeting/Page1.vue
  web/src/components/study/tasks/greeting/Page2.vue
  web/src/components/study/tasks/greeting/Page3.vue
  web/src/router/routes.ts
Due: Web

wip switch to swiper
  web/src/components/study/tasks/SpecialGreeting.vue
  web/src/components/study/tasks/greeting/Page1.vue
  web/src/components/study/tasks/greeting/Page2.vue
  web/src/components/study/tasks/greeting/Parallax.vue
Due: Web

Usermetadata
  backend/auth0/client.go
  backend/auth0/management.go
  backend/auth0/userinfo.go
  backend/cmd/api/env.go
  backend/cmd/api/handlers.go
  backend/cmd/api/main.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/mutations.resolvers.go
  backend/graph/api/prompts.resolvers.go
  backend/graph/api/resolver.go
  backend/graph/api/schema/mutations.graphqls
  backend/graph/api/schema/schema.graphqls
  backend/user/middleware.go
Due: Test, Build

User metadata
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/mutations.resolvers.go
  backend/graph/api/schema/mutations.graphqls
Due: Test, Build

Update usermetadata and given/family name etc
  backend/auth0/management.go
  backend/graph/api/mutations.resolvers.go
Due: Test, Build
