Repository bcc-code/bcc-media-platform: changes, and which Semaphore blocks are due for each by the changed paths.
All: Web, Build CMS, Test, Build

Path conditions:
  Web: any of: web/
  Build CMS: any of: cms/
  Test: any of: backend/
  Build: any of: backend/

Fail when redis is not set up
  backend/cmd/api/main.go
Due: Test, Build

fix migration
  migrations/00028_notifications.sql
Due: none

Get primary translated title fields
  backend/search/indexing.go
Due: Test, Build

fix types queries
  web/src/components/sections/types.ts
  web/src/graph/generated.ts
  web/src/pages/page/queries.graphql
Due: Web

Fix missing section style selection
  backend/graph/api/model/section.go
  migrations/00029_section_types_style.sql
  web/src/components/sections/IconSection.vue
  web/src/i18n/translations/en.json
Due: Web, Test, Build

default to specific sizes
  backend/graph/api/model/section.go
Due: Test, Build

default episode and things
  web/index.html
  web/src/components/icons/Play.vue
  web/src/components/navbar/NavLink.vue
  web/src/components/sections/DefaultSection.vue
  web/src/components/sections/FeaturedSection.vue
  web/src/components/sections/GridSection.vue
  web/src/components/sections/IconSection.vue
  web/src/components/sections/PosterSection.vue
  web/src/components/sections/SectionTitle.vue
  web/src/components/sections/breakpoints.ts
  web/src/graph/generated.ts
  web/src/pages/page/Page.vue
  web/src/pages/page/queries.graphql
  web/src/utils/episodes.ts
Due: Web

episode and search item
  web/src/components/search/SearchItem.vue
  web/src/components/sections/DefaultSection.vue
  web/src/components/sections/FeaturedSection.vue
  web/src/components/sections/PosterSection.vue
  web/src/graph/generated.ts
  web/src/pages/search/search.graphql
  web/src/utils/items.ts
Due: Web

integration and lock test
  backend/Makefile
  backend/utils/locks.go
  backend/utils/locks_integration_test.go
  backend/utils/locks_test.go
  web/src/components/search/SearchItem.vue
Due: Web, Test, Build

fix web player
  packages/video-player/demo/App.vue
  packages/video-player/package.json
  packages/video-player/src/video-player/index.ts
  packages/video-player/src/video-player/utils/castLoader.ts
  web/package.json
  web/pnpm-lock.yaml
Due: Web

Grants
  migrations/00030_permission_fix.sql
Due: none

lockfile
  web/pnpm-lock.yaml
Due: Web

fix check constraint on image
  migrations/00031_fix_one_item_check.sql
Due: none

icons should not have fallback
  backend/common/images.go
Due: Test, Build

Expose messages
  backend/cmd/api/main.go
  backend/common/items.go
  backend/common/loader.go
  backend/common/models.go
  backend/graph/api/generated/generated.go
  backend/graph/api/messages.resolvers.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/model/section.go
  backend/graph/api/pages.resolvers.go
  backend/graph/api/resolver.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/messages.graphqls
  backend/graph/api/schema/pages.graphqls
  backend/graph/api/schema/schema.graphqls
  backend/sqlc/maintenance-queries.go
  backend/sqlc/maintenance.sql.go
  backend/sqlc/message-queries.go
  backend/sqlc/messages.sql.go
  backend/sqlc/models.go
  backend/sqlc/section-queries.go
  backend/sqlc/sections.sql.go
  go.mod
  go.sum
  migrations/00032_messages.sql
  queries/maintenance.sql
  queries/messages.sql
  queries/sections.sql
Due: Test, Build

Migrations, add updates to firestore
  backend/cmd/jobs/main.go
  backend/events/publish.go
  backend/graph/api/generated/generated.go
  backend/graph/api/pages.resolvers.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/schema.graphqls
  backend/sqlc/messages.sql.go
  cms/src/hooks/pubsub/index.ts
  cms/src/hooks/pubsub/publish.ts
  migrations/00032_messages.sql
  migrations/00033_permissions_fix.sql
  queries/messages.sql
Due: Build CMS, Test, Build

WIP SqliteExport
  .idea/dataSources.xml
  backend/cmd/api/main.go
  backend/common/images.go
  backend/common/loader.go
  backend/common/locale-string.go
  backend/export/export.go
  backend/export/sqlc/migrations/01_init.sql
  backend/export/sqlc/queries/applications.sql
  backend/export/sqlc/queries/episodes.sql
  backend/export/sqlc/queries/pages.sql
  backend/export/sqlc/queries/seasons.sql
  backend/export/sqlc/queries/shows.sql
  backend/export/sqlexport/applications.sql.go
  backend/export/sqlexport/db.go
  backend/export/sqlexport/dummy.sql.go
  backend/export/sqlexport/episodes.sql.go
  backend/export/sqlexport/models.go
  backend/export/sqlexport/pages.sql.go
  backend/export/sqlexport/seasons.sql.go
  backend/export/sqlexport/shows.sql.go
  backend/sqlc.yaml
  backend/sqlc/show-queries.go
  backend/sqlc/shows.sql.go
  go.mod
  go.sum
  queries/shows.sql
Due: Test, Build

check if theres a timestamp argument on root
  backend/graph/api/pages.resolvers.go
  backend/graph/api/resolver.go
  backend/memorycache/memorycache.go
  backend/utils/timestamp.go
Due: Test, Build

simpler clearing
  backend/graph/api/resolver.go
Due: Test, Build

cleaner check
  backend/graph/api/resolver.go
  backend/memorycache/memorycache.go
Due: Test, Build

fix migration
  migrations/00032_messages.sql
Due: none

Progress
  backend/cmd/api/main.go
  backend/common/loader.go
  backend/common/models.go
  backend/graph/api/generated/generated.go
  backend/graph/api/items.resolvers.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/resolver.go
  backend/graph/api/schema/items.graphqls
  backend/sqlc/models.go
  backend/sqlc/progress.sql.go
  backend/sqlc/session-queries.go
  go.mod
  go.sum
  migrations/00032_progress.sql
  queries/progress.sql
Due: Test, Build

Allow setting of progress
  backend/graph/api/generated/generated.go
  backend/graph/api/resolver.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/schema.graphqls
  backend/sqlc/progress.sql.go
  backend/sqlc/session-queries.go
  queries/progress.sql
Due: Test, Build

s
  backend/graph/api/resolver.go
Due: Test, Build

merge
  backend/graph/api/generated/generated.go
Due: Test, Build

migration order
  migrations/00034_progress.sql
Due: none

remove invalid entries when migrating down
  migrations/00031_fix_one_item_check.sql
Due: none

Add updated_at field
  backend/cmd/api/main.go
  backend/common/loader.go
  backend/sqlc/collection-queries.go
  backend/sqlc/episode-queries.go
  backend/sqlc/episodes.sql.go
  backend/sqlc/models.go
  backend/sqlc/profile-queries.go
  backend/sqlc/progress-queries.go
  backend/sqlc/progress.sql.go
  backend/sqlc/role-queries.go
  backend/sqlc/season-queries.go
  backend/sqlc/seasons.sql.go
  backend/sqlc/section-queries.go
  backend/sqlc/session-queries.go
  backend/sqlc/show-queries.go
  backend/sqlc/shows.sql.go
  migrations/00034_progress.sql
  queries/episodes.sql
  queries/progress.sql
  queries/seasons.sql
  queries/shows.sql
Due: Test, Build

Watched computed field
  backend/common/models.go
  backend/graph/api/generated/generated.go
  backend/graph/api/items.resolvers.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/items.graphqls
  backend/graph/api/schema/schema.graphqls
  backend/sqlc/models.go
  backend/sqlc/progress-queries.go
  backend/sqlc/progress.sql.go
  migrations/00034_progress.sql
  queries/progress.sql
Due: Test, Build

table alias
  backend/sqlc/progress.sql.go
  queries/progress.sql
Due: Test, Build

icon dont fall back
  backend/graph/api/resolver.go
Due: Test, Build

code cleanup and poster grid style
  backend/graph/api/collection-resolver.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/model/section.go
  backend/graph/api/pages.resolvers.go
  backend/graph/api/schema/pages.graphqls
  migrations/00034_poster_grid.sql
Due: Test, Build

fix source
  packages/video-player/demo/App.vue
  packages/video-player/src/btv-player/index.ts
  packages/video-player/src/video-player/index.ts
Due: none

update package
  packages/video-player/package.json
  web/package.json
  web/pnpm-lock.yaml
Due: Web

section styling
  web/src/components/search/SearchItem.vue
  web/src/components/sections/DefaultGridSection.vue
  web/src/components/sections/DefaultSection.vue
  web/src/components/sections/FeaturedSection.vue
  web/src/components/sections/PosterGridSection.vue
  web/src/components/sections/PosterSection.vue
  web/src/components/sections/Section.vue
  web/src/components/sections/SectionTitle.vue
  web/src/components/sections/breakpoints.ts
  web/src/graph/generated.ts
Due: Web

expose publishdate, new pill
  backend/graph/api/generated/generated.go
  backend/graph/api/model/episode.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/schema/items.graphqls
  web/package.json
  web/pnpm-lock.yaml
  web/src/components/sections/DefaultSection.vue
  web/src/components/sections/NewPill.vue
  web/src/components/sections/PosterSection.vue
  web/src/components/sections/breakpoints.ts
  web/src/graph/generated.ts
  web/src/i18n/translations/en.json
  web/src/i18n/translations/no.json
  web/src/pages/page/queries.graphql
Due: Web, Test, Build

section styling
  web/package.json
  web/pnpm-lock.yaml
  web/src/components/sections/DefaultGridSection.vue
  web/src/components/sections/DefaultSection.vue
  web/src/components/sections/IconSection.vue
  web/src/components/sections/LabelSection.vue
  web/src/components/sections/PosterGridSection.vue
  web/src/components/sections/PosterSection.vue
  web/src/utils/items.ts
Due: Web

replace role views to optimize queries
  migrations/00035_fix_role_query.sql
Due: none

WIP
  backend/export/export.go
  backend/export/sqlc/migrations/01_init.sql
  backend/export/sqlc/queries/collections.sql
  backend/export/sqlc/queries/sections.sql
  backend/export/sqlexport/collections.sql.go
  backend/export/sqlexport/models.go
  backend/export/sqlexport/sections.sql.go
  backend/sqlc/page-queries.go
  backend/sqlc/section-queries.go
Due: Test, Build

go mod tidy
  go.mod
Due: none
