Repository bcc-code/bcc-media-platform: changes, and which Semaphore blocks are due for each by the changed paths.
All: Web, Build CMS, Test, Build

Web:
  jobs:
  - name: deploy
    commands:
    - checkout
    - ./scripts/web.sh dev

Build CMS:
  jobs:
  - name: build
    commands:
    - checkout
    - cd cms
    - docker build -t "europe-west4-docker.pkg.dev/utils-332514/btv-platform/cms:${SEMAPHORE_GIT_SHA:0:7}" -t europe-west4-docker.pkg.dev/utils-332514/btv-platform/cms:$SEMAPHORE_GIT_BRANCH .
  ...

Test:
  jobs:
  - name: go test
    commands:
    - export GOPATH=~/go
    - export PATH=/home/semaphore/go/bin:$PATH
    - export CGO_ENABLED=0
    - checkout
    - cache restore
    - go get ./...
    - go test ./...
  epilogue:
    on_pass:
      commands:
      - cache store
  prologue:
    commands:
    - sem-version go 1.19

Build:
  prologue:
    commands:
    - sem-version go 1.19
    - export GOPATH=~/go
    - export PATH=/home/semaphore/go/bin:$PATH
    - checkout
    - cache restore
    - gcloud auth activate-service-account --key-file=/home/semaphore/secrets/google.key.json
  ...

notifications migrations
  backend/sqlc/models.go
  migrations/00104_notification_targets.sql
Due: Test, Build

usergroups
  backend/notifications/targets.go
  backend/notifications/utils.go
  backend/sqlc/models.go
  backend/sqlc/notification-queries.go
  backend/sqlc/notifications.sql.go
  backend/sqlc/targets.sql.go
  backend/sqlc/users.sql.go
  migrations/00104_notification_targets.sql
  queries/notifications.sql
  queries/targets.sql
  queries/users.sql
Due: Test, Build

conditionIDs
  backend/achievements/conditions.go
  backend/graph/api/schema.resolvers.go
  backend/sqlc/achievements.sql.go
  backend/sqlc/models.go
  migrations/00105_achievements_achieved.sql
  queries/achievements.sql
Due: Test, Build

targets
  backend/cmd/jobs/main.go
  backend/cmd/jobs/update-handler.go
  backend/notifications/targets.go
Due: Test, Build

migration ordering
  migrations/00107_notification_targets.sql
Due: none

languages
  web/src/components/EpisodeViewer.vue
  web/src/components/live/Player.vue
  web/src/utils/languages.ts
Due: Web

onmounted
  web/src/components/EpisodeViewer.vue
  web/src/components/live/Player.vue
  web/src/pages/live/Live.vue
Due: Web

interface settings
  migrations/00107_notification_targets.sql
Due: none

Images
  backend/common/items.go
  backend/common/models.go
  backend/common/studies.go
  backend/export/export.go
  backend/graph/admin/resolver.go
  backend/graph/api/collection-resolver.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/model/studytopic.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/achievements.graphqls
  backend/graph/api/schema/pages.graphqls
  backend/graph/api/schema/studies.graphqls
  backend/graph/api/studies.resolvers.go
  backend/items/collection/loader.go
  backend/sqlc/collection-queries.go
  backend/sqlc/models.go
  backend/sqlc/studies.sql.go
  backend/sqlc/study-queries.go
  migrations/00107_collection_topics.sql
  queries/studies.sql
Due: Test, Build

Fix some image issues
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/schema/studies.graphqls
  backend/graph/api/studies.resolvers.go
Due: Test, Build

confirmachievementresult
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/achievements.graphqls
  backend/graph/api/schema/schema.graphqls
Due: Test, Build

description translation
  backend/crowdin/client.go
  backend/sqlc/translations.sql.go
  queries/translations.sql
Due: Test, Build

More dynamic translations
  backend/crowdin/client.go
Due: Test, Build

merge develop
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/schema/achievements.graphqls
Due: Test, Build

merge develop
  backend/graph/api/generated/generated.go
Due: Test, Build

Permissions
  migrations/00108_permissions.sql
Due: none

Permissions
  migrations/00108_target_permissions.sql
Due: none

unlisted shows and seasons
  backend/sqlc/season-queries.go
  backend/sqlc/seasons.sql.go
  backend/sqlc/show-queries.go
  backend/sqlc/shows.sql.go
  migrations/00107_unlisted_shows.sql
  queries/seasons.sql
  queries/shows.sql
Due: Test, Build

locked and completed lesson exposed
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/schema/studies.graphqls
  backend/graph/api/studies.resolvers.go
  backend/sqlc/studies.sql.go
  queries/studies.sql
Due: Test, Build

feat(study): Link and video spacing
  web/src/components/study/tasks/LinkTask.vue
  web/src/components/study/tasks/VideoTask.vue
Due: Web

feat(translations): new strings for studies
  web/src/translations/bg.json
  web/src/translations/da.json
  web/src/translations/de.json
  web/src/translations/en.json
  web/src/translations/es.json
  web/src/translations/fi.json
  web/src/translations/fr.json
  web/src/translations/hu.json
  web/src/translations/it.json
  web/src/translations/nb.json
  web/src/translations/nl.json
  web/src/translations/pl.json
  web/src/translations/pt.json
  web/src/translations/ro.json
  web/src/translations/ru.json
  web/src/translations/sl.json
  web/src/translations/tr.json
Due: Web

translations
  web/src/translations/fr.json
  web/src/translations/hu.json
  web/src/translations/sl.json
Due: Web

simplify some functions
  backend/crowdin/client.go
  backend/crowdin/items.go
  backend/crowdin/sync.go
  backend/sqlc/translations.go
  queries/translations.sql
Due: Test, Build

struct definition
  backend/members/lookup.go
Due: Test, Build

merge develop
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  migrations/00108_collection_topics.sql
  migrations/00109_permissions.sql
Due: Test, Build

bump export version and use string instead of int for id
  backend/export/export.go
Due: Test, Build

merge develop
  migrations/00110_notification_targets.sql
  migrations/00111_target_permissions.sql
Due: none

cleanup
  backend/crowdin/client.go
  backend/crowdin/sync.go
  backend/sqlc/translations.go
Due: Test, Build

remove extra_description
  backend/crowdin/sync.go
  backend/directus/translations.go
  backend/sqlc/translations.go
Due: Test, Build

fix translations
  backend/cmd/jobs/main.go
  backend/crowdin/client.go
  backend/crowdin/sync.go
  backend/directus/translations.go
Due: Test, Build

fix tasks
  backend/crowdin/items.go
Due: Test, Build

fix missing images
  backend/sqlc/achievement-queries.go
  backend/sqlc/achievements.sql.go
  backend/sqlc/translations.sql.go
  queries/achievements.sql
Due: Test, Build

expose achieved at and achievement images
  backend/cmd/api/main.go
  backend/common/achievements.go
  backend/common/loaders.go
  backend/graph/api/achievements.resolvers.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/schema/achievements.graphqls
  backend/sqlc/achievement-queries.go
  backend/sqlc/achievements.sql.go
  queries/achievements.sql
Due: Test, Build

get key
  backend/common/achievements.go
Due: Test, Build

fix translations for achievements
  backend/crowdin/client.go
  backend/crowdin/items.go
  backend/directus/translations.go
  backend/sqlc/achievement-queries.go
  backend/sqlc/achievements.sql.go
  backend/sqlc/models.go
  backend/sqlc/translations.go
  backend/sqlc/translations.sql.go
  migrations/00112_achievements_translations.sql
  queries/translations.sql
Due: Test, Build

topic simple
  backend/achievements/conditions.go
  backend/cmd/api/main.go
  backend/common/loaders.go
  backend/sqlc/studies.sql.go
  backend/sqlc/study-queries.go
  queries/studies.sql
Due: Test, Build

AchievementGroups
  backend/crowdin/build.go
  backend/crowdin/items.go
  backend/crowdin/sync.go
  backend/directus/translations.go
  backend/sqlc/translations.go
  backend/sqlc/translations.sql.go
  backend/utils/converters.go
  queries/studies.sql
  queries/translations.sql
Due: Test, Build

fix query
  backend/sqlc/achievements.sql.go
  queries/achievements.sql
Due: Test, Build

languages
  web/src/services/language.ts
Due: Web

implement description fors sections and images on studytopic
  backend/graph/api/achievements.resolvers.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/model/section.go
  backend/graph/api/model/studytopic.go
  backend/graph/api/schema/pages.graphqls
  backend/graph/api/schema/studies.graphqls
Due: Test, Build

Path conditions:
  Web: any of: web/
  Build CMS: any of: cms/
  Test: any of: backend/
  Build: any of: backend/
