Repository bcc-code/bcc-media-platform: changes, and which Semaphore blocks are due for each by the changed paths.
All: Web, Build CMS, Test, Build

Web:
  jobs:
  - name: deploy
    commands:
    - checkout
    - ./scripts/web.sh dev

Build CMS:
  jobs:
  - name: build
    commands:
    - checkout
    - cd cms
    - docker build -t "europe-west4-docker.pkg.dev/utils-332514/btv-platform/cms:${SEMAPHORE_GIT_SHA:0:7}" -t europe-west4-docker.pkg.dev/utils-332514/btv-platform/cms:$SEMAPHORE_GIT_BRANCH .
  ...

Test:
  jobs:
  - name: go test
    commands:
    - export GOPATH=~/go
    - export PATH=/home/semaphore/go/bin:$PATH
    - export CGO_ENABLED=0
    - checkout
    - cache restore
    - go get ./...
    - go test ./...
  epilogue:
    on_pass:
      commands:
      - cache store
  prologue:
    commands:
    - sem-version go 1.19

Build:
  prologue:
    commands:
    - sem-version go 1.19
    - export GOPATH=~/go
    - export PATH=/home/semaphore/go/bin:$PATH
    - checkout
    - cache restore
    - gcloud auth activate-service-account --key-file=/home/semaphore/secrets/google.key.json
  ...

cache is back
  backend/loaders/cache.go
Due: Test, Build

Add exporting answers to BQ job
  backend/cmd/jobs/main.go
  backend/cmd/jobs/server/server.go
  backend/cmd/jobs/server/services.go
  backend/cmd/pubsub-helper/main.go
  backend/events/constants.go
  backend/sqlc/answers.sql.go
  backend/statistics/answers.go
  backend/statistics/bq-schema/answers.json
  backend/statistics/event-handler.go
  queries/answers.sql
Due: Test, Build

Update export data to BQ and table permissions
  backend/statistics/answers.go
  backend/statistics/event-handler.go
  migrations/00143_grant_select_to_messages_for_backgroun.sql
Due: Test, Build

use messages instead of own solution
  backend/cmd/api/loaders.go
  backend/common/items.go
  backend/common/loaders.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/model/survey.go
  backend/graph/api/mutations.resolvers.go
  backend/graph/api/resolver.go
  backend/graph/api/schema/surveys.graphqls
  backend/graph/api/surveys.resolvers.go
  backend/sqlc/models.go
  backend/sqlc/studies.sql.go
  backend/sqlc/survey-queries.go
  backend/sqlc/surveys.sql.go
  migrations/00144_surveys.sql
  migrations/00145_survey_visibility.sql
  migrations/00146_question_answers.sql
  migrations/00146_question_answers_notifications.sql
  migrations/00147_question_answers_notifications.sql
  queries/studies.sql
  queries/surveys.sql
Due: Test, Build

err item not found before accessing db
  backend/graph/api/mutations.resolvers.go
Due: Test, Build

release mode
  backend/cmd/api/main.go
Due: Test, Build

fix live not showing on load
  web/src/App.vue
  web/src/components/navbar/Navbar.vue
Due: Web

optional param
  web/src/components/navbar/Navbar.vue
Due: Web

Remove null types from BQ object
  backend/statistics/answers.go
Due: Test, Build

warning cleanup
  backend/achievements/conditions.go
  backend/asset/ingest_test.go
  backend/asset/smil/smil_test.go
  backend/cmd/api/env.go
  backend/database/locks.go
  backend/directus/assetstream.go
  backend/external-events/events_test.go
  backend/graph/api/model/asset.go
  backend/jsonlogic/filter_test.go
  backend/maintenance/views.go
  backend/members/models.go
  backend/remotecache/cache.go
  backend/signing/signer.go
  backend/sqlc/redirect-queries.go
  backend/sqlc/show-queries.go
  backend/statistics/answers.go
  backend/statistics/bq-utils.go
  backend/user/access.go
  backend/user/middleware.go
  backend/utils/dates.go
Due: Test, Build

directus tweaks
  backend/sqlc/models.go
  migrations/00148_directus_tweaks.sql
Due: Test, Build

Fix duplicates of translations
  migrations/00149_indexes_translation_cleanup.sql
Due: none

fix some migration issues
  migrations/00149_indexes_translation_cleanup.sql
Due: none

enable mutex profiling
  backend/cmd/api/main.go
Due: Test, Build

missing description field on save
  backend/crowdin/items.go
  backend/directus/translations.go
Due: Test, Build

Fix table data types
  migrations/00150_change_translation_fields_to_text.sql
Due: none

Read memory stats
  backend/cmd/api/main.go
Due: Test, Build

Add Legacy IDs to BQ episodes
  backend/statistics/bq-schema/episodes.json
  backend/statistics/item-bq-types.go
Due: Test, Build

get sessionId
  packages/video-player/package.json
  packages/video-player/src/video-player/npaw.ts
  web/package.json
  web/pnpm-lock.yaml
  web/src/components/EpisodeViewer.vue
  web/src/components/live/Player.vue
Due: Web

unnecessary cache
  backend/cmd/api/main.go
Due: Test, Build

generate web builds with secrets
  scripts/generate-web-builds.sh
  web/.env
  web/.env.prod
Due: Web

getuser from analytics
  packages/video-player/package.json
  packages/video-player/src/btv-player/index.ts
  packages/video-player/src/video-player/index.ts
  packages/video-player/src/video-player/npaw.ts
  packages/video-player/src/video-player/plugins/videojs-smallscreen.ts
  packages/video-player/tsconfig.json
  web/package.json
  web/pnpm-lock.yaml
  web/src/components/EpisodeViewer.vue
  web/src/services/analytics/index.ts
  web/web.code-workspace
Due: Web

update packages
  packages/video-player/package.json
  packages/video-player/pnpm-lock.yaml
  packages/video-player/src/btv-player/api/episode.ts
  packages/video-player/src/btv-player/index.ts
  packages/video-player/src/video-player/index.ts
  packages/video-player/src/video-player/npaw.ts
  web/package.json
  web/pnpm-lock.yaml
  web/src/graph/generated.ts
  web/src/graph/queries/episode.graphql
Due: Web

fix build step
  .semaphore/semaphore.yml
Due: none

secrets
  .semaphore/semaphore.yml
Due: none

use the silvermine chromecast package
  packages/video-player/package.json
  packages/video-player/pnpm-lock.yaml
  packages/video-player/src/video-player/index.ts
  packages/video-player/src/video-player/skin/_plugins.scss
Due: none

unnecessary git repo
  .idea/vcs.xml
Due: none

feat/user-collections initial commit
  backend/cmd/api/loaders.go
  backend/common/loaders.go
  backend/common/userdata.go
  backend/graph/api/schema/user-collections.graphqls
  backend/sqlc/models.go
  backend/sqlc/user-collection-queries.go
  backend/sqlc/user-collections.sql.go
  migrations/00151_user_collections.sql
  queries/user-collections.sql
Due: Test, Build

bad comparing
  backend/crowdin/client.go
Due: Test, Build

redis data source
  .idea/dataSources.xml
Due: none

Expose collections as MyList only, and mutations
  backend/cmd/api/handlers.go
  backend/cmd/api/loaders.go
  backend/common/loaders.go
  backend/common/userdata.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/mutations.resolvers.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/mutations.graphqls
  backend/graph/api/schema/schema.graphqls
  backend/graph/api/schema/user-collections.graphqls
  backend/graph/api/user-collections.resolvers.go
  backend/graph/api/user-collections.utils.go
  backend/sqlc/episode-queries.go
  backend/sqlc/episodes.sql.go
  backend/sqlc/show-queries.go
  backend/sqlc/shows.sql.go
  backend/sqlc/user-collection-queries.go
  backend/sqlc/user-collections.sql.go
  backend/utils/converters.go
  queries/episodes.sql
  queries/shows.sql
  queries/user-collections.sql
Due: Test, Build

EntryID on result
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/mutations.resolvers.go
  backend/graph/api/schema/mutations.graphqls
Due: Test, Build

replay
  backend/sqlc/models.go
  migrations/00151_episode_replay.sql
Due: Test, Build

migration order
  migrations/00152_user_collections.sql
  migrations/00153_directus_uuid_field.sql
Due: none

pg error
  backend/sqlc/calendar.sql.go
  backend/sqlc/models.go
  queries/calendar.sql
Due: Test, Build

optional enabling
  web/src/components/EpisodeViewer.vue
  web/src/components/live/Player.vue
  web/src/services/analytics/index.ts
Due: Web

ignore local key
  .gitignore
Due: none

Path conditions:
  Web: any of: web/
  Build CMS: any of: cms/
  Test: any of: backend/
  Build: any of: backend/
