Repository bcc-code/bcc-media-platform: changes, and which Semaphore blocks are due for each by the changed paths.
All: Web, Build CMS, Test, Build

Web:
  jobs:
  - name: deploy
    commands:
    - checkout
    - ./scripts/web.sh dev

Build CMS:
  jobs:
  - name: build
    commands:
    - checkout
    - cd cms
    - docker build -t "europe-west4-docker.pkg.dev/utils-332514/btv-platform/cms:${SEMAPHORE_GIT_SHA:0:7}" -t europe-west4-docker.pkg.dev/utils-332514/btv-platform/cms:$SEMAPHORE_GIT_BRANCH .
  ...

Test:
  jobs:
  - name: go test
    commands:
    - export GOPATH=~/go
    - export PATH=/home/semaphore/go/bin:$PATH
    - export CGO_ENABLED=0
    - checkout
    - cache restore
    - go get ./...
    - go test ./...
  epilogue:
    on_pass:
      commands:
      - cache store
  prologue:
    commands:
    - sem-version go 1.19

Build:
  prologue:
    commands:
    - sem-version go 1.19
    - export GOPATH=~/go
    - export PATH=/home/semaphore/go/bin:$PATH
    - checkout
    - cache restore
    - gcloud auth activate-service-account --key-file=/home/semaphore/secrets/google.key.json
  ...

Unnecessary logging
  backend/crowdin/sync.go
Due: Test, Build

warnings
  backend/crowdin/build.go
Due: Test, Build

prevent abuse
  backend/maintenance/views.go
Due: Test, Build

Some warning cleanup
  backend/cmd/jobs/server/server.go
  backend/cmd/jobs/server/services.go
  backend/common/locale-string.go
  backend/common/models.go
  backend/common/permissions.go
Due: Test, Build

Some warning cleanup
  backend/directus/assets.go
  backend/directus/events.go
  backend/utils/accept-language.go
  backend/utils/database.go
Due: Test, Build

Allow filtering the notification by active bcc
  backend/notifications/targets.go
  backend/sqlc/targets.sql.go
  queries/targets.sql
Due: Test, Build

Allow sending notifications to only members
  backend/notifications/targets.go
  backend/sqlc/targets.sql.go
  queries/targets.sql
Due: Test, Build

Revert "Allow filtering the notification by active bcc"
  backend/notifications/targets.go
  backend/sqlc/targets.sql.go
  queries/targets.sql
Due: Test, Build

Unnecessary conversions.
  backend/notifications/targets.go
Due: Test, Build

everyone
  backend/notifications/targets.go
Due: Test, Build

fix search
  web/src/components/navbar/Navbar.vue
  web/src/components/search/EpisodeSearchQuery.vue
  web/src/components/search/ShowSearchQuery.vue
  web/src/pages/search/Search.vue
Due: Web

required things
  migrations/00131_image_not_required_on_link.sql
Due: none

filter dataset uuid
  backend/sqlc/models.go
  migrations/00132_shows_seasons_uuid.sql
  migrations/00133_filter_dataset_unique.sql
Due: Test, Build

Directus field config
  migrations/00134_directus_field_config.sql
Due: none

update view function
  migrations/00135_update_view_function.sql
Due: none

statement and dont drop
  migrations/00135_update_view_function.sql
  migrations/Makefile
Due: none

synclinks
  backend/crowdin/client.go
  backend/crowdin/items.go
  backend/directus/translations.go
  backend/sqlc/translations.go
  backend/sqlc/translations.sql.go
  queries/translations.sql
Due: Test, Build

unnecessary log
  backend/crowdin/build.go
Due: Test, Build

Switch to redis lock instead of pglock for messages
  backend/cmd/jobs/main.go
  backend/cmd/jobs/server/server.go
  backend/cmd/jobs/server/services.go
Due: Test, Build

episodekey
  cms/src/hooks/sync-to-legacy/filters/episodes.ts
Due: Build CMS

p status draft
  cms/src/hooks/sync-to-legacy/filters/episodes.ts
Due: Build CMS

grant to api
  migrations/00133_filter_dataset_unique.sql
Due: none

Fix some issues and add logging to resolving notifications
  backend/notifications/targets.go
Due: Test, Build

fix some directus things
  migrations/00136_fix_some_directus_issues.sql
Due: none

bgworker perms
  migrations/00137_bg_worker_perms.sql
Due: none

grant select to filter
  migrations/00138_api_perms.sql
Due: none

bad migration
  migrations/00136_fix_some_directus_issues.sql
Due: none

log errors from loader
  backend/loaders/loader.go
Due: Test, Build

Log errors generally from gql
  backend/cmd/api/handlers.go
Due: Test, Build

Unnecessary error logging
  backend/utils/tracing.go
Due: Test, Build

Time to start log
  backend/cmd/api/main.go
Due: Test, Build

Dont crash container (on startup) because of application configuration
  backend/applications/middleware.go
Due: Test, Build

Default to 100 on seasons.episodes
  backend/graph/api/items.resolvers.go
Due: Test, Build

update packages
  web/package.json
  web/pnpm-lock.yaml
  web/src/pages/search/Search.vue
  web/src/translations/da.json
  web/src/translations/es.json
  web/src/translations/it.json
  web/src/translations/ro.json
  web/src/translations/sl.json
Due: Web

fix not showing live
  web/src/components/navbar/Navbar.vue
Due: Web

weird issue with visibility
  migrations/00139_images_task_not_shown.sql
Due: none

Added sync for Shows and Seasons
  backend/cmd/jobs/env.go
  backend/cmd/jobs/env.sample
  backend/cmd/jobs/main.go
  backend/cmd/pubsub-helper/main.go
  backend/statistics/big-query-sync.go
  backend/statistics/bq-schema/seasons.json
  backend/statistics/bq-schema/shows.json
  backend/statistics/item-bq-types.go
  go.mod
  go.sum
Due: Test, Build

Added show and a bit of refactoring
  backend/cmd/pubsub-helper/main.go
  backend/statistics/bq-schema/episodes.json
  backend/statistics/bq-utils.go
  backend/statistics/directus-event-handler.go
  backend/statistics/item-bq-types.go
Due: Test, Build

Path conditions:
  Web: any of: web/
  Build CMS: any of: cms/
  Test: any of: backend/
  Build: any of: backend/
