Repository bcc-code/bcc-media-platform: changes, and which Semaphore blocks are due for each by the changed paths.
All: Web, Build CMS, Test, Build

Web:
  jobs:
  - name: deploy
    commands:
    - checkout
    - ./scripts/web.sh dev

Build CMS:
  jobs:
  - name: build
    commands:
    - checkout
    - cd cms
    - docker build -t "europe-west4-docker.pkg.dev/utils-332514/btv-platform/cms:${SEMAPHORE_GIT_SHA:0:7}" -t europe-west4-docker.pkg.dev/utils-332514/btv-platform/cms:$SEMAPHORE_GIT_BRANCH .
  ...

Test:
  jobs:
  - name: go test
    commands:
    - export GOPATH=~/go
    - export PATH=/home/semaphore/go/bin:$PATH
    - export CGO_ENABLED=0
    - checkout
    - cache restore
    - go get ./...
    - go test ./...
  epilogue:
    on_pass:
      commands:
      - cache store
  prologue:
    commands:
    - sem-version go 1.19

Build:
  prologue:
    commands:
    - sem-version go 1.19
    - export GOPATH=~/go
    - export PATH=/home/semaphore/go/bin:$PATH
    - checkout
    - cache restore
    - gcloud auth activate-service-account --key-file=/home/semaphore/secrets/google.key.json
  ...

iconsection
  web/src/components/sections/IconGridSection.vue
  web/src/components/sections/IconSection.vue
Due: Web

order by ambiguous
  backend/items/collection/filter.go
Due: Test, Build

qstring
  backend/items/collection/filter.go
Due: Test, Build

log error query
  backend/items/collection/filter.go
Due: Test, Build

Minor styles
  web/src/components/EpisodeViewer.vue
  web/src/components/episodes/EpisodeDetails.vue
  web/src/components/episodes/EpisodeDisplay.vue
  web/src/components/episodes/ProgressBar.vue
  web/src/components/navbar/Navbar.vue
  web/src/pages/episode/Episode.vue
  web/src/pages/live/Live.vue
  web/src/router/routes.ts
Due: Web

Fix page size to allow for sorting larger collections
  migrations/00048_increase_page_size.sql
Due: none

image handling
  web/src/components/EpisodeViewer.vue
  web/src/components/Image.vue
  web/src/components/episodes/EpisodeDetails.vue
  web/src/components/episodes/EpisodeDisplay.vue
  web/src/components/episodes/ProgressBar.vue
  web/src/components/page/Page.vue
  web/src/components/sections/DefaultGridSection.vue
  web/src/components/sections/DefaultSection.vue
  web/src/components/sections/FeaturedSection.vue
  web/src/components/sections/IconGridSection.vue
  web/src/components/sections/IconSection.vue
  web/src/components/sections/ListSection.vue
  web/src/components/sections/PosterSection.vue
  web/src/components/sections/Section.vue
  web/src/pages/episode/Episode.vue
  web/src/utils/images.ts
Due: Web

image
  web/src/components/episodes/EpisodeDisplay.vue
Due: Web

fix sorting
  backend/sqlc/collections.sql.go
  queries/collections.sql
  web/src/components/EpisodeViewer.vue
  web/src/components/Image.vue
  web/src/components/sections/FeaturedSection.vue
  web/src/components/sections/IconGridSection.vue
  web/src/components/sections/IconSection.vue
  web/src/components/sections/ListSection.vue
  web/src/components/sections/PosterGridSection.vue
  web/src/components/sections/PosterSection.vue
Due: Web, Test, Build

fix lazy loading
  web/src/components/Image.vue
  web/src/components/sections/DefaultSection.vue
Due: Web

swiper standardization
  web/src/components/Image.vue
  web/src/components/episodes/EpisodeDisplay.vue
  web/src/components/sections/DefaultGridSection.vue
  web/src/components/sections/DefaultSection.vue
  web/src/components/sections/FeaturedSection.vue
  web/src/components/sections/IconGridSection.vue
  web/src/components/sections/IconSection.vue
  web/src/components/sections/ListSection.vue
  web/src/components/sections/PosterGridSection.vue
  web/src/components/sections/PosterSection.vue
  web/src/components/sections/Slider.vue
  web/src/components/sections/breakpoints.ts
  web/src/index.css
Due: Web

unnecessary classes
  web/src/components/sections/DefaultGridSection.vue
  web/src/components/sections/DefaultSection.vue
  web/src/components/sections/ListSection.vue
Due: Web

cancel create player
  web/src/components/live/Player.vue
Due: Web

Lazy load images and images easier
  migrations/00049_images_link_group.sql
  web/src/components/Image.vue
  web/src/components/sections/DefaultSection.vue
  web/src/components/sections/IconSection.vue
Due: Web

Initial implementation of related items
  backend/graph/api/applications.resolvers.go
  backend/graph/api/generated/generated.go
  backend/graph/api/items.resolvers.go
  backend/graph/api/model/episode.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/schema/items.graphqls
  backend/search/query.go
  backend/user/access.go
  web/src/components/Image.vue
  web/src/components/live/Player.vue
  web/src/components/sections/FeaturedSection.vue
  web/src/components/sections/IconSection.vue
  web/src/components/sections/PosterGridSection.vue
  web/src/graph/generated.ts
  web/src/index.css
  web/src/pages/episode/episode.graphql
Due: Web, Test, Build

Related collection id in configuration
  backend/common/items.go
  backend/graph/api/generated/generated.go
  backend/graph/api/items.resolvers.go
  backend/graph/api/schema/pages.graphqls
  backend/sqlc/application-queries.go
  backend/sqlc/applications.sql.go
  backend/sqlc/collections.sql.go
  backend/sqlc/models.go
  migrations/00050_related_collection_id.sql
  queries/applications.sql
  queries/collections.sql
Due: Test, Build

not null
  cms/src/hooks/sync-to-legacy/filters/translations.ts
Due: Build CMS

fix migration
  migrations/00047_fix_nullable_props.sql
Due: none

section translations
  backend/crowdin/client.go
  backend/directus/translations.go
  backend/sqlc/translations.sql.go
  queries/translations.sql
Due: Test, Build

Show title must be true to translate
  backend/sqlc/translations.sql.go
  queries/translations.sql
Due: Test, Build

new pill
  web/src/components/navbar/Navbar.vue
  web/src/components/sections/DefaultGridSection.vue
  web/src/components/sections/DefaultSection.vue
  web/src/components/sections/NewPill.vue
  web/src/components/sections/PosterGridSection.vue
  web/src/components/sections/PosterSection.vue
  web/src/layout/StackedLayout.vue
  web/src/pages/page/Page.vue
Due: Web

New pill fix
  web/src/components/navbar/Navbar.vue
  web/src/components/sections/DefaultGridSection.vue
  web/src/components/sections/DefaultSection.vue
  web/src/components/sections/NewPill.vue
  web/src/components/sections/PosterGridSection.vue
  web/src/components/sections/PosterSection.vue
  web/src/layout/StackedLayout.vue
  web/src/pages/page/Page.vue
Due: Web

some styling changes
  web/src/components/episodes/EpisodeTitle.vue
  web/src/components/sections/FeaturedSection.vue
  web/src/components/sections/NewPill.vue
  web/src/components/sections/SectionItemTitle.vue
Due: Web

cache in collection itemids loader
  backend/batchloaders/cache.go
  backend/batchloaders/loader.go
  backend/items/collection/filter.go
  backend/items/collection/loader.go
  web/src/components/navbar/Navbar.vue
Due: Web, Test, Build

Fix defaults
  backend/items/show/defaults.go
Due: Test, Build

return error if nil
  backend/graph/api/items.resolvers.go
Due: Test, Build

Fix required issue
  migrations/00051_publish_date_required.sql
Due: none

fix another required issue
  migrations/00052_fix_season_publishdate.sql
Due: none

collection entries
  backend/sqlc/collection-queries.go
  backend/sqlc/models.go
  migrations/00053_change_to_m2a.sql
  migrations/00054_fix_cascading_deletes.sql
  queries/collections.sql
Due: Test, Build

unique joins
  backend/items/collection/filter.go
Due: Test, Build

invalid entries, remove localemap warnings
  backend/common/locale-map.go
  backend/common/locale-string.go
  backend/graph/api/collection-resolver.go
Due: Test, Build

Test
  backend/graph/gqltracer/graphtracer.go
  backend/utils/tracing.go
  go.mod
  go.sum
Due: Test, Build

Better filter builder
  backend/cmd/api/main.go
  backend/common/items.go
  backend/common/loaders.go
  backend/common/models.go
  backend/graph/admin/generated/generated.go
  backend/graph/admin/model/models_gen.go
  backend/graph/admin/resolver.go
  backend/graph/admin/schema.graphqls
  backend/graph/admin/schema.resolvers.go
  backend/graph/api/items.resolvers.go
  backend/items/collection/filter.go
  backend/items/collection/loader.go
  backend/jsonlogic/filter.go
  backend/sqlc/collection-queries.go
  backend/sqlc/collections.sql.go
  backend/sqlc/models.go
  cms/custom/interface-query-builder/src/interface.vue
  cms/custom/interface-query-builder/src/preview/Preview.vue
  cms/custom/interface-query-builder/src/preview/types.ts
  cms/custom/interface-query-builder/src/query-builder/FieldSelector.vue
  cms/custom/interface-query-builder/src/query-builder/Filter.vue
  cms/custom/interface-query-builder/src/query-builder/Group.vue
  cms/custom/interface-query-builder/src/query-builder/QueryBuilder.vue
  cms/custom/interface-query-builder/src/query-builder/RootGroup.vue
  cms/custom/interface-query-builder/src/query-builder/index.ts
  cms/custom/interface-query-builder/src/query-builder/types.ts
  cms/src/endpoints/preview/index.ts
  migrations/00053_change_to_m2a.sql
  migrations/00054_fix_cascading_deletes.sql
  migrations/00055_query_filter_improvements.sql
Due: Build CMS, Test, Build

minor design changes
  cms/custom/interface-query-builder/src/query-builder/RootGroup.vue
Due: Build CMS

Fix queries and the values
  backend/common/items.go
  backend/common/permissions.go
  backend/graph/api/collection-resolver.go
  backend/items/collection/filter.go
  backend/items/collection/loader.go
  backend/sqlc/collection-queries.go
  backend/sqlc/collections.sql.go
  backend/sqlc/models.go
  queries/collections.sql
Due: Test, Build

ref page
  web/src/pages/page/Page.vue
Due: Web

ratio instead of string
  backend/graph/api/generated/generated.go
  backend/graph/api/items.resolvers.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/model/section.go
  backend/graph/api/schema/pages.graphqls
Due: Test, Build

permissions
  migrations/00056_collections_permissions.sql
Due: none

...
  backend/graph/api/model/section.go
  cms/custom/interface-query-builder/src/query-builder/Filter.vue
  cms/custom/interface-query-builder/src/query-builder/types.ts
Due: Build CMS, Test, Build

Uptrace, PostgreSQL tracing, cleanup of traces
  backend/cmd/api/db.go
  backend/cmd/api/env.go
  backend/cmd/api/main.go
  backend/graph/gqltracer/graphtracer.go
  backend/utils/tracing.go
  go.mod
  go.sum
Due: Test, Build

Path conditions:
  Web: any of: web/
  Build CMS: any of: cms/
  Test: any of: backend/
  Build: any of: backend/
