Repository bcc-code/bcc-media-platform: changes, and which Semaphore blocks are due for each by the changed paths.
All: Web, Build CMS, Test, Build

Web:
  jobs:
  - name: deploy
    commands:
    - checkout
    - ./scripts/web.sh dev

Build CMS:
  jobs:
  - name: build
    commands:
    - checkout
    - cd cms
    - docker build -t "europe-west4-docker.pkg.dev/utils-332514/btv-platform/cms:${SEMAPHORE_GIT_SHA:0:7}" -t europe-west4-docker.pkg.dev/utils-332514/btv-platform/cms:$SEMAPHORE_GIT_BRANCH .
  ...

Test:
  jobs:
  - name: go test
    commands:
    - export GOPATH=~/go
    - export PATH=/home/semaphore/go/bin:$PATH
    - export CGO_ENABLED=0
    - checkout
    - cache restore
    - go get ./...
    - go test ./...
  epilogue:
    on_pass:
      commands:
      - cache store
  prologue:
    commands:
    - sem-version go 1.19

Build:
  prologue:
    commands:
    - sem-version go 1.19
    - export GOPATH=~/go
    - export PATH=/home/semaphore/go/bin:$PATH
    - checkout
    - cache restore
    - gcloud auth activate-service-account --key-file=/home/semaphore/secrets/google.key.json
  ...

fix: early access roles
  backend/user/middleware.go
Due: Test, Build

fix: style on texttask
  web/src/components/study/tasks/TextTask.vue
Due: Web

tweak(study): margin bottom on more
  web/src/components/study/More.vue
Due: Web

fix: default episode always null
  backend/common/items.go
  backend/items/show/defaults.go
  backend/sqlc/show-queries.go
  backend/sqlc/shows.sql.go
  queries/shows.sql
Due: Test, Build

tweak: remove lol pointer
  backend/items/show/defaults.go
Due: Test, Build

fix(study): hide rating if not animation
  web/src/components/study/More.vue
Due: Web

chore(translations): sync russian translations
  web/src/translations/ru.json
Due: Web

remove page.study in title
  web/src/components/study/Lesson.vue
  web/src/components/study/Tasks.vue
Due: Web

fix: filter out all kåre
  web/src/components/study/More.vue
Due: Web

fix: filter out non-animation
  web/src/components/study/More.vue
Due: Web

tweak(study): ux improvements for video and link tasks
  web/src/components/study/Tasks.vue
  web/src/components/study/tasks/LinkTask.vue
  web/src/components/study/tasks/VideoTask.vue
  web/src/pages/embed/Embed.vue
Due: Web

build(fix): move new migration to 00122
  migrations/00122_add_locked_to_answers.sql
Due: none

feat(study): ux improvements on alternatives task
  web/package.json
  web/pnpm-lock.yaml
  web/src/components/study/tasks/Alternative.vue
  web/src/components/study/tasks/AlternativesTask.vue
  web/src/components/study/tasks/confetti.json
  web/src/graph/generated.ts
  web/src/graph/queries/study.graphql
  web/src/main.ts
  web/src/utils/flutter.ts
Due: Web

feat: haptic on "no correct answer" alternatives
  web/src/components/study/tasks/Alternative.vue
Due: Web

fix: scroll issues
  web/src/components/study/Tasks.vue
Due: Web

fix: scroll issues
  web/src/components/study/Tasks.vue
  web/src/components/study/tasks/Alternative.vue
  web/src/components/study/tasks/AlternativesTask.vue
  web/src/components/study/tasks/PosterTask.vue
  web/src/components/study/tasks/TextTask.vue
Due: Web

tweak: haptic feedback
  web/src/components/study/tasks/Alternative.vue
Due: Web

Yeah... That should have been there all along
  backend/user/middleware.go
Due: Test, Build

feat(study): allow skip for texttask
  web/src/components/study/Tasks.vue
  web/src/components/study/tasks/TextTask.vue
Due: Web

some simple e2e tests
  cms/Makefile
  cms/src/btv.d.ts
  tests/e2e/.gitignore
  tests/e2e/Makefile
  tests/e2e/client.ts
  tests/e2e/compose.yml
  tests/e2e/items.ts
  tests/e2e/package.json
  tests/e2e/pnpm-lock.yaml
  tests/e2e/tests/episode.test.ts
  tests/e2e/types.ts
  tests/e2e/utils.ts
Due: Build CMS

sync translations
  web/src/translations/fi.json
  web/src/translations/hu.json
  web/src/translations/pt.json
Due: Web

factory
  tests/e2e/items.ts
  tests/e2e/tests/episode.test.ts
Due: none

create episode and validate that it is exported again
  cms/src/hooks/sync-to-legacy/filters/sections.ts
  tests/e2e/api.ts
  tests/e2e/directus.ts
  tests/e2e/items.ts
  tests/e2e/package.json
  tests/e2e/pnpm-lock.yaml
  tests/e2e/tests/episode.test.ts
  tests/e2e/utils.ts
Due: Build CMS

env example
  tests/e2e/.env.example
  tests/e2e/README.md
Due: none

prettier
  tests/e2e/.prettierignore
  tests/e2e/.prettierrc
  tests/e2e/README.md
  tests/e2e/api.ts
  tests/e2e/compose.yml
  tests/e2e/directus.ts
  tests/e2e/items.ts
  tests/e2e/package.json
  tests/e2e/pnpm-lock.yaml
  tests/e2e/tests/episode.test.ts
  tests/e2e/types.ts
  tests/e2e/utils.ts
Due: none

query string
  tests/e2e/tests/episode.test.ts
Due: none

migration
  migrations/migrate_test.sh
  migrations/test.Dockerfile
  tests/e2e/compose.yml
Due: none

Docker setup
  .gitignore
  backend/cmd/api/env.go
  backend/cmd/api/main.go
  migrations/test.Dockerfile
  scripts/run-tests.sh
  tests/e2e/api.Dockerfile
  tests/e2e/compose.yml
  tests/e2e/directus.Dockerfile
  tests/e2e/lib/api.ts
  tests/e2e/lib/directus.ts
  tests/e2e/lib/items.ts
  tests/e2e/lib/types.ts
  tests/e2e/lib/utils.ts
  tests/e2e/package.json
  tests/e2e/pnpm-lock.yaml
  tests/e2e/tests/episode.test.ts
  tests/e2e/tsconfig.json
  tests/e2e/types.ts
Due: Test, Build

.order by
  backend/sqlc/studies.sql.go
  queries/studies.sql
Due: Test, Build

tweak(study): add some padding for link tasks
  web/src/components/study/tasks/LinkTask.vue
Due: Web

compose
  tests/e2e/compose.yml
  tests/e2e/directus.Dockerfile
Due: none

sample rate
  backend/utils/tracing.go
Due: Test, Build

WIP POC Util for gathering/enriching stats data
  backend/cmd/statistician/db.go
  backend/cmd/statistician/env.go
  backend/cmd/statistician/main.go
  backend/cmd/statistician/readme.md
  backend/members/lookup.go
  backend/members/request.go
  backend/sqlc/models.go
  backend/sqlc/statistician.sql.go
  backend/user/middleware.go
  migrations/00123_dummy.sql
  queries/statistician.sql
Due: Test, Build

Fix query to not count disabled tasks as required
  backend/sqlc/studies.sql.go
  queries/studies.sql
Due: Test, Build

Doh, put the > on the correct statement
  backend/sqlc/studies.sql.go
  queries/studies.sql
Due: Test, Build

seg fix
  backend/Dockerfile.api.test
  cms/.dockerignore
  cms/Dockerfile.test
  cms/entrypoint.test.sh
  compose.test.yml
  migrations/special/00-reset.sql
  scripts/run-tests.sh
  tests/e2e/directus.Dockerfile
  tests/e2e/lib/directus.ts
Due: Build CMS, Test, Build

dockerfiles
  cms/Dockerfile.test
  migrations/migrate_test.sh
  scripts/run-tests.sh
Due: Build CMS

Added admin models and some Queries
  backend/cmd/statistician/main.go
  backend/graph/admin/generated/generated.go
  backend/graph/admin/model/models_gen.go
  backend/graph/admin/schema.graphqls
  backend/graph/admin/schema.resolvers.go
  backend/members/lookup.go
  backend/members/models.go
  backend/sqlc/models.go
  backend/sqlc/statistician.sql.go
  migrations/00123_statistician.sql
  queries/statistician.sql
Due: Test, Build

Scripts for running tests
  Makefile
  compose.test.yml
  migrations/migrate_test.sh
  migrations/special/01-admin-user.sql
  migrations/special/02-basic-data.sql
  scripts/tests-run.sh
  scripts/tests-setup.sh
Due: none

Path conditions:
  Web: any of: web/
  Build CMS: any of: cms/
  Test: any of: backend/
  Build: any of: backend/
