Repository bcc-code/bcc-media-platform: changes, and which Semaphore blocks are due for each by the changed paths.
All: Web, Build CMS, Test, Build

Web:
  jobs:
  - name: deploy
    commands:
    - checkout
    - ./scripts/web.sh dev

Build CMS:
  jobs:
  - name: build
    commands:
    - checkout
    - cd cms
    - docker build -t "europe-west4-docker.pkg.dev/utils-332514/btv-platform/cms:${SEMAPHORE_GIT_SHA:0:7}" -t europe-west4-docker.pkg.dev/utils-332514/btv-platform/cms:$SEMAPHORE_GIT_BRANCH .
  ...

Test:
  jobs:
  - name: go test
    commands:
    - export GOPATH=~/go
    - export PATH=/home/semaphore/go/bin:$PATH
    - export CGO_ENABLED=0
    - checkout
    - cache restore
    - go get ./...
    - go test ./...
  epilogue:
    on_pass:
      commands:
      - cache store
  prologue:
    commands:
    - sem-version go 1.19

Build:
  prologue:
    commands:
    - sem-version go 1.19
    - export GOPATH=~/go
    - export PATH=/home/semaphore/go/bin:$PATH
    - checkout
    - cache restore
    - gcloud auth activate-service-account --key-file=/home/semaphore/secrets/google.key.json
  ...

analytics and semaphore bug
  .semaphore/semaphore.yml
  web/src/pages/calendar/Calendar.vue
  web/src/pages/live/Live.vue
Due: Web

random analytics
  web/src/components/search/EpisodeSearchQuery.vue
  web/src/components/search/ShowSearchQuery.vue
  web/src/pages/search/Search.vue
  web/src/services/analytics/events.ts
  web/src/services/analytics/index.ts
Due: Web

translations
  web/crowdin.yml
  web/src/components/navbar/Navbar.vue
  web/src/i18n/index.ts
  web/src/layout/StackedLayout.vue
  web/src/translations/en.json
  web/src/translations/no.json
Due: Web

invalid var
  web/src/i18n/index.ts
Due: Web

usecontext
  web/src/components/page/Page.vue
Due: Web

fix some spacing
  web/src/components/sections/ItemList.vue
  web/src/components/sections/item/PosterGridSection.vue
  web/src/components/sections/item/PosterSection.vue
  web/src/components/sections/item/breakpoints.ts
Due: Web

Hide images
  backend/cmd/api/main.go
  backend/graph/api/search-resolver.go
  backend/ratelimit/limit.go
  backend/sqlc/models.go
  migrations/00080_images_hide.sql
Due: Test, Build

Production date
  backend/common/items.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/episode.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/pages.resolvers.go
  backend/graph/api/schema/items.graphqls
  backend/sqlc/episode-queries.go
  backend/sqlc/episodes.sql.go
  backend/sqlc/models.go
  migrations/00081_production_date_nullable.sql
  queries/episodes.sql
Due: Test, Build

productiondateIntitle
  web/src/components/episodes/EpisodeDisplay.vue
  web/src/graph/generated.ts
  web/src/graph/queries/episode.graphql
Due: Web

search design fix
  web/src/components/search/EpisodeSearchQuery.vue
  web/src/components/search/ShowSearchQuery.vue
  web/src/components/sections/item/breakpoints.ts
  web/src/pages/search/Search.vue
Due: Web

needed collectionIds
  backend/export/export.go
Due: Test, Build

Add PublicTitle and PreventPublicIndexing
  .semaphore/semaphore.yml
  backend/cmd/rewriter/api.go
  backend/cmd/rewriter/main.go
  backend/cmd/rewriter/queries/episode.graphql
  backend/common/images.go
  backend/common/items.go
  backend/graph/public/generated/generated.go
  backend/graph/public/model/models_gen.go
  backend/graph/public/schema.resolvers.go
  backend/graph/public/schema/schema.episodes.graphqls
  backend/graph/public/schema/schema.seasons.graphqls
  backend/graph/public/schema/schema.shows.graphqls
  backend/sqlc/episode-queries.go
  backend/sqlc/episodes.sql.go
  backend/sqlc/models.go
  backend/sqlc/season-queries.go
  backend/sqlc/seasons.sql.go
  backend/sqlc/show-queries.go
  backend/sqlc/shows.sql.go
  queries/episodes.sql
  queries/seasons.sql
  queries/shows.sql
  web/src/graph/generated.ts
  web/src/graph/queries/episode.graphql
  web/src/graph/queries/season.graphql
  web/src/graph/queries/show.graphql
  web/src/pages/redirect/redirect.graphql
  web/src/pages/search/search.graphql
Due: Web, Test, Build

migration
  migrations/00082_episode_public_title.sql
  web/src/graph/queries/redirect.graphql
  web/src/graph/queries/search.graphql
Due: Web

Semaphore step names
  .semaphore/deploy-dev.yml
  .semaphore/deploy-prod.yml
  .semaphore/deploy-sta.yml
Due: none

invalid type
  web/src/components/search/ShowSearchQuery.vue
  web/src/pages/search/Search.vue
  web/src/services/analytics/events.ts
  web/src/utils/items.ts
Due: Web

update directus
  cms/package-lock.json
  cms/package.json
  cms/src/endpoints/preview/index.ts
  cms/src/hooks/pubsub/index.ts
  cms/src/hooks/pubsub/publish.ts
  cms/src/hooks/sync-to-legacy/index.ts
Due: Build CMS

Some step naming
  .semaphore/semaphore.yml
Due: none

Permission
  migrations/00082_editor_permissions.sql
Due: none

migration order
  migrations/00083_episode_public_title.sql
Due: none

comment
  .semaphore/semaphore.yml
Due: none

Build backend
  .semaphore/semaphore.yml
Due: none

img
  web/src/components/Image.vue
Due: Web

directus better datepicker
  cms/custom/Makefile
  cms/custom/interface-datepicker/.gitignore
  cms/custom/interface-datepicker/package.json
  cms/custom/interface-datepicker/pnpm-lock.yaml
  cms/custom/interface-datepicker/src/index.ts
  cms/custom/interface-datepicker/src/interface.vue
  cms/custom/interface-datepicker/src/shims.d.ts
  cms/custom/interface-datepicker/tsconfig.json
Due: Build CMS

no pnpm
  cms/custom/interface-datepicker/package-lock.json
  cms/custom/interface-datepicker/pnpm-lock.yaml
Due: Build CMS

image or fallback
  backend/graph/api/items.resolvers.go
  backend/graph/api/pages.resolvers.go
  backend/graph/api/resolver.go
  web/src/utils/lists.ts
Due: Web, Test, Build

datepicker
  migrations/00084_datepicker.sql
Due: none

better query
  web/src/components/SearchInput.vue
  web/src/components/navbar/Navbar.vue
  web/src/components/page/Page.vue
  web/src/components/sections/item/IconSection.vue
  web/src/pages/search/Search.vue
  web/src/translations/en.json
  web/src/translations/no.json
  web/src/utils/search.ts
Due: Web

interface fixes
  cms/custom/interface-datepicker/src/interface.vue
Due: Build CMS

dont hide image field
  migrations/00085_show_old_image_field.sql
Due: none

docs(web): readme about adblockers
  web/README.md
Due: Web

date
  cms/custom/interface-datepicker/src/interface.vue
Due: Build CMS

feat(study): basic setup
  web/src/components/study/quiz/QuizOption.vue
  web/src/pages/study/Embed.vue
  web/src/router/routes.ts
Due: Web

refactor: quiz question as a component
  web/src/components/study/quiz/QuizOption.vue
  web/src/components/study/quiz/QuizQuestion.vue
  web/src/pages/study/Embed.vue
Due: Web

studies initial commit
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/schema.graphqls
  backend/graph/api/schema/studies.graphqls
  backend/graph/api/studies.resolvers.go
  backend/sqlc/models.go
  backend/sqlc/studies.sql.go
  backend/sqlc/study-queries.go
  backend/studies/studies.go
  migrations/00086_study_topics_lessons.sql
  queries/studies.sql
Due: Test, Build

Added export for signed URLs
  backend/export/export.go
  backend/export/sqlc/migrations/01_init.sql
  backend/export/sqlc/queries/streams.sql
  backend/export/sqlexport/models.go
  backend/export/sqlexport/streams.sql.go
  backend/graph/api/resolver.go
Due: Test, Build

queries
  backend/sqlc/studies.sql.go
  backend/sqlc/study-queries.go
  backend/studies/studies.go
  queries/studies.sql
Due: Test, Build

feat(web): flutter communication
  web/src/flutter.d.ts
  web/src/pages/study/Embed.vue
  web/src/utils/flutter.ts
Due: Web

Path conditions:
  Web: any of: web/
  Build CMS: any of: cms/
  Test: any of: backend/
  Build: any of: backend/
