Repository bcc-code/bcc-media-platform: changes, and which Semaphore blocks are due for each by the changed paths.
All: Web, Build CMS, Test, Build

Path conditions:
  Web: any of: web/
  Build CMS: any of: cms/
  Test: any of: backend/
  Build: any of: backend/

remove unnecessary line
  backend/cmd/rewrite/main.go
Due: Test, Build

Migrations
  backend/sqlc/models.go
  migrations/00013_sections_images_styles.sql
Due: Test, Build

Use port env variable
  backend/cmd/rewrite/env.go
  backend/cmd/rewrite/main.go
Due: Test, Build

Set domain after retrieving from database
  backend/cmd/api/main.go
  backend/graph/api/model/episode.go
  backend/graph/api/model/season.go
  backend/graph/api/model/show.go
  backend/search/episodes.go
  backend/search/seasons.go
  backend/search/shows.go
  backend/sqlc/episode-queries.go
  backend/sqlc/methods.go
  backend/sqlc/season-queries.go
  backend/sqlc/show-queries.go
Due: Test, Build

Image cdn config location
  backend/cmd/jobs/env.go
  backend/cmd/jobs/env.sample
  backend/cmd/jobs/main.go
Due: Test, Build

package naming
  backend/cmd/rewrite/main.go
  backend/cmd/rewrite/queries/episode.graphql
  backend/graph/api/calendar-resolver.go
  backend/graph/api/calendar.resolvers.go
  backend/graph/api/collection-resolver.go
  backend/graph/api/config.resolvers.go
  backend/graph/api/faq.resolvers.go
  backend/graph/api/generated/generated.go
  backend/graph/api/gqlgen.yml
  backend/graph/api/messages.resolvers.go
  backend/graph/api/model/asset.go
  backend/graph/api/model/calendar-entry.go
  backend/graph/api/model/collection.go
  backend/graph/api/model/episode.go
  backend/graph/api/model/event.go
  backend/graph/api/model/faq.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/model/page.go
  backend/graph/api/model/season.go
  backend/graph/api/model/section.go
  backend/graph/api/model/show.go
  backend/graph/api/pages.resolvers.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/search-resolver.go
  backend/graph/api/search.resolvers.go
  backend/graph/public/generated/generated.go
  backend/graph/public/gqlgen.yml
  backend/graph/public/model/models_gen.go
  backend/graph/public/schema.episodes.resolvers.go
  backend/graph/public/schema.resolvers.go
  backend/graph/public/schema.seasons.resolvers.go
Due: Test, Build

naming
  backend/cmd/api/main.go
  backend/graph/admin/generated/generated.go
  backend/graph/admin/gqlgen.yml
  backend/graph/admin/model/models_gen.go
  backend/graph/admin/resolver.go
  backend/graph/admin/schema.resolvers.go
  backend/graph/public/generated/generated.go
  backend/graph/public/resolver.go
  backend/graph/public/schema.episodes.resolvers.go
  backend/graph/public/schema.resolvers.go
  backend/graph/public/schema.seasons.resolvers.go
Due: Test, Build

fix web build scripts
  scripts/generate-web-builds.sh
  web/package.json
Due: Web

queries in files (rename to rewriter)
  backend/cmd/rewriter/api.go
  backend/cmd/rewriter/env.go
  backend/cmd/rewriter/main.go
  backend/cmd/rewriter/queries/episode.graphql
  backend/cmd/rewriter/queries/season.graphql
  backend/cmd/rewriter/queries/show.graphql
Due: Test, Build

log errors
  backend/cmd/rewriter/api.go
  backend/cmd/rewriter/main.go
Due: Test, Build

api error loggin
  backend/cmd/rewriter/api.go
Due: Test, Build

code climate
  .codeclimate.yml
Due: none

images and localemap
  backend/common/images.go
  backend/common/locale-map.go
Due: Test, Build

Map tagids on shows
  backend/common/items.go
  backend/search/seasons.go
  backend/search/shows.go
  backend/sqlc/models.go
  backend/sqlc/season-queries.go
  backend/sqlc/seasons.sql.go
  backend/sqlc/show-queries.go
  backend/sqlc/shows.sql.go
  migrations/00013_shows_seasons_tags.sql
  queries/seasons.sql
  queries/shows.sql
Due: Test, Build

Add support for putting AZ behind CF
  backend/cmd/api/env.go
  backend/cmd/api/env.sample
  backend/graph/model/asset.go
  backend/graph/resolver.go
  backend/graph/schema.resolvers.go
  backend/signing/signer.go
Due: Test, Build

permissions
  migrations/00013_shows_seasons_tags.sql
Due: none

whitespace
  backend/sqlc/seasons.sql.go
  backend/sqlc/shows.sql.go
Due: Test, Build

package names
  backend/graph/api/applications.resolvers.go
  backend/graph/api/calendar-resolver.go
  backend/graph/api/calendar.resolvers.go
  backend/graph/api/collection-resolver.go
  backend/graph/api/config.resolvers.go
  backend/graph/api/faq.resolvers.go
  backend/graph/api/messages.resolvers.go
  backend/graph/api/pages.resolvers.go
  backend/graph/api/resolver.go
  backend/graph/api/search-resolver.go
  backend/graph/api/search.resolvers.go
Due: Test, Build

out package name gql config
  backend/graph/api/gqlgen.yml
Due: Test, Build

locale images and migration for constraint
  backend/common/images.go
  backend/common/locale-map.go
  backend/common/locale-string.go
  migrations/00014_sections_images_styles.sql
  migrations/00015_sections_constraint_check.sql
Due: Test, Build

disable signing testts
  backend/signing/signer_test.go
Due: Test, Build

Images
  backend/common/images.go
  backend/common/items.go
  backend/common/locale-map.go
  backend/common/locale-string.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/episode.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/model/season.go
  backend/graph/api/model/show.go
  backend/graph/api/schema/schema.graphqls
  backend/sqlc/episode-queries.go
  backend/sqlc/episodes.sql.go
  backend/sqlc/images.go
  backend/sqlc/season-queries.go
  backend/sqlc/seasons.sql.go
  backend/sqlc/show-queries.go
  backend/sqlc/shows.sql.go
  queries/episodes.sql
  queries/seasons.sql
  queries/shows.sql
Due: Test, Build

permissions
  migrations/00014_tags_permissions.sql
Due: none

rename migration order
  migrations/00015_sections_images_styles.sql
  migrations/00016_sections_constraint_check.sql
Due: none

fix missing url
  backend/graph/api/model/episode.go
  backend/graph/api/model/season.go
  backend/graph/api/model/show.go
Due: Test, Build

Images on items
  backend/graph/api/generated/generated.go
  backend/graph/api/model/episode.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/model/season.go
  backend/graph/api/model/show.go
  backend/graph/api/schema/schema.graphqls
Due: Test, Build

fix bgworker privileges
  migrations/00015_fix_permissions.sql
Due: none

migration order
  migrations/00016_sections_images_styles.sql
  migrations/00017_sections_constraint_check.sql
Due: none

unnecessary template file
  .idea/runConfigurations/jobs_example.xml
Due: none

first and last episode, season
  backend/graph/api/generated/generated.go
  backend/graph/api/items.resolvers.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/collections.graphqls
  backend/graph/api/schema/items.graphqls
  backend/graph/api/schema/schema.graphqls
Due: Test, Build

bad migration
  migrations/00017_sections_constraint_check.sql
Due: none

missing permissions
  migrations/00016_sections_images_styles.sql
Due: none

first of and last of
  backend/graph/api/items.resolvers.go
  backend/graph/api/lists.go
Due: Test, Build

permissions
  backend/cmd/api/main.go
  backend/common/loader.go
  backend/graph/api/resolver.go
  queries/episodes.sql
Due: Test, Build

name as code
  backend/sqlc/tags.sql.go
  queries/tags.sql
Due: Test, Build

type error
  backend/sqlc/tag-queries.go
Due: Test, Build

filter factory
  backend/cmd/api/main.go
  backend/graph/api/items.resolvers.go
  backend/graph/api/resolver.go
  backend/sqlc/episode-queries.go
  backend/sqlc/episodes.sql.go
  backend/sqlc/season-queries.go
  backend/sqlc/seasons.sql.go
  backend/utils/ints.go
  queries/episodes.sql
  queries/seasons.sql
Due: Test, Build

tagsfield searchable
  backend/search/indexing.go
Due: Test, Build

Views for some permission filtering.
  backend/cmd/api/main.go
  backend/common/loader.go
  backend/graph/admin/resolver.go
  backend/graph/api/collection-resolver.go
  backend/items/collection/filter.go
  backend/items/collection/loader.go
  backend/sqlc/collection-queries.go
  backend/sqlc/collections.sql.go
  backend/sqlc/models.go
  migrations/00018_availability_roles_view.sql
  queries/collections.sql
  queries/episodes.sql
  queries/seasons.sql
  queries/shows.sql
Due: Test, Build

Add the loaders to dictionary
  backend/cmd/api/main.go
Due: Test, Build
