Repository bcc-code/bcc-media-platform: changes, and which Semaphore blocks are due for each by the changed paths.
All: Web, Build CMS, Test, Build

Path conditions:
  Web: any of: web/
  Build CMS: any of: cms/
  Test: any of: backend/
  Build: any of: backend/

add collectionId to section metadata
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/model/section.go
  backend/graph/api/schema/pages.graphqls
  web/public/.well-known/apple-app-site-association
Due: Web, Test, Build

deep link support
  web/public/.well-known/apple-app-site-association
  web/public/.well-known/assetlinks.json
Due: Web

Add context when retrieving episode
  backend/graph/api/calendar.resolvers.go
  backend/graph/api/generated/generated.go
  backend/graph/api/items.resolvers.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/schema.graphqls
Due: Test, Build

Upgrade gqlgen
  backend/graph/api/model/models_gen.go
Due: Test, Build

Episode context
  backend/graph/api/items.resolvers.go
  backend/graph/api/schema.resolvers.go
  web/.graphqlrc.yml
  web/codegen.yml
  web/src/components/episodes/EpisodeDisplay.vue
  web/src/graph/generated.ts
  web/src/pages/episode/Episode.vue
  web/src/pages/episode/episode.graphql
Due: Web, Test, Build

Remove some debug stuff
  backend/cmd/api/env.go
Due: Test, Build

send start and end
  backend/cmd/jobs/update-handler.go
  backend/common/models.go
  backend/sqlc/models.go
  backend/sqlc/notification-queries.go
  backend/sqlc/notifications.sql.go
  migrations/00064_notifications_rework.sql
  migrations/00066_send_started_completed.sql
  queries/notifications.sql
Due: Test, Build

Include data in context instead of related items
  backend/graph/api/generated/generated.go
  backend/graph/api/items.resolvers.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/schema/items.graphqls
Due: Test, Build

codegen source
  web/codegen.yml
Due: Web

Update migrations/00064_add_redirects.sql
  migrations/00064_add_redirects.sql
Due: none

episode context
  web/src/components/episodes/EpisodeDisplay.vue
  web/src/components/episodes/EpisodeTitle.vue
  web/src/components/seasons/SeasonTitle.vue
  web/src/components/sections/DefaultGridSection.vue
  web/src/components/sections/DefaultSection.vue
  web/src/components/sections/FeaturedSection.vue
  web/src/components/sections/IconGridSection.vue
  web/src/components/sections/IconSection.vue
  web/src/components/sections/ItemList.vue
  web/src/components/sections/LabelSection.vue
  web/src/components/sections/ListSection.vue
  web/src/components/sections/PosterGridSection.vue
  web/src/components/sections/PosterSection.vue
  web/src/graph/generated.ts
  web/src/graph/queries/episode.graphql
  web/src/graph/queries/page.graphql
  web/src/pages/episode/Episode.vue
  web/src/utils/items.ts
Due: Web

graphql endpoint
  web/.graphqlrc.yml
Due: Web

sun
  go.sum
Due: none

Service url not api url
  backend/cmd/jobs/env.go
  backend/cmd/jobs/main.go
Due: Test, Build

fix special
  migrations/00067_fix_notifications_id.sql
Due: none

fix migration
  migrations/00068_fix_missing_permissions.sql
Due: none

fix search
  web/src/pages/search/Search.vue
Due: Web

refactor code
  web/src/components/settings/LangSelector.vue
  web/src/pages/setting/SettingContent.vue
Due: Web

Make redirects use loaders for caching
  backend/cmd/api/env.go
  backend/cmd/api/main.go
  backend/common/loaders.go
  backend/common/models.go
  backend/graph/api/schema.resolvers.go
  backend/sqlc/redirect-queries.go
  backend/sqlc/redirects.sql.go
  go.mod
  go.sum
  queries/redirects.sql
Due: Test, Build

fix notifications
  backend/sqlc/models.go
  migrations/00069_notifications_remove.sql
  migrations/00070_notifications_add.sql
Due: Test, Build

previous merge code error
  web/src/components/sections/Section.vue
Due: Web

fix migration
  migrations/00070_notifications_add.sql
Due: none

minor changes
  backend/cmd/jobs/update-handler.go
Due: Test, Build

Add JWKS wellknown
  backend/cmd/api/env.go
  backend/cmd/api/env.sample
  backend/cmd/api/main.go
Due: Test, Build

Update Issuer
  backend/graph/api/schema.resolvers.go
Due: Test, Build

Update migration number
  migrations/00069_add_redirects.sql
Due: none

smoother video loader
  web/src/components/EpisodeViewer.vue
  web/src/utils/randomImage.ts
  web/src/utils/theme.ts
Due: Web

itemsection
  web/src/graph/generated.ts
Due: Web

move to me
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/schema.graphqls
  web/src/components/EpisodeViewer.vue
  web/src/graph/generated.ts
  web/src/graph/queries/analytics.graphql
Due: Web, Test, Build

dont use episode card
  web/src/components/EpisodeCard.vue
Due: Web

deploy rewriter to utils
  .semaphore/semaphore.yml
  scripts/deploy.sh
  scripts/generate-cloud-build.sh
Due: none

Fix migs
  migrations/00071_add_redirects.sql
Due: none

Fix merge issues
  backend/cmd/api/main.go
Due: Test, Build

episode not episodes endpoint rewriter
  backend/cmd/rewriter/main.go
Due: Test, Build

fix bug according to teh comment
  web/src/components/navbar/Navbar.vue
  web/src/components/settings/LangSelector.vue
  web/src/i18n/index.ts
  web/src/i18n/translations/en.json
  web/src/layout/StackedLayout.vue
  web/src/pages/setting/SettingContent.vue
Due: Web

not found too early
  web/src/components/episodes/EpisodeDisplay.vue
Due: Web

Fix access for directus to redirects
  migrations/00072_allow_directus_access_to_redirects.sql
Due: none

fix progress unique
  backend/sqlc/progress.sql.go
  queries/progress.sql
Due: Test, Build
