Repository bcc-code/bcc-media-platform: changes, and which Semaphore blocks are due for each by the changed paths.
All: Web, Build CMS, Test, Build

Path conditions:
  Web: any of: web/
  Build CMS: any of: cms/
  Test: any of: backend/
  Build: any of: backend/

fix merge conflicts
  backend/graph/api/pages.resolvers.go
Due: Test, Build

Set device push token, remove create profile (defaults to "default")
  backend/graph/api/generated/generated.go
  backend/graph/api/items.resolvers.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/pages.resolvers.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/devices.graphqls
  backend/graph/api/schema/schema.graphqls
  go.mod
Due: Test, Build

Migration orders
  migrations/00022_profiles_devices.sql
Due: none

minor update to trigger build
  backend/cmd/api/main.go
Due: Test, Build

Unnecessary endpoitns
  backend/graph/api/generated/generated.go
  backend/graph/api/model/episode.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/model/season.go
  backend/graph/api/model/show.go
  backend/graph/api/pages.resolvers.go
  backend/graph/api/schema/pages.graphqls
Due: Test, Build

fix invalid query
  backend/sqlc/episodes.sql.go
  queries/episodes.sql
Due: Test, Build

missing permissions
  migrations/00023_missing_schema_permissions.sql
Due: none

Implement episode and season count on show
  backend/graph/api/generated/generated.go
  backend/graph/api/items.resolvers.go
  backend/graph/api/schema/items.graphqls
Due: Test, Build

some more styling of page
  web/src/components/sections/DefaultSection.vue
  web/src/components/sections/FeaturedSection.vue
  web/src/components/sections/IconSection.vue
  web/src/components/sections/PosterSection.vue
  web/src/components/sections/breakpoints.ts
  web/src/graph/generated.ts
  web/src/i18n/translations/en.json
  web/src/i18n/translations/no.json
  web/src/pages/page/Page.vue
  web/src/pages/page/queries.graphql
Due: Web

change aspect
  web/src/components/sections/FeaturedSection.vue
Due: Web

Process AWS notifications for finished ingest
  backend/asset/ingest.go
  backend/cmd/jobs/main.go
  backend/cmd/jobs/server/server.go
  backend/cmd/pubsub-helper/main.go
  backend/directus/assets.go
  backend/pubsub/sns-eventbridge-types.go
  backend/sqlc/models.go
  go.mod
  go.sum
  migrations/00024_add_awsarn_field.sql
Due: Test, Build

Remove owner alterations from migration
  migrations/00024_add_awsarn_field.sql
Due: none

Remove apt in semaphore
  .semaphore/deploy-dev.yml
  .semaphore/deploy-prod.yml
  .semaphore/deploy-sta.yml
Due: none

Changed names to trigger build
  .semaphore/deploy-prod.yml
Due: none

Images on pages
  backend/common/items.go
  backend/common/status.go
  backend/common/status_test.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/model/page.go
  backend/graph/api/pages.resolvers.go
  backend/graph/api/schema/pages.graphqls
  backend/sqlc/models.go
  backend/sqlc/page-queries.go
  backend/sqlc/pages.sql.go
  go.mod
  migrations/00025_pages_images.sql
  queries/pages.sql
Due: Test, Build

Undo status removal
  backend/common/status.go
  backend/common/status_test.go
Due: Test, Build

Expose GIT build SHA
  .semaphore/semaphore.yml
  backend/Dockerfile
  backend/cmd/api/main.go
  backend/cmd/jobs/main.go
  backend/cmd/rewriter/main.go
  backend/graph/admin/schema.resolvers.go
  backend/graph/api/applications.resolvers.go
  backend/graph/api/calendar.resolvers.go
  backend/graph/api/config.resolvers.go
  backend/graph/api/faq.resolvers.go
  backend/graph/api/items.resolvers.go
  backend/graph/api/messages.resolvers.go
  backend/graph/api/pages.resolvers.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/search.resolvers.go
  backend/graph/public/generated/generated.go
  backend/graph/public/model/models_gen.go
  backend/graph/public/schema.episodes.resolvers.go
  backend/graph/public/schema.resolvers.go
  backend/graph/public/schema.seasons.resolvers.go
  backend/graph/public/schema/schema.graphqls
  backend/version/handler.go
  go.mod
  scripts/gen-version.sh
  version.json
Due: Test, Build

Fixup
  backend/graph/public/schema.resolvers.go
Due: Test, Build

Updated gqlgen
  backend/graph/admin/schema.resolvers.go
  backend/graph/api/applications.resolvers.go
  backend/graph/api/calendar.resolvers.go
  backend/graph/api/config.resolvers.go
  backend/graph/api/faq.resolvers.go
  backend/graph/api/items.resolvers.go
  backend/graph/api/messages.resolvers.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/pages.resolvers.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/search.resolvers.go
  backend/graph/public/schema.episodes.resolvers.go
  backend/graph/public/schema.resolvers.go
  backend/graph/public/schema.seasons.resolvers.go
Due: Test, Build

Simplify version reading
  backend/version/handler.go
Due: Test, Build

Implement link items
  backend/cmd/api/main.go
  backend/common/items.go
  backend/common/loader.go
  backend/common/models.go
  backend/graph/api/collection-resolver.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/model/section.go
  backend/graph/api/pages.resolvers.go
  backend/graph/api/schema/collections.graphqls
  backend/graph/api/schema/pages.graphqls
  backend/sqlc/collections.sql.go
  backend/sqlc/episode-queries.go
  backend/sqlc/models.go
  backend/sqlc/section-queries.go
  backend/sqlc/sections.sql.go
  migrations/00026_link_collection_item.sql
  migrations/00027_link_translations.sql
  queries/sections.sql
Due: Test, Build

fix missing images
  backend/graph/api/items.resolvers.go
Due: Test, Build

some notification things
  backend/push/client.go
Due: Test, Build

func for fallback logic
  backend/graph/api/items.resolvers.go
  backend/graph/api/pages.resolvers.go
  backend/graph/api/resolver.go
Due: Test, Build

respect type
  backend/sqlc/section-queries.go
Due: Test, Build

merge
  backend/graph/api/model/models_gen.go
  backend/graph/api/pages.resolvers.go
Due: Test, Build

Push model
  backend/common/models.go
  backend/push/client.go
Due: Test, Build

Typo
  backend/cmd/jobs/main.go
Due: Test, Build

Generate version relative
  .semaphore/semaphore.yml
Due: none

checkout first
  .semaphore/semaphore.yml
Due: none

Made sed command gnu compatible
  .gitignore
  scripts/gen-version.sh
Due: none

Define notifications in database
  backend/cmd/jobs/main.go
  backend/common/models.go
  backend/push/client.go
  backend/sqlc/models.go
  backend/sqlc/notification-queries.go
  backend/sqlc/notifications.sql.go
  cms/src/hooks/pubsub/publish.ts
  migrations/00028_notifications.sql
  queries/notifications.sql
Due: Build CMS, Test, Build

clear profile
  backend/user/middleware.go
Due: Test, Build

Implement caching of profile
  backend/cmd/api/env.go
  backend/cmd/api/env.sample
  backend/cmd/api/main.go
  backend/graph/api/schema.resolvers.go
  backend/user/middleware.go
  backend/utils/ints.go
  backend/utils/locks.go
  docker-compose.yml
  go.mod
  go.sum
Due: Test, Build

username in config
  backend/cmd/api/main.go
Due: Test, Build

created a new one for no reason
  backend/user/middleware.go
Due: Test, Build

Send message
  backend/push/client.go
  backend/sqlc/user-devices.sql.go
  queries/user-devices.sql
Due: Test, Build

Clearer flow on panic
  backend/cmd/jobs/main.go
Due: Test, Build

errs
  backend/push/client.go
Due: Test, Build

redis address
  backend/cmd/api/env.sample
Due: Test, Build
