Repository bcc-code/bcc-media-platform: changes, and which Semaphore blocks are due for each by the changed paths.
All: Web, Build CMS, Test, Build

Web:
  jobs:
  - name: deploy
    commands:
    - checkout
    - ./scripts/web.sh dev

Build CMS:
  jobs:
  - name: build
    commands:
    - checkout
    - cd cms
    - docker build -t "europe-west4-docker.pkg.dev/utils-332514/btv-platform/cms:${SEMAPHORE_GIT_SHA:0:7}" -t europe-west4-docker.pkg.dev/utils-332514/btv-platform/cms:$SEMAPHORE_GIT_BRANCH .
  ...

Test:
  jobs:
  - name: go test
    commands:
    - export GOPATH=~/go
    - export PATH=/home/semaphore/go/bin:$PATH
    - export CGO_ENABLED=0
    - checkout
    - cache restore
    - go get ./...
    - go test ./...
  epilogue:
    on_pass:
      commands:
      - cache store
  prologue:
    commands:
    - sem-version go 1.19

Build:
  prologue:
    commands:
    - sem-version go 1.19
    - export GOPATH=~/go
    - export PATH=/home/semaphore/go/bin:$PATH
    - checkout
    - cache restore
    - gcloud auth activate-service-account --key-file=/home/semaphore/secrets/google.key.json
  ...

search click fix
  web/src/components/search/SearchItem.vue
  web/src/pages/episode/Episode.vue
  web/src/pages/search/Search.vue
Due: Web

query param in url
  web/src/pages/episode/Episode.vue
  web/src/pages/search/Search.vue
Due: Web

try to fix profile index out of range
  backend/user/middleware.go
  web/codegen.yml
  web/src/components/icons/index.ts
  web/src/graph/generated.ts
  web/src/pages/Live.vue
  web/src/router/routes.ts
Due: Web, Test, Build

oi
  web/src/components/icons/ChevronLeft.vue
  web/src/components/icons/ChevronRight.vue
  web/src/components/icons/ChevronUp.vue
  web/src/pages/live/Live.vue
  web/src/pages/live/queries.graphql
  web/src/utils/date.ts
Due: Web

Configure the possibility to show episode publish dates on show
  backend/sqlc/episodes.sql.go
  backend/sqlc/models.go
  migrations/00042_show_publish_date.sql
  queries/episodes.sql
Due: Test, Build

Look up the episode legacy ID
  backend/batchloaders/loader.go
  backend/cmd/api/main.go
  backend/common/loaders.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/schema.graphqls
  backend/sqlc/episode-queries.go
  backend/sqlc/episodes.sql.go
  queries/episodes.sql
Due: Test, Build

implement rudderstack
  backend/analytics/utils.go
  backend/cmd/api/env.go
  backend/cmd/api/main.go
  backend/graph/api/analytics.resolvers.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/resolver.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/analytics.graphqls
  backend/graph/api/schema/schema.graphqls
  backend/user/middleware.go
  web/package.json
  web/pnpm-lock.yaml
  web/src/services/analytics/events.ts
  web/src/services/analytics/index.ts
Due: Web, Test, Build

fix some episode things
  backend/sqlc/calendar-queries.go
  web/src/components/icons/Calendar.vue
  web/src/components/icons/Feed.vue
  web/src/components/icons/Home.vue
  web/src/components/icons/Live.vue
  web/src/components/icons/Search.vue
  web/src/components/live/Player.vue
  web/src/components/navbar/NavLink.vue
  web/src/components/navbar/Navbar.vue
  web/src/graph/generated.ts
  web/src/i18n/translations/en.json
  web/src/i18n/translations/no.json
  web/src/pages/episode/Episode.vue
  web/src/pages/episode/episode.graphql
  web/src/pages/live/Live.vue
Due: Web, Test, Build

Some more visual stuff and things
  backend/common/locale-string.go
  backend/graph/api/calendar-resolver.go
  backend/graph/api/calendar.resolvers.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/calendar-entry.go
  backend/graph/api/schema/calendar.graphqls
  web/src/components/live/Player.vue
  web/src/components/live/Subtitle.vue
  web/src/graph/generated.ts
  web/src/pages/live/Live.vue
  web/src/pages/live/queries.graphql
Due: Web, Test, Build

update languages
  backend/sqlc/user-devices.sql.go
  queries/user-devices.sql
Due: Test, Build

componentize
  web/src/components/calendar/DayQuery.vue
  web/src/components/calendar/Subtitle.vue
  web/src/graph/generated.ts
  web/src/i18n/translations/no.json
  web/src/pages/live/Live.vue
Due: Web

move queries to component
  web/src/components/calendar/DayQuery.vue
  web/src/components/calendar/Subtitle.vue
  web/src/components/calendar/queries.graphql
  web/src/graph/generated.ts
  web/src/pages/calendar/Calendar.vue
  web/src/pages/live/queries.graphql
  web/src/utils/date.ts
Due: Web

if not nil
  backend/graph/api/search.resolvers.go
Due: Test, Build

calendar thigns
  web/src/components/calendar/DayQuery.vue
  web/src/components/calendar/queries.graphql
  web/src/graph/generated.ts
  web/src/pages/calendar/Calendar.vue
  web/src/utils/date.ts
Due: Web

default episode is not nullable
  backend/graph/api/schema/items.graphqls
  web/src/i18n/translations/en.json
  web/src/pages/calendar/Calendar.vue
  web/src/pages/live/Live.vue
Due: Web, Test, Build

increase collection item pagination
  migrations/00043_increase_collection_page_amount.sql
  web/src/components/live/Player.vue
  web/src/i18n/translations/en.json
  web/src/i18n/translations/no.json
  web/src/pages/live/Live.vue
Due: Web

fix generated code
  backend/graph/api/analytics.resolvers.go
  backend/graph/api/generated/generated.go
Due: Test, Build

REmove code climate config
  .codeclimate.yml
Due: none

mroe styles here and there
  web/src/components/SeasonSelector.vue
  web/src/components/icons/Calendar.vue
  web/src/components/icons/Feed.vue
  web/src/components/icons/Home.vue
  web/src/components/icons/Live.vue
  web/src/components/icons/Search.vue
  web/src/components/navbar/Navbar.vue
  web/src/graph/generated.ts
  web/src/pages/episode/Episode.vue
Due: Web

search style
  web/src/components/SearchInput.vue
  web/src/components/navbar/Navbar.vue
  web/src/components/search/EpisodeSearchQuery.vue
  web/src/components/search/ShowSearchQuery.vue
  web/src/pages/episode/Episode.vue
  web/src/pages/search/Search.vue
Due: Web

Script for copying PROD to STA
  Makefile
  scripts/staging-sync/copy.sh
  scripts/staging-sync/drop-schema.sql
Due: none

hover styles
  web/src/components/SearchInput.vue
  web/src/components/navbar/NavLink.vue
  web/src/components/navbar/Navbar.vue
  web/src/components/search/EpisodeSearchQuery.vue
  web/src/graph/client.ts
  web/src/i18n/translations/en.json
  web/src/i18n/translations/no.json
  web/src/pages/search/Search.vue
Due: Web

legacy program id
  backend/graph/api/search-resolver.go
  backend/search/episodes.go
Due: Test, Build

link and grid icon section
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/model/section.go
  backend/graph/api/pages.resolvers.go
  backend/graph/api/schema/pages.graphqls
  migrations/00044_list_and_icon_grid_section.sql
Due: Test, Build

SearchPageID
  backend/common/items.go
  backend/graph/api/applications.resolvers.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/applications.graphqls
  backend/sqlc/application-queries.go
  backend/sqlc/applications.sql.go
  backend/sqlc/models.go
  migrations/00045_search_page_id.sql
  queries/applications.sql
Due: Test, Build

search instantly
  web/src/components/SearchInput.vue
  web/src/components/navbar/NavLink.vue
  web/src/components/navbar/Navbar.vue
  web/src/components/sections/IconSection.vue
  web/src/graph/client.ts
  web/src/pages/search/Search.vue
  web/src/utils/search.ts
Due: Web

autopromote to master
  .semaphore/semaphore.yml
Due: none

Apply suggestions from code review
  scripts/staging-sync/copy.sh
Due: none

Live ping
  web/src/components/navbar/NavLink.vue
  web/src/components/navbar/Navbar.vue
  web/src/graph/generated.ts
  web/src/layout/StackedLayout.vue
  web/src/layout/queries.graphql
  web/src/router/index.ts
  web/src/services/auth.ts
Due: Web

pulse
  web/src/components/navbar/NavLink.vue
Due: Web

ping on mobile
  web/src/components/navbar/Navbar.vue
  web/src/components/sections/IconSection.vue
Due: Web

fix intersect
  backend/user/access.go
Due: Test, Build

migration to fix vie
  migrations/00046_published_permissions_filter.sql
Due: none

fix nullable properties
  backend/sqlc/models.go
  migrations/00047_fix_nullable_props.sql
  web/src/components/episodes/EpisodeTitle.vue
Due: Web, Test, Build

search page
  web/src/components/episodes/ShowTitle.vue
  web/src/graph/generated.ts
  web/src/layout/queries.graphql
  web/src/pages/search/Search.vue
Due: Web

icongrid and list section
  web/src/components/sections/IconGridSection.vue
  web/src/components/sections/ListSection.vue
  web/src/components/sections/Section.vue
Due: Web

line clamp
  web/package.json
  web/pnpm-lock.yaml
  web/src/components/SearchInput.vue
  web/src/components/episodes/EpisodeTitle.vue
  web/src/components/episodes/ShowTitle.vue
  web/src/components/navbar/NavLink.vue
  web/src/components/navbar/Navbar.vue
  web/src/components/page/Page.vue
  web/src/components/page/queries.graphql
  web/src/components/search/EpisodeSearchQuery.vue
  web/src/components/sections/IconGridSection.vue
  web/src/components/sections/ListSection.vue
  web/src/components/sections/SectionItemTitle.vue
  web/src/graph/generated.ts
  web/src/layout/queries.graphql
  web/src/pages/Season.vue
  web/src/pages/Show.vue
  web/src/pages/calendar/Calendar.vue
  web/src/pages/episode/Episode.vue
  web/src/pages/live/Live.vue
  web/src/pages/page/Page.vue
  web/src/pages/search/Search.vue
  web/src/router/index.ts
  web/src/utils/title.ts
  web/tailwind.config.cjs
Due: Web

route
  web/src/router/routes.ts
Due: Web

some things
  web/src/components/SearchInput.vue
  web/src/components/episodes/ShowTitle.vue
  web/src/components/page/Page.vue
  web/src/components/search/EpisodeSearchQuery.vue
  web/src/components/search/ShowSearchQuery.vue
  web/src/components/seasons/SeasonTitle.vue
  web/src/components/sections/DefaultSection.vue
  web/src/components/sections/IconGridSection.vue
  web/src/components/sections/IconSection.vue
  web/src/components/sections/ListSection.vue
  web/src/components/sections/PosterSection.vue
  web/src/components/sections/SectionItemTitle.vue
  web/src/components/sections/breakpoints.ts
  web/src/components/shows/ShowTitle.vue
  web/src/graph/generated.ts
  web/src/pages/episode/Episode.vue
  web/src/pages/episode/episode.graphql
  web/src/pages/page/Page.vue
  web/src/pages/search/Search.vue
  web/src/utils/images.ts
  web/src/utils/title.ts
  web/tailwind.config.cjs
Due: Web

Path conditions:
  Web: any of: web/
  Build CMS: any of: cms/
  Test: any of: backend/
  Build: any of: backend/
