Repository bcc-code/bcc-media-platform: changes, and which Semaphore blocks are due for each by the changed paths.
All: Web, Build CMS, Test, Build

Web:
  jobs:
  - name: deploy
    commands:
    - checkout
    - ./scripts/web.sh dev

Build CMS:
  jobs:
  - name: build
    commands:
    - checkout
    - cd cms
    - docker build -t "europe-west4-docker.pkg.dev/utils-332514/btv-platform/cms:${SEMAPHORE_GIT_SHA:0:7}" -t europe-west4-docker.pkg.dev/utils-332514/btv-platform/cms:$SEMAPHORE_GIT_BRANCH .
  ...

Test:
  jobs:
  - name: go test
    commands:
    - export GOPATH=~/go
    - export PATH=/home/semaphore/go/bin:$PATH
    - export CGO_ENABLED=0
    - checkout
    - cache restore
    - go get ./...
    - go test ./...
  epilogue:
    on_pass:
      commands:
      - cache store
  prologue:
    commands:
    - sem-version go 1.19

Build:
  prologue:
    commands:
    - sem-version go 1.19
    - export GOPATH=~/go
    - export PATH=/home/semaphore/go/bin:$PATH
    - checkout
    - cache restore
    - gcloud auth activate-service-account --key-file=/home/semaphore/secrets/google.key.json
  ...

unnecessary spans
  backend/loaders/loader.go
Due: Test, Build

database connection util
  backend/cmd/api/env.go
  backend/cmd/api/main.go
  backend/cmd/jobs/env.go
  backend/cmd/jobs/main.go
  backend/utils/database.go
  backend/utils/ints.go
Due: Test, Build

unnecessary logs
  backend/cmd/api/db.go
  backend/cmd/api/main.go
Due: Test, Build

pings at the end
  backend/cmd/jobs/main.go
Due: Test, Build

update packages
  go.mod
  go.sum
Due: none

Only care about errors that arent not registered errors
  backend/push/client.go
Due: Test, Build

Better device retrieval
  backend/sqlc/user-devices.sql.go
  queries/user-devices.sql
Due: Test, Build

members loader
  backend/cmd/api/loaders.go
  backend/cmd/api/main.go
  backend/cmd/statistician/main.go
  backend/common/loaders.go
  backend/members/lookup.go
  backend/user/middleware.go
Due: Test, Build

?
  backend/cmd/api/main.go
  go.mod
  go.sum
Due: Test, Build

load tests initial commit
  tests/load/graph/queries.go
  tests/load/graph/queries/page.graphql
  tests/load/main.go
  tests/load/request/request.go
Due: none

concurrent queries
  backend/graph/api/schema.resolvers.go
  tests/load/graph/queries.go
Due: Test, Build

fix wrong request to members
  backend/members/lookup.go
Due: Test, Build

Longer node cache of profiles
  backend/user/middleware.go
Due: Test, Build

Try adding a longer expiry to a lock
  backend/utils/locks.go
Due: Test, Build

Remove unofficial libraries and fix redis locks
  backend/cmd/jobs/main.go
  backend/cmd/jobs/update-handler.go
  backend/user/middleware.go
  backend/utils/locks.go
  backend/utils/locks_integration_test.go
  backend/utils/redis.go
  go.mod
  go.sum
Due: Test, Build

Reimplement redis
  backend/cmd/api/main.go
  backend/cmd/jobs/update-handler.go
  backend/push/client.go
  backend/remotecache/cache.go
  backend/remotecache/client.go
  backend/user/middleware.go
  backend/utils/locks.go
  backend/utils/locks_integration_test.go
Due: Test, Build

redis: duplicate code
  backend/remotecache/cache.go
Due: Test, Build

files make more sense
  backend/remotecache/cache.go
  backend/remotecache/lock.go
Due: Test, Build

remove unlockers from utils
  backend/cmd/jobs/update-handler.go
  backend/utils/locks.go
  backend/utils/locks_integration_test.go
Due: Test, Build

Load tests run config
  .idea/runConfigurations/load_tests.xml
Due: none

Queries
  tests/load/graph/inputs.go
  tests/load/graph/queries.go
  tests/load/request/request.go
Due: none

oops
  backend/user/middleware.go
Due: Test, Build

default ttl 1 minute
  backend/remotecache/cache.go
Due: Test, Build

remotecache
  backend/cmd/jobs/main.go
Due: Test, Build

page load
  tests/load/graph/inputs.go
  tests/load/graph/queries.go
Due: none

use uuids for unlisted episodes
  backend/cmd/api/loaders.go
  backend/common/loaders.go
  backend/graph/api/calendar.resolvers.go
  backend/graph/api/generated/generated.go
  backend/graph/api/items.resolvers.go
  backend/graph/api/model/episode.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/resolver.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/items.graphqls
  backend/graph/api/schema/schema.graphqls
  backend/graph/api/studies.resolvers.go
  backend/loaders/conversion.go
  backend/sqlc/episode-queries.go
  backend/sqlc/episodes.sql.go
  queries/episodes.sql
  web/src/graph/generated.ts
  web/src/graph/queries/episode.graphql
  web/src/router/routes.ts
  web/src/utils/lists.ts
Due: Web, Test, Build

video components
  web/src/components/episodes/VideoDisplay.vue
  web/src/pages/episode/Video.vue
Due: Web

same id field
  backend/graph/api/calendar.resolvers.go
  backend/graph/api/generated/generated.go
  backend/graph/api/items.resolvers.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/schema.graphqls
  backend/graph/api/studies.resolvers.go
  web/src/components/episodes/EpisodeDisplay.vue
  web/src/graph/generated.ts
  web/src/graph/queries/episode.graphql
  web/src/pages/episode/Video.vue
Due: Web, Test, Build

...
  backend/scheduler/client.go
Due: Test, Build

unused file
  web/src/components/episodes/VideoDisplay.vue
Due: Web

"cache" private key
  backend/cmd/api/env.go
Due: Test, Build

pointer
  backend/cmd/api/env.go
  backend/cmd/api/main.go
Due: Test, Build

Add context crowdin
  backend/crowdin/files.go
Due: Test, Build

Fixing according to review
  backend/sqlc/statistician.sql.go
  tests/e2e/lib/apiResponseFromEpisode.ts
  tests/e2e/package.json
  tests/e2e/pnpm-lock.yaml
  tests/e2e/tests/availability_dates/available_both.test.ts
  tests/e2e/tests/availability_dates/available_from.test.ts
  tests/e2e/tests/availability_dates/available_to.test.ts
  tests/e2e/tests/episode.test.ts
  tests/e2e/tests/status.test.ts
Due: Test, Build

Update church names
  backend/cmd/statistician/main.go
  backend/members/lookup.go
  backend/members/models.go
Due: Test, Build

Implement backup and remote caching of members response
  backend/cmd/api/loaders.go
  backend/cmd/api/main.go
  backend/cmd/jobs/main.go
  backend/common/loaders.go
  backend/members/client.go
  backend/members/request.go
  backend/sqlc/models.go
  backend/sqlc/users-queries.go
  backend/sqlc/users.sql.go
  backend/user/middleware.go
  go.mod
  go.sum
  migrations/00127_users_users.sql
  queries/users.sql
Due: Test, Build

Make Nathan Lux not have an active BCC Membership
  backend/auth0/authentication.go
  backend/user/middleware.go
Due: Test, Build

defer close
  backend/members/request.go
Due: Test, Build

default to 4k image
  web/src/utils/images.ts
Due: Web

unnecessary null check
  web/src/components/page/Page.vue
Due: Web

Path conditions:
  Web: any of: web/
  Build CMS: any of: cms/
  Test: any of: backend/
  Build: any of: backend/
