Repository bcc-code/bcc-media-platform: changes, and which Semaphore blocks are due for each by the changed paths.
All: Web, Build CMS, Test, Build

Path conditions:
  Web: any of: web/
  Build CMS: any of: cms/
  Test: any of: backend/
  Build: any of: backend/

comment
  backend/auth0/management.go
Due: Test, Build

httpclient with timeout of 5 seconds
  backend/auth0/management.go
  backend/graph/api/generated/generated.go
  backend/graph/api/mutations.resolvers.go
  backend/graph/api/schema/mutations.graphqls
Due: Test, Build

Expose email verified on me
  backend/graph/api/schema.resolvers.go
Due: Test, Build

locked
  web/src/graph/generated.ts
  web/src/graph/queries/episode.graphql
  web/src/utils/items.ts
Due: Web

Get languages
  backend/graph/api/generated/generated.go
  backend/graph/api/prompts.resolvers.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/schema.graphqls
Due: Test, Build

5 minute cache on languages
  backend/graph/api/schema.resolvers.go
Due: Test, Build

missing type
  web/src/graph/generated.ts
  web/src/graph/queries/section.graphql
Due: Web

use languages
  backend/graph/api/schema.resolvers.go
  backend/sqlc/languages.sql.go
  queries/languages.sql
Due: Test, Build

feat: swiper
  web/src/components/study/tasks/LinkTask.vue
  web/src/components/study/tasks/SpecialGreeting.vue
  web/src/components/study/tasks/greeting/Page1.vue
  web/src/components/study/tasks/greeting/Page3.vue
  web/src/components/study/tasks/greeting/Page4.vue
  web/src/components/study/tasks/greeting/Page5.vue
  web/src/components/study/tasks/greeting/Page6.vue
  web/src/components/study/tasks/greeting/Page7.vue
  web/src/pages/embed/Embed.vue
  web/src/utils/flutter.ts
  web/src/utils/userinfo.ts
Due: Web

add gender and first_name
  backend/common/user.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/schema.graphqls
  backend/members/models.go
  backend/sqlc/models.go
  backend/sqlc/users-queries.go
  backend/sqlc/users.sql.go
  backend/user/middleware.go
  migrations/00160_gender.sql
  queries/users.sql
Due: Test, Build

media_subscriber
  backend/auth0/client.go
  backend/auth0/userinfo.go
  backend/graph/api/mutations.resolvers.go
Due: Test, Build

no reason to expose clientId
  backend/auth0/client.go
Due: Test, Build

merge conflicts
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
Due: Test, Build

EmailVerified polling if false
  backend/graph/api/generated/generated.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/schema.graphqls
Due: Test, Build

login route
  web/src/pages/Login.vue
  web/src/router/routes.ts
Due: Web

rm
  web/public/.well-known/README.md
  web/public/.well-known/apple-app-site-association
Due: Web

add ext- prefix to non bcc members
  backend/cmd/api/handlers.go
Due: Test, Build

Added a test using copilot as a test
  backend/analytics/utils.go
  backend/auth0/client.go
  backend/jsonlogic/filter_test.go
Due: Test, Build

fix User isn't set?
  backend/achievements/conditions.go
  backend/user/middleware.go
Due: Test, Build

feat/completed-topics-achievements Implement selecting topics in achievement conditions.
  backend/achievements/conditions.go
  backend/graph/api/schema.resolvers.go
  backend/sqlc/achievements.sql.go
  backend/sqlc/models.go
  backend/sqlc/studies.sql.go
  migrations/00161_achieved_items.sql
  queries/achievements.sql
  queries/studies.sql
Due: Test, Build

user metadata could be invalid type
  backend/auth0/management.go
  backend/auth0/userinfo.go
  backend/graph/api/mutations.resolvers.go
  backend/user/middleware.go
Due: Test, Build

birthoptions month not required
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/schema/mutations.graphqls
Due: Test, Build

CompletedRegistration
  backend/common/user.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/schema.graphqls
  backend/user/middleware.go
Due: Test, Build

gender and first_name in token
  backend/graph/api/schema.resolvers.go
Due: Test, Build

fix/completed-registration-cache allow polling this value
  backend/auth0/userinfo.go
  backend/graph/api/generated/generated.go
  backend/graph/api/resolver.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/schema.graphqls
  backend/user/middleware.go
Due: Test, Build

cascade
  migrations/00161_achieved_items.sql
Due: none

missing content type and cannot update name for some providers
  backend/auth0/management.go
Due: Test, Build

allow editing name
  backend/auth0/management.go
Due: Test, Build

missing action
  backend/achievements/conditions.go
Due: Test, Build

Update directus and dependencies
  cms/package-lock.json
Due: Build CMS

fix conditions/actions
  backend/achievements/conditions.go
Due: Test, Build

err != err
  backend/export/export.go
Due: Test, Build

Implement remote cache rate-limiting.
  backend/cmd/api/handlers.go
  backend/cmd/api/main.go
  backend/graph/api/mutations.resolvers.go
  backend/graph/api/resolver.go
  backend/graph/api/schema.resolvers.go
  backend/ratelimit/limit.go
Due: Test, Build

check study specific achievements
  backend/graph/api/mutations.resolvers.go
  backend/graph/api/schema.resolvers.go
Due: Test, Build

unnecessary clearing of ratelimit
  backend/graph/api/mutations.resolvers.go
Due: Test, Build

Unique key for context
  backend/ratelimit/limit.go
Due: Test, Build

Deny anonymous users from accessing send verification email
  backend/graph/api/mutations.resolvers.go
Due: Test, Build

fix/web update dependencies
  web/package.json
  web/pnpm-lock.yaml
Due: Web

outdated lockfile
  web/pnpm-lock.yaml
Due: Web

allow logout
  web/src/services/auth.ts
Due: Web
