Repository bcc-code/bcc-media-platform: changes, and which Semaphore blocks are due for each by the changed paths.
All: Web, Build CMS, Test, Build

Web:
  jobs:
  - name: deploy
    commands:
    - checkout
    - ./scripts/web.sh dev

Build CMS:
  jobs:
  - name: build
    commands:
    - checkout
    - cd cms
    - docker build -t "europe-west4-docker.pkg.dev/utils-332514/btv-platform/cms:${SEMAPHORE_GIT_SHA:0:7}" -t europe-west4-docker.pkg.dev/utils-332514/btv-platform/cms:$SEMAPHORE_GIT_BRANCH .
  ...

Test:
  jobs:
  - name: go test
    commands:
    - export GOPATH=~/go
    - export PATH=/home/semaphore/go/bin:$PATH
    - export CGO_ENABLED=0
    - checkout
    - cache restore
    - go get ./...
    - go test ./...
  epilogue:
    on_pass:
      commands:
      - cache store
  prologue:
    commands:
    - sem-version go 1.19

Build:
  prologue:
    commands:
    - sem-version go 1.19
    - export GOPATH=~/go
    - export PATH=/home/semaphore/go/bin:$PATH
    - checkout
    - cache restore
    - gcloud auth activate-service-account --key-file=/home/semaphore/secrets/google.key.json
  ...

Implement loaders
  backend/cmd/api/main.go
  backend/common/loaders.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/schema.graphqls
  backend/graph/api/schema/studies.graphqls
  backend/graph/api/studies.resolvers.go
  backend/sqlc/studies.sql.go
  backend/sqlc/study-queries.go
  queries/studies.sql
Due: Test, Build

Lower cache on web deploy
  scripts/deploy-web.sh
Due: none

Alternatives in separate loader
  backend/batchloaders/loader.go
  backend/cmd/api/main.go
  backend/common/loaders.go
  backend/common/locale-map.go
  backend/common/locale-string.go
  backend/common/studies.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/asset.go
  backend/graph/api/model/lesson.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/model/task.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/studies.graphqls
  backend/graph/api/studies.resolvers.go
  backend/sqlc/models.go
  backend/sqlc/studies.sql.go
  backend/sqlc/study-queries.go
  backend/studies/studies.go
  backend/utils/converters.go
  migrations/00086_study_topics.sql
  migrations/00086_study_topics_lessons.sql
  queries/studies.sql
Due: Test, Build

available from
  cms/src/hooks/sync-to-legacy/filters/episodes.ts
Due: Build CMS

Image resolver
  backend/graph/api/generated/generated.go
  backend/graph/api/pages.resolvers.go
  backend/graph/api/schema/pages.graphqls
Due: Test, Build

translation improvement
  backend/cmd/jobs/main.go
  backend/crowdin/client.go
  backend/crowdin/models.go
  backend/crowdin/request.go
  backend/crowdin/translations.go
  backend/translations/models.go
Due: Test, Build

image resolv
  backend/graph/api/pages.resolvers.go
Due: Test, Build

task answer
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/items.graphqls
  backend/graph/api/schema/schema.graphqls
  backend/graph/api/schema/studies.graphqls
  backend/graph/api/studies.resolvers.go
  backend/sqlc/models.go
  backend/sqlc/studies.sql.go
  migrations/00087_taskanswers.sql
  queries/studies.sql
Due: Test, Build

fix some design issues with dialog
  web/src/components/navbar/Navbar.vue
  web/src/components/support/Loading.vue
  web/src/graph/generated.ts
  web/src/pages/setting/ContactForm.vue
  web/src/pages/setting/contact.graphql
  web/src/translations/en.json
  web/src/translations/no.json
Due: Web

formatting
  web/crowdin.yml
  web/src/components/Image.vue
  web/src/components/SearchInput.vue
  web/src/components/episodes/EpisodeDisplay.vue
  web/src/components/navbar/Navbar.vue
  web/src/components/page/Page.vue
  web/src/components/search/EpisodeSearchQuery.vue
  web/src/components/search/ShowSearchQuery.vue
  web/src/components/study/quiz/QuizOption.vue
  web/src/components/study/quiz/QuizQuestion.vue
  web/src/flutter.d.ts
  web/src/pages/calendar/Calendar.vue
  web/src/pages/episode/Episode.vue
  web/src/pages/live/Live.vue
  web/src/pages/page/Page.vue
  web/src/pages/search/Search.vue
  web/src/pages/study/Embed.vue
  web/src/services/analytics/index.ts
  web/src/utils/flutter.ts
Due: Web

locale
  web/src/components/navbar/Navbar.vue
  web/src/pages/setting/ContactForm.vue
Due: Web

contact form
  web/public/icons/module/Medium/Question/White.svg
  web/src/components/icons/Question.vue
  web/src/components/icons/index.ts
  web/src/components/navbar/Navbar.vue
  web/src/components/support/ContactForm.vue
  web/src/components/support/Loading.vue
  web/src/graph/queries/contact.graphql
Due: Web

contact
  web/src/components/support/ContactForm.vue
  web/src/services/revision.ts
Due: Web

Task progress
  backend/batchloaders/loader.go
  backend/cmd/api/main.go
  backend/common/loaders.go
  backend/common/studies.go
  backend/common/user.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/resolver.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/schema.graphqls
  backend/graph/api/schema/studies.graphqls
  backend/graph/api/search-resolver.go
  backend/graph/api/studies.resolvers.go
  backend/graph/api/task-resolver.go
  backend/items/episode/loader.go
  backend/items/page/loader.go
  backend/items/season/loader.go
  backend/items/section/loader.go
  backend/items/show/loader.go
  backend/members/models.go
  backend/ratelimit/limit.go
  backend/search/service.go
  backend/sqlc/models.go
  backend/sqlc/studies.sql.go
  backend/sqlc/study-queries.go
  backend/user/middleware.go
  backend/utils/random.go
  migrations/00087_taskanswers.sql
  migrations/00088_question_alternative_correct.sql
  queries/studies.sql
Due: Test, Build

task.completed
  backend/graph/api/generated/generated.go
  backend/graph/api/schema/studies.graphqls
  backend/graph/api/studies.resolvers.go
Due: Test, Build

query name
  web/src/components/support/ContactForm.vue
  web/src/graph/generated.ts
  web/src/graph/queries/contact.graphql
Due: Web

update language settings
  web/src/components/languages/LanguageDisplay.vue
  web/src/components/languages/LanguageDisplayList.vue
  web/src/components/languages/LanguageMainDetails.vue
  web/src/components/languages/LanguageSetting.vue
  web/src/components/navbar/Navbar.vue
  web/src/services/language.ts
Due: Web

feat: add styles from figma
  web/src/components/study/LargeButton.vue
  web/src/components/study/quiz/QuizOption.vue
  web/src/components/study/quiz/QuizQuestion.vue
  web/src/components/study/tasks/QuizOption.vue
  web/src/components/study/tasks/QuizQuestion.vue
  web/src/index.css
  web/src/pages/study/Embed.vue
  web/tailwind.config.cjs
Due: Web

remove unnecessary field
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/schema/studies.graphqls
  backend/graph/api/studies.resolvers.go
Due: Test, Build

log failed parsings
  backend/utils/converters.go
Due: Test, Build

permissions
  migrations/00089_editor_permissions.sql
Due: none

feat: preload barlow, use rem for text, etc
  web/index.html
  web/public/fonts/7cHpv4kjgoGqM7E_A8s5ynghnQci.woff2
  web/public/fonts/7cHpv4kjgoGqM7E_Ass5ynghnQci.woff2
  web/public/fonts/7cHpv4kjgoGqM7E_DMs5ynghnQ.woff2
  web/public/fonts/7cHqv4kjgoGqM7E30-8s51ostz0rdg.woff2
  web/public/fonts/7cHqv4kjgoGqM7E30-8s6Fostz0rdom9.woff2
  web/public/fonts/7cHqv4kjgoGqM7E30-8s6Vostz0rdom9.woff2
  web/src/main.ts
  web/src/styles/barlow.css
  web/src/styles/design-system.css
  web/src/styles/index.css
  web/tailwind.config.cjs
Due: Web

StudyLesson on root
  backend/graph/api/generated/generated.go
  backend/graph/api/model/lesson.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/pages.resolvers.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/schema.graphqls
  backend/graph/api/schema/studies.graphqls
  backend/graph/api/studies.resolvers.go
Due: Test, Build

total
  cms/custom/interface-query-builder/src/interface.vue
  cms/custom/interface-query-builder/src/preview/Preview.vue
Due: Build CMS

feat sect
  web/src/components/sections/item/FeaturedSection.vue
Due: Web

btv removed
  backend/cmd/rewriter/main.go
Due: Test, Build

use schema from files instead of server
  web/.graphqlrc.yml
  web/codegen.yml
  web/src/graph/generated.ts
  web/src/graph/queries/study.graphql
Due: Web

coming soon
  web/src/components/sections/item/DefaultGridSection.vue
  web/src/components/sections/item/DefaultSection.vue
  web/src/components/sections/item/ListSection.vue
  web/src/components/sections/item/PosterGridSection.vue
  web/src/components/sections/item/PosterSection.vue
  web/src/translations/en.json
  web/src/translations/no.json
  web/src/utils/items.ts
Due: Web

Episodes things
  backend/cmd/api/main.go
  backend/common/loaders.go
  backend/graph/api/generated/generated.go
  backend/graph/api/items.resolvers.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/items.graphqls
  backend/graph/api/schema/studies.graphqls
  backend/graph/api/studies.resolvers.go
  backend/sqlc/studies.sql.go
  backend/sqlc/study-queries.go
  queries/studies.sql
Due: Test, Build

Task types and fix some cascading deletes
  backend/common/items.go
  backend/common/models.go
  backend/common/studies.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/model/task.go
  backend/graph/api/schema/studies.graphqls
  backend/graph/api/studies.resolvers.go
  backend/sqlc/episode-queries.go
  backend/sqlc/episodes.sql.go
  backend/sqlc/models.go
  backend/sqlc/studies.sql.go
  backend/sqlc/study-queries.go
  backend/user/access.go
  migrations/00090_task_types.sql
  queries/episodes.sql
  queries/studies.sql
Due: Test, Build

secondarytitle description
  backend/common/studies.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/model/task.go
  backend/graph/api/schema/studies.graphqls
  backend/graph/api/studies.resolvers.go
  backend/sqlc/models.go
  backend/sqlc/studies.sql.go
  backend/sqlc/study-queries.go
  migrations/00091_images_on_links.sql
  queries/studies.sql
Due: Test, Build

fix migration
  migrations/00091_images_on_links.sql
Due: none

feat(web): study - wire up the api, restructure
  web/src/components/study/LargeButton.vue
  web/src/components/study/Lesson.vue
  web/src/components/study/More.vue
  web/src/components/study/Tasks.vue
  web/src/components/study/tasks/Alternative.vue
  web/src/components/study/tasks/AlternativesTask.vue
  web/src/components/study/tasks/QuizQuestion.vue
  web/src/graph/generated.ts
  web/src/graph/queries/study.graphql
  web/src/pages/embed/Embed.vue
  web/src/pages/study/Embed.vue
  web/src/router/routes.ts
Due: Web

redo crowdin integration
  backend/crowdin2/build.go
  backend/crowdin2/client.go
  backend/crowdin2/request.go
  backend/translations/client.go
Due: Test, Build

number
  backend/sqlc/models.go
  cms/custom/interface-query-builder/src/query-builder/types.ts
  migrations/00092_add_number.sql
Due: Build CMS, Test, Build

feat(web): get access token from flutter
  web/src/components/study/Tasks.vue
  web/src/graph/client.ts
  web/src/graph/generated.ts
  web/src/utils/flutter.ts
Due: Web

alternatives
  backend/graph/api/studies.resolvers.go
Due: Test, Build

Update Semaphore configuration
  .semaphore/semaphore.yml
Due: none

Path conditions:
  Web: any of: web/
  Build CMS: any of: cms/
  Test: any of: backend/
  Build: any of: backend/
