Repository bcc-code/bcc-media-platform: changes, and which Semaphore blocks are due for each by the changed paths.
All: Web, Build CMS, Test, Build

Web:
  jobs:
  - name: deploy
    commands:
    - checkout
    - ./scripts/web.sh dev

Build CMS:
  jobs:
  - name: build
    commands:
    - checkout
    - cd cms
    - docker build -t "europe-west4-docker.pkg.dev/utils-332514/btv-platform/cms:${SEMAPHORE_GIT_SHA:0:7}" -t europe-west4-docker.pkg.dev/utils-332514/btv-platform/cms:$SEMAPHORE_GIT_BRANCH .
  ...

Test:
  jobs:
  - name: go test
    commands:
    - export GOPATH=~/go
    - export PATH=/home/semaphore/go/bin:$PATH
    - export CGO_ENABLED=0
    - checkout
    - cache restore
    - go get ./...
    - go test ./...
  epilogue:
    on_pass:
      commands:
      - cache store
  prologue:
    commands:
    - sem-version go 1.19

Build:
  prologue:
    commands:
    - sem-version go 1.19
    - export GOPATH=~/go
    - export PATH=/home/semaphore/go/bin:$PATH
    - checkout
    - cache restore
    - gcloud auth activate-service-account --key-file=/home/semaphore/secrets/google.key.json
  ...

some branding updates
  web/public/icons/tabbar/Home/Default.svg
  web/public/icons/tabbar/Home/Selected.svg
  web/public/logo.svg
  web/src/components/Footer.vue
  web/src/components/navbar/Navbar.vue
  web/src/components/sections/item/IconSection.vue
Due: Web

skip saving translation
  backend/crowdin/client.go
Due: Test, Build

More translations
  backend/crowdin/client.go
  backend/directus/translations.go
  backend/sqlc/models.go
  backend/sqlc/translations.sql.go
  queries/studies.sql
  queries/translations.sql
Due: Test, Build

Fix migration order
  migrations/00099_achievements.sql
  migrations/00100_achievements_achieved.sql
Due: none

Grant privileges
  migrations/00099_translations_permissions.sql
Due: none

sync
  backend/crowdin/client.go
Due: Test, Build

permissions
  migrations/00099_table_permissions.sql
Due: none

Table permissions
  migrations/00100_table_permissions.sql
Due: none

translations
  backend/crowdin/client.go
  backend/sqlc/models.go
  backend/sqlc/translations.sql.go
  queries/translations.sql
Due: Test, Build

migration order
  migrations/00101_achievements.sql
  migrations/00102_achievements_achieved.sql
Due: none

about us
  web/src/translations/en.json
Due: Web

change title to bcc media
  web/index.html
  web/src/utils/title.ts
Due: Web

footer text and translation
  web/src/components/Footer.vue
  web/src/translations/en.json
Due: Web

icons
  web/index.html
  web/public/android-chrome-192x192.png
  web/public/android-chrome-512x512.png
  web/public/apple-touch-icon.png
  web/public/favicon-16x16.png
  web/public/favicon-32x32.png
  web/public/favicon.ico
  web/public/icons/android-chrome-192x192.png
  web/public/icons/apple-touch-icon.png
  web/public/icons/favicon-16x16.png
  web/public/icons/favicon-32x32.png
  web/public/icons/favicon.ico
  web/public/icons/mstile-150x150.png
  web/public/icons/safari-pinned-tab.svg
  web/public/site.webmanifest
Due: Web

fix: move uncompleted tasks to the end
  web/src/components/study/Tasks.vue
Due: Web

feat(web): add poster task
  web/src/components/study/Tasks.vue
  web/src/components/study/tasks/PosterTask.vue
  web/src/graph/generated.ts
  web/src/graph/queries/study.graphql
Due: Web

missing sync
  backend/crowdin/client.go
Due: Test, Build

images with url
  backend/sqlc/study-queries.go
Due: Test, Build

ug episodes id
  cms/src/hooks/sync-to-legacy/filters/usergroups.ts
Due: Build CMS

fix calendar
  web/src/pages/calendar/Calendar.vue
Due: Web

end of day
  web/src/pages/calendar/Calendar.vue
Due: Web

can share
  web/public/icons/share.svg
  web/src/components/episodes/EpisodeDisplay.vue
  web/src/components/episodes/SharePopover.vue
Due: Web

share styling
  web/src/components/Footer.vue
  web/src/components/episodes/EpisodeDisplay.vue
  web/src/components/episodes/SharePopover.vue
  web/src/components/navbar/Navbar.vue
  web/src/components/sections/item/IconSection.vue
  web/src/components/study/Tasks.vue
  web/src/components/study/tasks/PosterTask.vue
  web/src/pages/EpisodeRedirect.vue
  web/src/pages/calendar/Calendar.vue
  web/src/router/routes.ts
  web/src/translations/en.json
Due: Web

image key
  web/src/components/search/ShowSearchQuery.vue
  web/src/pages/search/Search.vue
Due: Web

weird memory issues
  backend/utils/paginate.go
Due: Test, Build

Unconfirmed query
  backend/cmd/api/main.go
  backend/common/loaders.go
  backend/graph/api/achievements.resolvers.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/achievements.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/achievements.graphqls
  backend/graph/api/schema/schema.graphqls
  backend/sqlc/achievement-queries.go
  backend/sqlc/achievements.sql.go
  backend/sqlc/models.go
  migrations/00103_achievements_confirmed_at.sql
  queries/achievements.sql
Due: Test, Build

writekey
  web/.env.prod
Due: Web

language
  web/src/components/Cookies.vue
  web/src/components/episodes/SharePopover.vue
  web/src/services/analytics/index.ts
  web/src/services/language.ts
  web/src/services/settings.ts
Due: Web

expose achievements
  backend/cmd/api/main.go
  backend/common/errors.go
  backend/common/loaders.go
  backend/graph/api/achievements.resolvers.go
  backend/graph/api/generated/generated.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/schema.graphqls
  backend/memorycache/memorycache.go
  backend/sqlc/achievement-queries.go
  backend/sqlc/achievements.sql.go
  backend/sqlc/utils.go
  migrations/00101_achievements.sql
  queries/achievements.sql
Due: Test, Build

Confirm achievements
  backend/graph/api/generated/generated.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/schema.graphqls
  backend/sqlc/achievements.sql.go
  queries/achievements.sql
Due: Test, Build

achieve lesson completed
  backend/cmd/api/main.go
  backend/common/loaders.go
  backend/graph/api/schema.resolvers.go
  backend/sqlc/achievements.sql.go
  backend/sqlc/studies.sql.go
  backend/sqlc/study-queries.go
  queries/achievements.sql
  queries/studies.sql
Due: Test, Build

todo
  backend/graph/api/schema.resolvers.go
Due: Test, Build

fix sort field
  migrations/00086_study_topics.sql
Due: none

fix sort field
  migrations/00101_fix_sort.sql
Due: none

feat/achievements migration order
  migrations/00102_achievements.sql
  migrations/00103_achievements_achieved.sql
  migrations/00104_achievements_confirmed_at.sql
Due: none

Some minor changes
  web/src/components/EpisodeViewer.vue
  web/src/components/search/EpisodeSearchQuery.vue
  web/src/pages/episode/Episode.vue
  web/src/pages/live/Live.vue
  web/src/pages/page/Page.vue
  web/src/pages/search/Search.vue
  web/src/services/analytics/events.ts
  web/src/services/language.ts
  web/src/utils/page.ts
Due: Web

reload
  web/src/services/language.ts
Due: Web

sharerestriction
  backend/graph/api/generated/generated.go
  backend/graph/api/items.resolvers.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/schema/items.graphqls
Due: Test, Build

share message
  web/src/components/episodes/SharePopover.vue
  web/src/components/search/EpisodeSearchQuery.vue
  web/src/graph/generated.ts
  web/src/graph/queries/episode.graphql
  web/src/translations/en.json
  web/src/translations/fr.json
  web/src/translations/hu.json
  web/src/translations/nl.json
  web/src/translations/ro.json
Due: Web

pages
  migrations/00102_lesson_pages.sql
Due: none

Path conditions:
  Web: any of: web/
  Build CMS: any of: cms/
  Test: any of: backend/
  Build: any of: backend/
