Repository bcc-code/bcc-media-platform: changes, and which Semaphore blocks are due for each by the changed paths.
All: Web, Build CMS, Test, Build

Web:
  jobs:
  - name: deploy
    commands:
    - checkout
    - ./scripts/web.sh dev

Build CMS:
  jobs:
  - name: build
    commands:
    - checkout
    - cd cms
    - docker build -t "europe-west4-docker.pkg.dev/utils-332514/btv-platform/cms:${SEMAPHORE_GIT_SHA:0:7}" -t europe-west4-docker.pkg.dev/utils-332514/btv-platform/cms:$SEMAPHORE_GIT_BRANCH .
  ...

Test:
  jobs:
  - name: go test
    commands:
    - export GOPATH=~/go
    - export PATH=/home/semaphore/go/bin:$PATH
    - export CGO_ENABLED=0
    - checkout
    - cache restore
    - go get ./...
    - go test ./...
  epilogue:
    on_pass:
      commands:
      - cache store
  prologue:
    commands:
    - sem-version go 1.19

Build:
  prologue:
    commands:
    - sem-version go 1.19
    - export GOPATH=~/go
    - export PATH=/home/semaphore/go/bin:$PATH
    - checkout
    - cache restore
    - gcloud auth activate-service-account --key-file=/home/semaphore/secrets/google.key.json
  ...

fix collection_items
  migrations/00036_fix_collection_items.sql
  web/src/components/sections/DefaultGridSection.vue
  web/src/components/sections/DefaultSection.vue
  web/src/components/sections/NewPill.vue
  web/src/components/sections/PosterGridSection.vue
  web/src/components/sections/PosterSection.vue
  web/src/components/sections/SectionItemTitle.vue
  web/src/pages/page/Page.vue
Due: Web

SetEpisodeProgress
  backend/graph/api/generated/generated.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/schema.graphqls
Due: Test, Build

memory loader
  backend/cmd/api/main.go
  backend/common/loader-cache.go
  backend/common/loader.go
  backend/graph/api/generated/generated.go
  backend/sqlc/progress.sql.go
  migrations/00037_progress.sql
  queries/progress.sql
Due: Test, Build

move batch loaders
  backend/asset/loader.go
  backend/batchloaders/cache.go
  backend/batchloaders/loader.go
  backend/cmd/api/main.go
  backend/graph/admin/resolver.go
  backend/graph/api/calendar-resolver.go
  backend/graph/api/collection-resolver.go
  backend/graph/api/items.resolvers.go
  backend/graph/api/pages.resolvers.go
  backend/graph/api/resolver.go
  backend/graph/api/schema.resolvers.go
  backend/graph/public/schema.resolvers.go
  backend/items/collection/loader.go
  backend/items/episode/loader.go
  backend/items/page/loader.go
  backend/items/season/loader.go
  backend/items/section/loader.go
  backend/items/show/defaults.go
  backend/items/show/loader.go
  backend/search/indexing.go
  backend/search/service.go
  backend/user/access.go
Due: Test, Build

move application specific loaders to common
  backend/batchloaders/loader.go
  backend/cmd/api/main.go
  backend/common/loaders.go
  backend/graph/admin/resolver.go
  backend/graph/api/collection-resolver.go
  backend/graph/api/resolver.go
  backend/items/collection/loader.go
  backend/items/show/defaults.go
Due: Test, Build

rename functions
  backend/asset/loader.go
  backend/batchloaders/loader.go
  backend/cmd/api/main.go
  backend/graph/admin/resolver.go
  backend/graph/api/calendar-resolver.go
  backend/graph/api/collection-resolver.go
  backend/graph/api/items.resolvers.go
  backend/graph/api/pages.resolvers.go
  backend/graph/api/resolver.go
  backend/graph/api/schema.resolvers.go
  backend/graph/public/schema.resolvers.go
  backend/items/collection/loader.go
  backend/items/episode/loader.go
  backend/items/page/loader.go
  backend/items/season/loader.go
  backend/items/section/loader.go
  backend/items/show/defaults.go
  backend/items/show/loader.go
  backend/search/indexing.go
  backend/search/service.go
  backend/user/access.go
Due: Test, Build

Interfaces
  backend/batchloaders/loader.go
  backend/cmd/api/main.go
  backend/common/items.go
  backend/common/loaders.go
  backend/graph/api/items.resolvers.go
  backend/graph/api/resolver.go
  backend/sqlc/application-queries.go
  backend/sqlc/episode-queries.go
  backend/sqlc/faq.go
  backend/sqlc/page-queries.go
  backend/sqlc/season-queries.go
  backend/sqlc/section-queries.go
Due: Test, Build

keyfunc
  backend/batchloaders/loader.go
  backend/cmd/api/main.go
Due: Test, Build

options
  backend/batchloaders/cache.go
  backend/batchloaders/loader.go
Due: Test, Build

WithKeyFunc
  backend/batchloaders/loader.go
Due: Test, Build

Fix page export
  backend/export/export.go
Due: Test, Build

space in migration
  migrations/00037_progress.sql
Due: none

dont filter backend changes
  .semaphore/semaphore.yml
Due: none

progress
  web/src/components/EpisodeViewer.vue
  web/src/graph/generated.ts
  web/src/pages/episode/Episode.vue
  web/src/pages/episode/episode.graphql
Due: Web

Add showid to progress
  backend/common/models.go
  backend/graph/api/items.resolvers.go
  backend/graph/api/pages.resolvers.go
  backend/graph/api/schema.resolvers.go
  backend/sqlc/models.go
  backend/sqlc/progress-queries.go
  backend/sqlc/progress.sql.go
  migrations/00038_progress_show_id.sql
  queries/progress.sql
Due: Test, Build

formatting
  web/src/components/EpisodeViewer.vue
  web/src/components/sections/DefaultGridSection.vue
  web/src/components/sections/DefaultSection.vue
  web/src/components/sections/IconSection.vue
  web/src/components/sections/LabelSection.vue
  web/src/components/sections/NewPill.vue
  web/src/components/sections/PosterGridSection.vue
  web/src/components/sections/PosterSection.vue
  web/src/components/sections/SectionItemTitle.vue
  web/src/graph/generated.ts
  web/src/pages/episode/episode.graphql
  web/src/pages/page/Page.vue
  web/src/utils/items.ts
Due: Web

oi schelton
  web/index.html
  web/public/icons/android-chrome-192x192.png
  web/public/icons/apple-touch-icon.png
  web/public/icons/favicon-16x16.png
  web/public/icons/favicon-32x32.png
  web/public/icons/favicon.ico
  web/public/icons/mstile-150x150.png
  web/public/icons/safari-pinned-tab.svg
  web/src/components/navbar/Navbar.vue
  web/src/index.css
  web/src/layout/StackedLayout.vue
  web/src/pages/episode/Episode.vue
  web/src/pages/page/Page.vue
Due: Web

live paag
  web/src/components/live/Player.vue
  web/src/components/navbar/Navbar.vue
  web/src/pages/Live.vue
  web/src/pages/episode/Episode.vue
  web/src/router/routes.ts
Due: Web

live
  web/src/components/live/Player.vue
  web/src/pages/Live.vue
  web/src/pages/episode/Episode.vue
Due: Web

placeholder
  web/src/components/sections/DefaultSection.vue
  web/src/pages/page/Page.vue
Due: Web

progress bar
  web/index.html
  web/src/components/episodes/ProgressBar.vue
  web/src/components/live/Player.vue
  web/src/components/navbar/Navbar.vue
  web/src/components/sections/DefaultGridSection.vue
  web/src/components/sections/DefaultSection.vue
  web/src/components/sections/IconSection.vue
  web/src/components/sections/PosterGridSection.vue
  web/src/components/sections/PosterSection.vue
  web/src/graph/generated.ts
  web/src/index.css
  web/src/pages/Live.vue
  web/src/pages/episode/Episode.vue
  web/src/pages/page/Page.vue
  web/src/pages/page/queries.graphql
  web/src/router/routes.ts
  web/src/utils/time.ts
Due: Web

progress
  web/src/components/episodes/ProgressBar.vue
  web/src/components/search/SearchItem.vue
  web/src/components/sections/DefaultGridSection.vue
  web/src/components/sections/DefaultSection.vue
  web/src/components/sections/PosterGridSection.vue
  web/src/components/sections/PosterSection.vue
  web/src/components/sections/SectionItemTitle.vue
Due: Web

Add embedded sections
  backend/common/items.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/model/section.go
  backend/graph/api/schema/pages.graphqls
  backend/sqlc/models.go
  backend/sqlc/section-queries.go
  backend/sqlc/sections.sql.go
  migrations/00038_progress_show_id.sql
  migrations/00039_section_web_embeds.sql
  queries/sections.sql
Due: Test, Build

Implement basic export to SQLite
  backend/cmd/api/env.go
  backend/cmd/api/env.sample
  backend/cmd/api/main.go
  backend/export/export.go
  backend/graph/api/generated/generated.go
  backend/graph/api/items.resolvers.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/pages.resolvers.go
  backend/graph/api/resolver.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/schema.graphqls
Due: Test, Build

WIP refactor
  backend/cmd/api/db.go
  backend/cmd/api/graphtracer.go
  backend/cmd/api/main.go
  backend/cmd/api/redis.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/resolver.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/export.graphqls
  backend/members/client.go
  backend/members/request.go
  backend/signing/signer.go
Due: Test, Build

More refactoring
  backend/cmd/api/db.go
  backend/cmd/api/main.go
  backend/graph/api/resolver.go
  backend/graph/gqltracer/graphtracer.go
  backend/search/service.go
Due: Test, Build

Regenrate GQL bacause of a merge issue
  backend/graph/api/model/models_gen.go
  backend/graph/public/schema.resolvers.go
Due: Test, Build

Hide asset preview until assed is done processign in Mediapackage
  migrations/00040_hide.sql
Due: none

Fix wrong parameter in jobs
  backend/cmd/jobs/main.go
Due: Test, Build

Add Build badge [skip ci]
  README.md
Due: none

Trivial change to force build
  README.md
Due: none

some simple fixes
  backend/asset/ingest.go
  cms/src/hooks/sync-to-legacy/filters/translations.ts
Due: Build CMS, Test, Build

Set device push token with languages
  backend/common/userdata.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/schema.graphqls
  backend/push/client.go
  backend/sqlc/device-queries.go
  backend/sqlc/models.go
  backend/sqlc/user-devices.sql.go
  migrations/00041_device_languages.sql
  queries/user-devices.sql
Due: Test, Build

image
  backend/push/client.go
Due: Test, Build

minor validation of the language array
  backend/graph/api/schema.resolvers.go
Due: Test, Build

update frontend things
  backend/common/items.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/episode.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/model/show.go
  backend/graph/api/schema/items.graphqls
  backend/sqlc/episode-queries.go
  backend/sqlc/episodes.sql.go
  queries/episodes.sql
  web/src/components/episodes/AgeRating.vue
  web/src/components/episodes/EpisodeDetails.vue
  web/src/components/episodes/ProgressBar.vue
  web/src/components/live/Player.vue
  web/src/components/navbar/Navbar.vue
  web/src/components/search/SearchItem.vue
  web/src/components/sections/DefaultGridSection.vue
  web/src/components/sections/DefaultSection.vue
  web/src/components/sections/FeaturedSection.vue
  web/src/components/sections/IconSection.vue
  web/src/components/sections/PosterGridSection.vue
  web/src/components/sections/PosterSection.vue
  web/src/components/sections/SectionTitle.vue
  web/src/graph/generated.ts
  web/src/i18n/translations/en.json
  web/src/i18n/translations/no.json
  web/src/layout/StackedLayout.vue
  web/src/pages/episode/Episode.vue
  web/src/pages/episode/episode.graphql
  web/src/pages/page/queries.graphql
  web/src/services/auth.ts
  web/src/utils/episodes/index.ts
  web/src/utils/episodes/progress.ts
  web/src/utils/fallback.ts
  web/tailwind.config.cjs
Due: Web, Test, Build

oioi
  web/codegen.yml
  web/src/components/EpisodeViewer.vue
  web/src/components/episodes/WithProgressBar.vue
  web/src/components/icons/ChevronDown.vue
  web/src/components/icons/index.ts
  web/src/graph/generated.ts
  web/src/pages/episode/Episode.vue
  web/src/pages/episode/episode.graphql
Due: Web

padding on page
  web/src/pages/page/Page.vue
Due: Web

Path conditions:
  Web: any of: web/
  Build CMS: any of: cms/
  Test: any of: backend/
  Build: any of: backend/
