Repository bcc-code/bcc-media-platform: changes, and which Semaphore blocks are due for each by the changed paths.
All: Web, Build CMS, Test, Build

Web:
  jobs:
  - name: deploy
    commands:
    - checkout
    - ./scripts/web.sh dev

Build CMS:
  jobs:
  - name: build
    commands:
    - checkout
    - cd cms
    - docker build -t "europe-west4-docker.pkg.dev/utils-332514/btv-platform/cms:${SEMAPHORE_GIT_SHA:0:7}" -t europe-west4-docker.pkg.dev/utils-332514/btv-platform/cms:$SEMAPHORE_GIT_BRANCH .
  ...

Test:
  jobs:
  - name: go test
    commands:
    - export GOPATH=~/go
    - export PATH=/home/semaphore/go/bin:$PATH
    - export CGO_ENABLED=0
    - checkout
    - cache restore
    - go get ./...
    - go test ./...
  epilogue:
    on_pass:
      commands:
      - cache store
  prologue:
    commands:
    - sem-version go 1.19

Build:
  prologue:
    commands:
    - sem-version go 1.19
    - export GOPATH=~/go
    - export PATH=/home/semaphore/go/bin:$PATH
    - checkout
    - cache restore
    - gcloud auth activate-service-account --key-file=/home/semaphore/secrets/google.key.json
  ...

fix/deploy not executing
  .semaphore/deploy-dev.yml
  .semaphore/deploy-prod.yml
  .semaphore/deploy-sta.yml
  .semaphore/semaphore.yml
Due: none

fix some package updates that broke
  web/.eslintignore
  web/package.json
  web/pnpm-lock.yaml
  web/src/components/sections/item/Slider.vue
  web/src/graph/client.ts
  web/src/graph/generated.ts
  web/src/pages/calendar/queries.graphql
  web/src/router/routes.ts
  web/src/services/auth.ts
  web/src/services/auth0.ts
  web/tailwind.config.cjs
Due: Web

update gen-packages
  web/package.json
  web/pnpm-lock.yaml
Due: Web

fix/web
  .semaphore/deploy-dev.yml
  .semaphore/deploy-prod.yml
  .semaphore/deploy-sta.yml
  .semaphore/semaphore.yml
Due: none

flutter auth
  web/src/graph/client.ts
  web/src/utils/flutter.ts
Due: Web

rebrand
  README.md
Due: none

Rename some files, cleanup scripts and include .env on scripts
  .env.example
  Makefile
  compose.yml
  scripts/db_diff.sh
Due: none

feat(study): /r/ urls for linktask, and add locale
  web/src/components/study/tasks/LinkTask.vue
  web/src/utils/flutter.ts
Due: Web

feat: hack to refresh if cached
  web/src/components/study/tasks/LinkTask.vue
Due: Web

fix/subtitles on live
  packages/video-player/package.json
  packages/video-player/pnpm-lock.yaml
  web/package.json
  web/pnpm-lock.yaml
Due: Web

get 100 episodes
  web/src/components/episodes/EpisodeDisplay.vue
Due: Web

rate limit 3
  backend/graph/api/mutations.resolvers.go
Due: Test, Build

check achievement order
  backend/graph/api/mutations.resolvers.go
Due: Test, Build

await task completion
  web/src/components/study/Tasks.vue
  web/src/components/study/tasks/LinkTask.vue
  web/src/components/study/tasks/TextTask.vue
  web/src/components/study/tasks/VideoTask.vue
Due: Web

achievement order wrong
  backend/graph/api/mutations.resolvers.go
Due: Test, Build

usermetadata can only be a string map
  backend/auth0/userinfo.go
  backend/graph/api/mutations.resolvers.go
  backend/user/middleware.go
Due: Test, Build

nickname is firstname
  backend/graph/api/mutations.resolvers.go
Due: Test, Build

chore/web cleanup
  web/src/components/ShouldSignInPopup.vue
  web/src/components/page/Page.vue
  web/src/components/sections/item/Pill.vue
  web/src/layout/StackedLayout.vue
  web/src/pages/redirect/Redirect.vue
  web/src/translations/bg.json
  web/src/translations/da.json
  web/src/translations/de.json
  web/src/translations/en.json
  web/src/translations/es.json
  web/src/translations/fi.json
  web/src/translations/fr.json
  web/src/translations/hu.json
  web/src/translations/it.json
  web/src/translations/nb.json
  web/src/translations/nl.json
  web/src/translations/pl.json
  web/src/translations/pt.json
  web/src/translations/ro.json
  web/src/translations/ru.json
  web/src/translations/sl.json
  web/src/translations/tr.json
Due: Web

bad import
  web/src/layout/StackedLayout.vue
Due: Web

islive
  web/src/components/sections/item/SectionItem.vue
  web/src/composables/calendar.ts
  web/src/layout/StackedLayout.vue
  web/src/utils/items.ts
Due: Web

Return completed registration
  backend/graph/api/schema.resolvers.go
Due: Test, Build

Append public role as well
  backend/user/middleware.go
Due: Test, Build

Fix coming soon when live
  web/src/components/sections/item/SectionItem.vue
Due: Web

fix(web): calendar period highlight not generating properly
  web/src/pages/calendar/Calendar.vue
Due: Web

chore: add launch.json for vscode users
  backend/.vscode/launch.json
Due: Test, Build

feat(auth0): client id on verification email
  backend/auth0/management.go
Due: Test, Build

chore: add license
  LICENSE
Due: none

fix(filter): use is distinct from instead of !=
  backend/cmd/api/main.go
  backend/jsonlogic/filter.go
Due: Test, Build

fix(filter): make filter_dataset null safe
  backend/jsonlogic/filter.go
  backend/sqlc/models.go
  migrations/00162_filter_dataset_null_safe.sql
Due: Test, Build

feat/cms-use-pnpm replace npm with pnpm
  .semaphore/semaphore.yml
  cms/Makefile
  cms/custom/Makefile
  cms/custom/interface-datepicker/package-lock.json
  cms/custom/interface-datepicker/pnpm-lock.yaml
  cms/custom/interface-query-builder/package-lock.json
  cms/custom/interface-query-builder/pnpm-lock.yaml
  cms/custom/interface-video-viewer/package-lock.json
  cms/custom/interface-video-viewer/pnpm-lock.yaml
  cms/package-lock.json
  cms/pnpm-lock.yaml
Due: Build CMS

Update backend/.vscode/launch.json
  backend/.vscode/launch.json
Due: Test, Build

fix/events: publish events regardless of collection (from directus)
  backend/events/publish.go
  cms/src/hooks/pubsub/publish.ts
Due: Build CMS, Test, Build

prettier run
  web/.vscode/extensions.json
  web/src/App.vue
  web/src/components/EpisodeViewer.vue
  web/src/components/ShouldSignInPopup.vue
  web/src/components/live/Player.vue
  web/src/components/navbar/Navbar.vue
  web/src/components/sections/ItemList.vue
  web/src/components/sections/item/Pill.vue
  web/src/components/sections/item/SectionItem.vue
  web/src/components/study/Tasks.vue
  web/src/composables/calendar.ts
  web/src/graph/client.ts
  web/src/layout/StackedLayout.vue
  web/src/pages/Login.vue
  web/src/router/routes.ts
  web/src/services/analytics/index.ts
  web/src/services/auth.ts
  web/src/services/auth0.ts
  web/src/utils/items.ts
Due: Web

prettier run
  web/src/pages/calendar/Calendar.vue
Due: Web

feat(player): allow overriding npaw metadata
  packages/video-player/src/video-player/npaw.ts
Due: none

use timestamp on section
  backend/graph/api/resolver.go
  backend/graph/api/schema.resolvers.go
Due: Test, Build

chore: remove videojs-chromecast
  .gitmodules
Due: none

pnpm build
  cms/Makefile
Due: Build CMS

include typescript in deps
  cms/package.json
  cms/pnpm-lock.yaml
Due: Build CMS

Path conditions:
  Web: any of: web/
  Build CMS: any of: cms/
  Test: any of: backend/
  Build: any of: backend/
