Repository bcc-code/bcc-media-platform: changes, and which Semaphore blocks are due for each by the changed paths.
All: Web, Build CMS, Test, Build

Path conditions:
  Web: any of: web/
  Build CMS: any of: cms/
  Test: any of: backend/
  Build: any of: backend/

Some docs
  cms/entrypoint.test.sh
  tests/e2e/README.md
Due: Build CMS

tests
  tests/e2e/tests/episode.test.ts
  tests/e2e/tests/user.test.ts
Due: none

refactor loader references
  backend/cmd/api/handlers.go
  backend/cmd/api/loaders.go
  backend/cmd/api/main.go
  backend/common/loaders.go
  backend/export/export.go
  backend/graph/admin/resolver.go
  backend/graph/api/calendar-resolver.go
  backend/graph/api/collection-resolver.go
  backend/graph/api/items.resolvers.go
  backend/graph/api/pages.resolvers.go
  backend/graph/api/resolver.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/studies.resolvers.go
  backend/graph/public/resolver.go
  backend/graph/public/schema.resolvers.go
  backend/items/collection/loader.go
  backend/items/episode/loader.go
  backend/items/page/loader.go
  backend/items/season/loader.go
  backend/items/section/loader.go
  backend/items/show/defaults.go
  backend/items/show/loader.go
  backend/loaders/cache.go
  backend/loaders/loader.go
  backend/search/fields.go
  backend/search/indexing.go
  backend/search/service.go
  backend/sqlc/achievement-queries.go
  backend/sqlc/application-queries.go
  backend/sqlc/collection-queries.go
  backend/sqlc/episode-queries.go
  backend/sqlc/faq.go
  backend/sqlc/page-queries.go
  backend/sqlc/progress-queries.go
  backend/sqlc/redirect-queries.go
  backend/sqlc/season-queries.go
  backend/sqlc/section-queries.go
  backend/sqlc/study-queries.go
  backend/user/access.go
Due: Test, Build

unused file
  backend/asset/loader.go
Due: Test, Build

More cleanup
  backend/cmd/api/env.sample
  backend/cmd/api/loaders.go
  backend/cmd/api/main.go
  backend/cmd/jobs/env.sample
  backend/items/collection/loader.go
  backend/loaders/cache.go
  backend/loaders/loader.go
  backend/search/service.go
Due: Test, Build

Allow editing of schedule
  backend/graph/api/resolver.go
  backend/push/client.go
  backend/scheduler/client.go
  backend/utils/random.go
Due: Test, Build

No more runaway janitors?
  backend/cmd/api/loaders.go
Due: Test, Build

smarter loaders (flush cache when they are disposed)
  backend/cmd/api/loaders.go
  backend/cmd/api/main.go
  backend/loaders/collection.go
  backend/loaders/janitor.go
Due: Test, Build

add availability tests
  .gitignore
  tests/e2e/TODO.md
  tests/e2e/lib/apiResponseFromEpisode.ts
  tests/e2e/lib/constants.ts
  tests/e2e/package.json
  tests/e2e/pnpm-lock.yaml
  tests/e2e/tests/availability_dates/available_both.test.ts
  tests/e2e/tests/availability_dates/available_from.test.ts
  tests/e2e/tests/availability_dates/available_to.test.ts
  tests/e2e/tests/episode.test.ts
  tests/e2e/tests/status.test.ts
Due: none

break on error
  backend/scheduler/client.go
Due: Test, Build

Cleanup
  backend/loaders/collection.go
  backend/loaders/janitor.go
Due: Test, Build

EpisodeNumber in title
  backend/common/locale-string.go
  backend/sqlc/episode-queries.go
  backend/sqlc/episodes.sql.go
  backend/sqlc/models.go
  migrations/00124_episode_number_in_title.sql
  queries/episodes.sql
Due: Test, Build

feat(study): competition basics
  web/src/components/study/ModalBase.vue
  web/src/components/study/Tasks.vue
  web/src/components/study/tasks/Alternative.vue
  web/src/components/study/tasks/AlternativesTask.vue
  web/src/components/study/tasks/CompetitionIntro.vue
  web/src/graph/generated.ts
  web/src/graph/queries/study.graphql
  web/src/utils/array.ts
Due: Web

feat(study): consent and better task saving for competition
  web/public/icons/study/competition_icon.png
  web/src/components/study/Tasks.vue
  web/src/components/study/tasks/AlternativesTask.vue
  web/src/components/study/tasks/CompetitionIntro.vue
  web/src/graph/generated.ts
  web/src/graph/queries/study.graphql
Due: Web

fix: refetch lesson when going back into task
  web/src/components/study/Lesson.vue
  web/src/translations/fi.json
  web/src/translations/fr.json
  web/src/translations/hu.json
  web/src/translations/nl.json
  web/src/translations/ru.json
Due: Web

minor fixes
  web/src/components/study/Tasks.vue
Due: Web

Text columns
  migrations/00125_text_columns.sql
Due: none

fix(study): wrong logic currentIsLastCompetitionTask
  web/src/components/study/Tasks.vue
Due: Web

Update Semaphore configuration
  .semaphore/deploy-prod.yml
Due: none

sync translations
  web/src/translations/de.json
Due: Web

sync translations and allow unapproved strings
  web/crowdin.yml
  web/src/translations/es.json
  web/src/translations/pl.json
  web/src/translations/ro.json
  web/src/translations/ru.json
  web/src/translations/tr.json
Due: Web

Some cleanup and tweaks
  backend/cmd/api/loaders.go
  backend/loaders/cache.go
  backend/loaders/collection.go
  backend/loaders/janitor.go
Due: Test, Build

Generic wrapper for sync.Map
  backend/loaders/collection.go
  backend/utils/syncmap.go
Due: Test, Build

fix some feedback issues
  web/src/components/page/SkeletonSections.vue
  web/src/components/sections/item/IconSection.vue
  web/src/components/sections/item/SectionItem.vue
Due: Web

Janitor test and doc
  backend/loaders/janitor.go
  backend/loaders/janitor_test.go
Due: Test, Build

sync translations
  web/src/translations/hu.json
  web/src/translations/nl.json
  web/src/translations/pt.json
Due: Web

autopromote
  .semaphore/semaphore.yml
Due: none

fix some queries
  backend/sqlc/studies.sql.go
  queries/studies.sql
Due: Test, Build

tracing in loaders
  backend/cmd/api/loaders.go
  backend/loaders/conversion.go
  backend/loaders/list.go
  backend/loaders/loader.go
  backend/loaders/options.go
  backend/loaders/relation.go
  backend/loaders/tracer.go
Due: Test, Build

fix(web): log out of auth0
  web/src/services/auth.ts
Due: Web

fix: filter out fra kåre
  web/src/components/study/More.vue
Due: Web

fix progress query
  backend/sqlc/progress.sql.go
  queries/progress.sql
Due: Test, Build

Implement relative dates in filter
  backend/jsonlogic/filter.go
  backend/jsonlogic/testdata/datefilter.json
  cms/custom/interface-query-builder/src/query-builder/Filter.vue
Due: Build CMS, Test, Build

Loader cache improvements
  backend/cmd/api/loaders.go
  backend/items/collection/loader.go
  backend/loaders/cache.go
  backend/loaders/loader.go
  backend/loaders/options.go
  backend/loaders/tracer.go
Due: Test, Build

fix calendar
  backend/graph/api/calendar-resolver.go
  backend/sqlc/calendar.sql.go
  queries/calendar.sql
Due: Test, Build

some parallellization
  backend/cmd/api/env.go
  backend/cmd/api/main.go
  backend/cmd/jobs/main.go
  backend/utils/database.go
  backend/utils/redis.go
  go.mod
  go.sum
Due: Test, Build

unnecessary loader
  backend/cmd/api/loaders.go
  backend/common/loaders.go
Due: Test, Build

Cheaper query
  backend/sqlc/progress.sql.go
  migrations/00126_progress_index.sql
  queries/progress.sql
Due: Test, Build
