Repository bcc-code/bcc-media-platform: changes, and which Semaphore blocks are due for each by the changed paths.
All: Web, Build CMS, Test, Build

Path conditions:
  Web: any of: web/
  Build CMS: any of: cms/
  Test: any of: backend/
  Build: any of: backend/

try clearing loaders when a key is deleted
  backend/cmd/api/loaders.go
Due: Test, Build

Try google profiler
  backend/cmd/api/main.go
Due: Test, Build

go mod
  go.mod
  go.sum
Due: none

Go mod clean
  go.mod
  go.sum
Due: none

service api
  backend/cmd/api/main.go
Due: Test, Build

fix index for updatedat
  migrations/00140_fix_unique_indexes.sql
Due: none

Debuglogging
  backend/cmd/api/main.go
Due: Test, Build

profiler
  backend/cmd/api/main.go
Due: Test, Build

if not active, dont retrieve from members
  backend/user/middleware.go
Due: Test, Build

refresh things
  web/src/components/navbar/Navbar.vue
Due: Web

invalid
  web/src/components/navbar/Navbar.vue
  web/src/components/page/Page.vue
Due: Web

non bcc members
  backend/user/middleware.go
Due: Test, Build

registered personid
  backend/user/middleware.go
Due: Test, Build

Try closing all reads
  backend/asset/read-from-s3.go
  backend/auth0/token.go
  backend/cmd/jobs/server/server.go
  backend/cmd/rewriter/api.go
  backend/cmd/rewriter/main.go
  backend/crowdin/build.go
  backend/members/request.go
  backend/utils/errors.go
Due: Test, Build

missing unlisted translations
  backend/sqlc/translations.sql.go
  queries/translations.sql
Due: Test, Build

dont omit empty string
  backend/directus/translations.go
Due: Test, Build

Expose unlisted status
  backend/common/items.go
  backend/common/status.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/episode.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/model/season.go
  backend/graph/api/model/show.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/items.graphqls
  backend/sqlc/episode-queries.go
  backend/sqlc/episodes.sql.go
  backend/sqlc/season-queries.go
  backend/sqlc/seasons.sql.go
  backend/sqlc/show-queries.go
  backend/sqlc/shows.sql.go
  queries/episodes.sql
  queries/seasons.sql
  queries/shows.sql
Due: Test, Build

Open up for duplication
  migrations/00141_calendar_copy.sql
Due: none

fix sync to always respect saved publish and available from dates
  cms/src/hooks/sync-to-legacy/filters/episodes.ts
Due: Build CMS

translation
  web/src/translations/ru.json
Due: Web

Statusfrom
  backend/graph/api/model/episode.go
  backend/graph/api/model/season.go
  backend/graph/api/model/show.go
  backend/graph/api/model/status.go
  backend/statistics/item-bq-types.go
Due: Test, Build

GetStatus
  backend/asset/read-from-s3.go
  backend/common/items.go
  backend/graph/api/model/status.go
Due: Test, Build

memory cache success
  backend/graph/api/faq.resolvers.go
  backend/graph/api/resolver.go
  backend/graph/api/schema.resolvers.go
  backend/memorycache/memorycache.go
Due: Test, Build

unused function
  backend/graph/api/resolver.go
Due: Test, Build

short formatting of date
  migrations/00142_format_short.sql
Due: none

Survey tables
  backend/sqlc/models.go
  migrations/00143_surveys.sql
Due: Test, Build

Survey things
  backend/cmd/api/loaders.go
  backend/common/items.go
  backend/common/loaders.go
  backend/events/publish.go
  backend/sqlc/models.go
  backend/sqlc/survey-queries.go
  backend/sqlc/surveys.sql.go
  migrations/00143_surveys.sql
  migrations/00144_survey_visibility.sql
  queries/surveys.sql
Due: Test, Build

Update README.md
  web/README.md
Due: Web

Update output for BQ export
  backend/statistics/item-bq-types.go
Due: Test, Build

graphql types
  backend/graph/api/schema/schema.graphqls
  backend/graph/api/schema/surveys.graphqls
Due: Test, Build

graphql types
  backend/graph/api/faq.resolvers.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
Due: Test, Build

tostring relative
  cms/custom/interface-query-builder/src/query-builder/Filter.vue
Due: Build CMS

answers and models
  backend/cmd/api/loaders.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/schema.graphqls
  backend/graph/api/schema/surveys.graphqls
  backend/sqlc/models.go
  migrations/00145_question_answers.sql
Due: Test, Build

nocache
  backend/loaders/cache.go
  backend/loaders/options.go
Due: Test, Build

return active surveys
  backend/cmd/api/loaders.go
  backend/common/loaders.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/model/survey.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/surveys.graphqls
  backend/memorycache/memorycache.go
Due: Test, Build

nil map
  backend/sqlc/survey-queries.go
Due: Test, Build

send survey question answers
  backend/common/errors.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/mutations.resolvers.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/mutations.graphqls
  backend/graph/api/schema/schema.graphqls
  backend/sqlc/models.go
  backend/sqlc/surveys.sql.go
  queries/surveys.sql
Due: Test, Build

notifications
  migrations/00146_question_answers_notifications.sql
Due: none

err item not found
  backend/graph/api/mutations.resolvers.go
Due: Test, Build
