Repository bcc-code/bcc-media-platform: changes, and which Semaphore blocks are due for each by the changed paths.
All: Web, Build CMS, Test, Build

Web:
  jobs:
  - name: deploy
    commands:
    - checkout
    - ./scripts/web.sh dev

Build CMS:
  jobs:
  - name: build
    commands:
    - checkout
    - cd cms
    - docker build -t "europe-west4-docker.pkg.dev/utils-332514/btv-platform/cms:${SEMAPHORE_GIT_SHA:0:7}" -t europe-west4-docker.pkg.dev/utils-332514/btv-platform/cms:$SEMAPHORE_GIT_BRANCH .
  ...

Test:
  jobs:
  - name: go test
    commands:
    - export GOPATH=~/go
    - export PATH=/home/semaphore/go/bin:$PATH
    - export CGO_ENABLED=0
    - checkout
    - cache restore
    - go get ./...
    - go test ./...
  epilogue:
    on_pass:
      commands:
      - cache store
  prologue:
    commands:
    - sem-version go 1.19

Build:
  prologue:
    commands:
    - sem-version go 1.19
    - export GOPATH=~/go
    - export PATH=/home/semaphore/go/bin:$PATH
    - checkout
    - cache restore
    - gcloud auth activate-service-account --key-file=/home/semaphore/secrets/google.key.json
  ...

episode.locked
  backend/graph/api/generated/generated.go
  backend/graph/api/items.resolvers.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/schema/items.graphqls
Due: Test, Build

lessons progress
  backend/common/achievements.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/achievements.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/model/section.go
  backend/graph/api/schema/achievements.graphqls
  backend/graph/api/schema/pages.graphqls
  backend/graph/api/schema/studies.graphqls
  backend/graph/api/studies.resolvers.go
  backend/sqlc/achievement-queries.go
  backend/sqlc/achievements.sql.go
  queries/achievements.sql
Due: Test, Build

with from
  backend/user/access.go
Due: Test, Build

unlisted roles
  migrations/00113_unlisted_roles.sql
Due: none

dont drop
  migrations/00113_unlisted_roles.sql
Due: none

page details option
  migrations/00114_page_details.sql
Due: none

computeds
  backend/asset/loader.go
  backend/batchloaders/loader.go
  backend/cmd/api/main.go
  backend/common/computeddata.go
  backend/common/items.go
  backend/common/loaders.go
  backend/common/user.go
  backend/graph/api/generated/generated.go
  backend/graph/api/pages.resolvers.go
  backend/graph/api/schema/pages.graphqls
  backend/items/collection/loader.go
  backend/members/models.go
  backend/sqlc/computeddata-queries.go
  backend/sqlc/computeddata.sql.go
  backend/sqlc/models.go
  backend/sqlc/sections.sql.go
  backend/user/middleware.go
  migrations/00115_computed_data.sql
  migrations/00116_computed_data_options.sql
  queries/computeddata.sql
  queries/sections.sql
Due: Test, Build

computeds implemented
  backend/common/user.go
  backend/graph/api/pages.resolvers.go
  backend/members/lookup.go
  backend/members/models.go
  backend/sqlc/section-queries.go
  backend/user/middleware.go
Due: Test, Build

relation sort field
  backend/sqlc/models.go
  migrations/00117_achievements_sort.sql
Due: Test, Build

.
  backend/graph/api/pages.resolvers.go
Due: Test, Build

feat(study): flutter comm improvements
  web/src/components/study/LinkListItem.vue
  web/src/components/study/tasks/LinkTask.vue
  web/src/components/study/tasks/PosterTask.vue
  web/src/components/study/tasks/VideoTask.vue
  web/src/utils/flutter.ts
Due: Web

Update date format
  README.md
  backend/graph/api/achievements.resolvers.go
Due: Test, Build

feat: feedback
  web/package.json
  web/pnpm-lock.yaml
  web/src/components/feedback/FeedbackBottomSheet.vue
  web/src/components/feedback/FeedbackRating.vue
  web/src/components/feedback/FeedbackRatingAndForm.vue
  web/src/components/study/More.vue
  web/src/components/study/Tasks.vue
  web/src/components/study/tasks/LinkTask.vue
  web/src/components/study/tasks/QuoteTask.vue
  web/src/components/study/tasks/VideoTask.vue
  web/src/graph/generated.ts
  web/src/graph/queries/feedback.graphql
  web/src/utils/flutter.ts
Due: Web

build: fix error
  web/src/utils/lists.ts
Due: Web

text task improvement
  web/src/components/study/tasks/TextTask.vue
  web/src/translations/en.json
Due: Web

feat: force scroll on feedback comment
  web/src/components/feedback/FeedbackBottomSheet.vue
Due: Web

fix(web): null errors on unused code
  web/src/components/feedback/FeedbackBottomSheet.vue
Due: Web

fix(study): overflow scroll on tasks
  web/src/components/study/Tasks.vue
Due: Web

Add sublogger for translations
  backend/crowdin/sync.go
Due: Test, Build

feat(study): not-embed web, remember alternative, download filename
  web/src/components/episodes/EpisodeDisplay.vue
  web/src/components/feedback/FeedbackBottomSheet.vue
  web/src/components/study/Lesson.vue
  web/src/components/study/LessonButton.vue
  web/src/components/study/More.vue
  web/src/components/study/TaskButton.vue
  web/src/components/study/Tasks.vue
  web/src/components/study/tasks/AlternativesTask.vue
  web/src/components/study/tasks/PosterTask.vue
  web/src/components/study/tasks/QuoteTask.vue
  web/src/components/study/tasks/TextTask.vue
  web/src/graph/generated.ts
  web/src/graph/queries/episode.graphql
  web/src/pages/embed/Embed.vue
  web/src/pages/episode/EpisodeLesson.vue
  web/src/router/routes.ts
Due: Web

translation sync
  web/src/translations/da.json
  web/src/translations/es.json
  web/src/translations/it.json
  web/src/translations/nl.json
  web/src/translations/pl.json
Due: Web

Search for correct ID
  backend/graph/api/studies.resolvers.go
Due: Test, Build

feat: link and video task polish
  web/src/components/study/Lesson.vue
  web/src/components/study/tasks/LinkTask.vue
  web/src/components/study/tasks/VideoTask.vue
Due: Web

fix(web): show A episode page
  web/src/components/episodes/AgeRating.vue
  web/src/components/episodes/EpisodeDisplay.vue
Due: Web

Added export fixes
  backend/export/export.go
  backend/export/sqlc/migrations/01_init.sql
  backend/export/sqlc/queries/shows.sql
  backend/export/sqlexport/models.go
  backend/export/sqlexport/shows.sql.go
Due: Test, Build

Remove obsolete file
  backend/export/sqlexport/dummy.sql.go
Due: Test, Build

I'm tired, ok :D
  backend/export/export.go
  backend/export/sqlc/migrations/01_init.sql
Due: Test, Build

.....
  backend/export/sqlexport/models.go
  backend/export/sqlexport/shows.sql.go
Due: Test, Build

feat(study): poster task spinner, spinner style, spacing on text task
  web/src/components/Loader.vue
  web/src/components/feedback/FeedbackBottomSheet.vue
  web/src/components/study/Lesson.vue
  web/src/components/study/Tasks.vue
  web/src/components/study/tasks/PosterTask.vue
  web/src/components/study/tasks/TextTask.vue
Due: Web

feat: order achievements by "sort" column
  backend/sqlc/achievements.sql.go
  queries/achievements.sql
Due: Test, Build

tweak(study): treat quote as poster
  web/src/components/study/Tasks.vue
  web/src/components/study/tasks/PosterTask.vue
  web/src/components/study/tasks/QuoteTask.vue
Due: Web

Fix export
  backend/export/export.go
  backend/export/sqlc/migrations/01_init.sql
  backend/export/sqlc/queries/episodes.sql
  backend/export/sqlc/queries/seasons.sql
  backend/export/sqlexport/episodes.sql.go
  backend/export/sqlexport/models.go
  backend/export/sqlexport/seasons.sql.go
  packages/test-data/series.ts
  packages/test-data/types.d.ts
Due: Test, Build

Added more logging
  backend/export/export.go
Due: Test, Build

Do not error on invalid default ep for export
  backend/export/export.go
Due: Test, Build

Added images to pages export
  backend/export/export.go
  backend/export/sqlc/migrations/01_init.sql
  backend/export/sqlc/queries/pages.sql
  backend/export/sqlexport/models.go
  backend/export/sqlexport/pages.sql.go
Due: Test, Build

Cast INT to INT64 before making it sql.NullInt64
  backend/export/export.go
  backend/items/show/defaults.go
Due: Test, Build

feat: large study topic card
  web/src/components/Image.vue
  web/src/components/page/Page.vue
  web/src/components/sections/Section.vue
  web/src/components/sections/item/CardSection.vue
  web/src/components/sections/item/cards/StudyTopicCardLarge.vue
  web/src/graph/generated.ts
  web/src/graph/queries/page.graphql
  web/src/graph/queries/section.graphql
  web/src/graph/queries/study.graphql
  web/src/translations/en.json
  web/src/utils/items.ts
Due: Web

Add admin labels to a few things
  migrations/00118_add_labels.sql
Due: none

feat(study): tailwind "embed" variant
  web/src/components/study/Tasks.vue
  web/src/components/study/tasks/PosterTask.vue
  web/src/components/study/tasks/TextTask.vue
  web/src/pages/embed/Embed.vue
  web/src/styles/index.css
  web/tailwind.config.cjs
Due: Web

Path conditions:
  Web: any of: web/
  Build CMS: any of: cms/
  Test: any of: backend/
  Build: any of: backend/
