Repository bcc-code/bcc-media-platform: changes, and which Semaphore blocks are due for each by the changed paths.
All: Web, Build CMS, Test, Build

Web:
  jobs:
  - name: deploy
    commands:
    - checkout
    - ./scripts/web.sh dev

Build CMS:
  jobs:
  - name: build
    commands:
    - checkout
    - cd cms
    - docker build -t "europe-west4-docker.pkg.dev/utils-332514/btv-platform/cms:${SEMAPHORE_GIT_SHA:0:7}" -t europe-west4-docker.pkg.dev/utils-332514/btv-platform/cms:$SEMAPHORE_GIT_BRANCH .
  ...

Test:
  jobs:
  - name: go test
    commands:
    - export GOPATH=~/go
    - export PATH=/home/semaphore/go/bin:$PATH
    - export CGO_ENABLED=0
    - checkout
    - cache restore
    - go get ./...
    - go test ./...
  epilogue:
    on_pass:
      commands:
      - cache store
  prologue:
    commands:
    - sem-version go 1.19

Build:
  prologue:
    commands:
    - sem-version go 1.19
    - export GOPATH=~/go
    - export PATH=/home/semaphore/go/bin:$PATH
    - checkout
    - cache restore
    - gcloud auth activate-service-account --key-file=/home/semaphore/secrets/google.key.json
  ...

update code
  web/src/components/navbar/Navbar.vue
  web/src/components/support/Loading.vue
  web/src/graph/generated.ts
  web/src/pages/setting/ContactForm.vue
  web/src/pages/setting/contact.graphql
Due: Web

Run query in parallel
  backend/items/collection/filter.go
  backend/items/collection/loader.go
  web/src/components/sections/ItemList.vue
  web/src/components/sections/MessageSection.vue
  web/src/components/sections/Section.vue
  web/src/components/sections/item/DefaultGridSection.vue
  web/src/components/sections/item/DefaultSection.vue
  web/src/components/sections/item/FeaturedSection.vue
  web/src/components/sections/item/IconGridSection.vue
  web/src/components/sections/item/IconSection.vue
  web/src/components/sections/item/LabelSection.vue
  web/src/components/sections/item/ListSection.vue
  web/src/components/sections/item/NewPill.vue
  web/src/components/sections/item/PosterGridSection.vue
  web/src/components/sections/item/PosterSection.vue
  web/src/components/sections/item/SectionItemTitle.vue
  web/src/components/sections/item/SectionTitle.vue
  web/src/components/sections/item/Slider.vue
  web/src/components/sections/item/breakpoints.ts
  web/src/graph/generated.ts
  web/src/graph/queries/page.graphql
Due: Web, Test, Build

endless scroll
  web/src/components/page/Page.vue
  web/src/components/sections/item/DefaultGridSection.vue
  web/src/components/sections/item/IconGridSection.vue
  web/src/components/sections/item/ListSection.vue
Due: Web

calendar things
  backend/sqlc/calendar.sql.go
  queries/calendar.sql
  web/package.json
  web/pnpm-lock.yaml
  web/src/components/page/Page.vue
  web/src/components/search/ShowSearchQuery.vue
  web/src/components/sections/MessageSection.vue
  web/src/components/sections/Section.vue
Due: Web, Test, Build

embed styling
  web/src/components/page/Page.vue
  web/src/components/page/SkeletonSections.vue
  web/src/components/sections/MessageSection.vue
  web/src/components/sections/WebSection.vue
  web/src/graph/generated.ts
  web/src/graph/queries/page.graphql
Due: Web

filter
  backend/items/collection/filter.go
Due: Test, Build

fix some spacing
  backend/items/collection/filter.go
  web/src/components/episodes/EpisodeDisplay.vue
  web/src/components/navbar/Navbar.vue
  web/src/components/page/Page.vue
  web/src/components/page/SkeletonSections.vue
  web/src/components/sections/ItemList.vue
  web/src/components/sections/Section.vue
  web/src/components/sections/item/DefaultSection.vue
  web/src/components/sections/item/FeaturedSection.vue
  web/src/components/sections/item/Slider.vue
  web/src/graph/generated.ts
  web/src/graph/queries/section.graphql
  web/src/i18n/translations/en.json
  web/src/i18n/translations/no.json
  web/src/layout/StackedLayout.vue
  web/src/utils/lists.ts
Due: Web, Test, Build

featured banne
  web/src/components/Image.vue
  web/src/components/episodes/AgeRating.vue
  web/src/components/episodes/EpisodeDisplay.vue
  web/src/components/sections/ItemList.vue
  web/src/components/sections/item/FeaturedSection.vue
Due: Web

only show nav on hover
  web/src/components/sections/item/FeaturedSection.vue
  web/src/components/sections/item/Slider.vue
  web/src/utils/lists.ts
Due: Web

fix nil
  backend/graph/api/items.resolvers.go
  web/src/components/episodes/EpisodeDisplay.vue
  web/src/pages/episode/Episode.vue
Due: Web, Test, Build

season selector
  web/src/components/episodes/EpisodeDisplay.vue
Due: Web

boutons
  web/src/components/episodes/EpisodeDisplay.vue
Due: Web

Remove limit on continue watching
  backend/graph/admin/resolver.go
  backend/graph/api/collection-resolver.go
  backend/items/collection/filter.go
  backend/items/collection/loader.go
  web/src/components/EpisodeViewer.vue
  web/src/components/episodes/EpisodeDisplay.vue
  web/src/components/sections/item/ListSection.vue
  web/src/graph/generated.ts
  web/src/graph/queries/episode.graphql
  web/src/layout/StackedLayout.vue
  web/src/pages/episode/Episode.vue
Due: Web, Test, Build

update comps
  web/pnpm-lock.yaml
  web/src/components/languages/LanguageDisplay.vue
  web/src/components/languages/LanguageDisplayList.vue
  web/src/components/languages/LanguageMain.vue
  web/src/components/languages/LanguageMainDetails.vue
  web/src/components/navbar/Navbar.vue
  web/src/components/page/SkeletonSections.vue
  web/src/components/user/HelloWorld.vue
  web/src/components/user/PlayGround.vue
  web/src/graph/generated.ts
  web/src/pages/setting/playground.txt
Due: Web

Dynamic section loading
  web/src/components/EpisodeViewer.vue
  web/src/components/SearchInput.vue
  web/src/components/episodes/EpisodeDisplay.vue
  web/src/components/episodes/EpisodeTitle.vue
  web/src/components/page/Page.vue
  web/src/components/sections/item/DefaultGridSection.vue
  web/src/components/sections/item/DefaultSection.vue
  web/src/components/sections/item/FeaturedSection.vue
  web/src/components/sections/item/IconGridSection.vue
  web/src/components/sections/item/IconSection.vue
  web/src/components/sections/item/LabelSection.vue
  web/src/components/sections/item/ListSection.vue
  web/src/components/sections/item/PosterGridSection.vue
  web/src/components/sections/item/PosterSection.vue
  web/src/components/sections/item/SectionItemTitle.vue
  web/src/graph/generated.ts
  web/src/graph/queries/page.graphql
  web/src/graph/queries/section.graphql
  web/src/layout/StackedLayout.vue
  web/src/pages/episode/Episode.vue
  web/src/router/routes.ts
  web/src/services/auth.ts
  web/src/services/auth0.ts
  web/src/utils/items.ts
Due: Web

Missing change
  web/src/components/page/Page.vue
  web/src/components/sections/item/DefaultSection.vue
Due: Web

sss
  web/src/components/page/Page.vue
  web/src/components/sections/item/Slider.vue
Due: Web

add events
  cms/src/hooks/pubsub/publish.ts
Due: Build CMS

sections
  cms/src/hooks/pubsub/publish.ts
Due: Build CMS

Remove production autopromote
  .semaphore/semaphore.yml
Due: none

migrate some options
  migrations/00078_calendar_entries_translations.sql
  web/src/components/page/Page.vue
  web/src/graph/generated.ts
  web/src/graph/queries/section.graphql
Due: Web

calendar event
  web/src/components/calendar/DayQuery.vue
  web/src/graph/generated.ts
  web/src/graph/queries/live.graphql
  web/src/i18n/translations/en.json
  web/src/i18n/translations/no.json
  web/src/pages/calendar/Calendar.vue
Due: Web

fix broken queries
  web/src/components/page/Page.vue
  web/src/graph/generated.ts
  web/src/graph/queries/page.graphql
  web/src/graph/queries/section.graphql
  web/src/pages/live/Live.vue
  web/src/pages/page/Page.vue
Due: Web

respect breakpoints and the slides per view for the progress
  web/src/components/sections/item/Slider.vue
Due: Web

increase the slides per view to have an earlier page
  web/src/components/sections/item/Slider.vue
Due: Web

unnecessary logging
  backend/items/collection/filter.go
Due: Test, Build

only select ID if the related item is published
  backend/sqlc/calendar.sql.go
  queries/calendar.sql
Due: Test, Build

fix slider issues on mobile
  web/src/components/page/Page.vue
  web/src/components/sections/item/Slider.vue
Due: Web

Filter calendar entries / episodeIds on entries with permissions
  backend/cmd/api/main.go
  backend/common/loaders.go
  backend/graph/api/calendar-resolver.go
  backend/graph/api/calendar.resolvers.go
  backend/graph/api/schema.resolvers.go
  backend/sqlc/calendar-queries.go
  backend/sqlc/calendar.sql.go
  queries/calendar.sql
Due: Test, Build

authshould signin
  web/src/components/calendar/DayQuery.vue
  web/src/components/page/Page.vue
  web/src/components/sections/item/Slider.vue
  web/src/graph/queries/page.graphql
  web/src/i18n/translations/en.json
  web/src/i18n/translations/no.json
  web/src/layout/StackedLayout.vue
  web/src/services/auth.ts
Due: Web

start sending events
  web/src/App.vue
  web/src/components/page/SkeletonSections.vue
  web/src/layout/StackedLayout.vue
  web/src/services/analytics/index.ts
  web/src/services/auth.ts
  web/src/services/auth0.ts
Due: Web

less than or equal to
  backend/graph/api/items.resolvers.go
Due: Test, Build

auto login tweaks
  web/src/i18n/translations/en.json
  web/src/i18n/translations/no.json
  web/src/layout/StackedLayout.vue
  web/src/services/auth.ts
Due: Web

simple styling
  web/src/components/episodes/EpisodeTitle.vue
  web/src/components/seasons/SeasonTitle.vue
  web/src/components/sections/ItemList.vue
  web/src/components/sections/item/Slider.vue
  web/src/components/shows/ShowTitle.vue
  web/src/graph/generated.ts
  web/src/graph/queries/section.graphql
  web/src/layout/StackedLayout.vue
  web/src/services/analytics/index.ts
  web/src/utils/lists.ts
Due: Web

rudderstack event push
  web/src/components/episodes/EpisodeTitle.vue
  web/src/components/page/Page.vue
  web/src/components/seasons/SeasonTitle.vue
  web/src/components/sections/ItemList.vue
  web/src/components/sections/Section.vue
  web/src/components/sections/item/DefaultGridSection.vue
  web/src/components/sections/item/DefaultSection.vue
  web/src/components/sections/item/FeaturedSection.vue
  web/src/components/sections/item/IconGridSection.vue
  web/src/components/sections/item/IconSection.vue
  web/src/components/sections/item/LabelSection.vue
  web/src/components/sections/item/ListSection.vue
  web/src/components/sections/item/PosterGridSection.vue
  web/src/components/sections/item/PosterSection.vue
  web/src/components/sections/item/Slider.vue
  web/src/components/shows/ShowTitle.vue
  web/src/graph/generated.ts
  web/src/graph/queries/page.graphql
  web/src/layout/StackedLayout.vue
  web/src/pages/redirect/Redirect.vue
  web/src/services/analytics/events.ts
  web/src/services/analytics/index.ts
  web/src/services/auth.ts
  web/src/utils/items.ts
Due: Web

fix permissions
  migrations/00079_notification_permissions.sql
Due: none

revision
  .gitignore
  scripts/generate-web-builds.sh
  web/package.json
  web/pnpm-lock.yaml
  web/src/services/analytics/index.ts
Due: Web

Use versionz
  web/.env
  web/.env.dev
  web/.env.prod
  web/.env.sta
  web/src/graph/client.ts
  web/src/services/analytics/index.ts
  web/src/services/player.ts
Due: Web

nil
  backend/push/client.go
  web/src/components/SeasonSelector.vue
  web/src/components/episodes/EpisodeDisplay.vue
  web/src/components/sections/ItemList.vue
  web/src/pages/episode/Episode.vue
  web/src/pages/page/Page.vue
  web/src/services/analytics/index.ts
  web/src/utils/title.ts
Due: Web, Test, Build

Path conditions:
  Web: any of: web/
  Build CMS: any of: cms/
  Test: any of: backend/
  Build: any of: backend/
