Repository bcc-code/bcc-media-platform: changes, and which Semaphore blocks are due for each by the changed paths.
All: Web, Build CMS, Test, Build

Path conditions:
  Web: any of: web/
  Build CMS: any of: cms/
  Test: any of: backend/
  Build: any of: backend/

Comments and configuration
  README.md
  scripts/tests-run.sh
  scripts/tests-setup.sh
  tests/e2e/.env.example
  tests/e2e/Makefile
  tests/e2e/README.md
  tests/e2e/lib/api.ts
  tests/e2e/lib/config.ts
  tests/e2e/lib/directus.ts
  tests/e2e/lib/utils.ts
  tests/e2e/tsconfig.json
Due: none

unnecessary fake secrets
  compose.test.yml
Due: none

Streamline env definition
  compose.test.yml
Due: none

scripts to rebuild
  .gitignore
  Makefile
  scripts/tests-rebuild.sh
Due: none

Doc
  tests/e2e/Makefile
  tests/e2e/README.md
Due: none

Update Semaphore configuration
  .semaphore/semaphore.yml
Due: none

[skip ci] Update Semaphore configuration
  .semaphore/semaphore.yml
Due: none

setup?
  tests/e2e/lib/setup.ts
Due: none

share
  web/src/components/episodes/SharePopover.vue
Due: Web

unused file
  web/src/components/Modal.vue
Due: Web

Try splitting CMS build into two processes
  .semaphore/semaphore.yml
  cms/Dockerfile
  cms/Dockerfile.builder
Due: Build CMS

Cleanup/Comments
  backend/cmd/statistician/readme.md
  backend/members/lookup.go
  backend/members/request.go
  migrations/00123_create_stats_schema_with_initial_tables.sql
  queries/statistician.sql
Due: Test, Build

Actually add GQL output
  backend/graph/admin/generated/generated.go
  backend/graph/admin/model/models_gen.go
  backend/graph/admin/schema.graphqls
  backend/graph/admin/schema.resolvers.go
  backend/sqlc/statistician.sql.go
  backend/sqlc/studies.sql.go
  queries/statistician.sql
Due: Test, Build

file
  .semaphore/semaphore.yml
Due: none

run ls
  cms/Dockerfile.builder
Due: Build CMS

Entrypoint make build
  cms/Dockerfile.builder
Due: Build CMS

folder permissions
  cms/Dockerfile.builder
Due: Build CMS

Semaphore node version
  .semaphore/semaphore.yml
Due: none

Build in ci
  .semaphore/semaphore.yml
Due: none

go mod
  go.mod
  go.sum
Due: none

.locked fixed and nullable iscorrect
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/schema/studies.graphqls
  backend/graph/api/studies.resolvers.go
Due: Test, Build

Update query
  backend/sqlc/statistician.sql.go
  queries/statistician.sql
Due: Test, Build

Doh, return too!!
  backend/graph/admin/schema.resolvers.go
Due: Test, Build

allow x-api-key header
  backend/cmd/api/main.go
Due: Test, Build

Updated statistician
  backend/cmd/statistician/main.go
  backend/members/lookup.go
  backend/sqlc/statistician.sql.go
  queries/statistician.sql
Due: Test, Build

tests
  backend/cmd/api/env.go
  tests/e2e/lib/api.ts
  tests/e2e/lib/items.ts
  tests/e2e/lib/setup.ts
  tests/e2e/tests/episode.test.ts
Due: Test, Build

Expose VOD Player for offline use of BTV
  web/src/components/EpisodeViewer.vue
Due: Web

dont run cache store
  .semaphore/semaphore.yml
Due: none

revert docker changes
  .semaphore/semaphore.yml
  cms/Dockerfile
Due: Build CMS

Update age group calc
  backend/user/middleware.go
Due: Test, Build

Retry docker
  .semaphore/semaphore.yml
  cms/Dockerfile
Due: Build CMS

Dont ignore node_modules
  cms/.dockerignore
Due: Build CMS

User test
  backend/user/middleware.go
  tests/e2e/api.Dockerfile
  tests/e2e/tests/episode.test.ts
  tests/e2e/tests/user.test.ts
Due: Test, Build

if pprof
  backend/cmd/api/main.go
  go.mod
  go.sum
Due: Test, Build

feat(ui): strings for competition
  web/src/translations/en.json
Due: Web

chore: sync translations
  web/src/translations/bg.json
  web/src/translations/da.json
  web/src/translations/de.json
  web/src/translations/es.json
  web/src/translations/fi.json
  web/src/translations/fr.json
  web/src/translations/hu.json
  web/src/translations/it.json
  web/src/translations/nb.json
  web/src/translations/nl.json
  web/src/translations/pl.json
  web/src/translations/pt.json
  web/src/translations/ro.json
  web/src/translations/ru.json
  web/src/translations/sl.json
  web/src/translations/tr.json
Due: Web

Updated statistician with some more age grpups
  backend/cmd/statistician/main.go
Due: Test, Build

Don't assign from header
  backend/user/middleware.go
Due: Test, Build

Unnecessary changes
  backend/user/middleware.go
Due: Test, Build
