Repository bcc-code/bcc-media-platform: changes, and which Semaphore blocks are due for each by the changed paths.
All: Web, Build CMS, Test, Build

Path conditions:
  Web: any of: web/
  Build CMS: any of: cms/
  Test: any of: backend/
  Build: any of: backend/

wrong typ
  cms/custom/interface-query-builder/src/query-builder/types.ts
Due: Build CMS

...
  cms/custom/interface-query-builder/src/query-builder/Filter.vue
Due: Build CMS

Invalid type
  backend/cmd/api/main.go
Due: Test, Build

Watched counter
  backend/common/models.go
  backend/graph/api/schema.resolvers.go
  backend/sqlc/models.go
  backend/sqlc/progress-queries.go
  backend/sqlc/progress.sql.go
  migrations/00057_watched_times.sql
  migrations/pg-diff-config.json
  queries/progress.sql
Due: Test, Build

Implement continue watching collection/section
  backend/cmd/api/main.go
  backend/common/items.go
  backend/common/loaders.go
  backend/graph/api/collection-resolver.go
  backend/graph/api/items.resolvers.go
  backend/sqlc/collection-queries.go
  backend/sqlc/collections.sql.go
  backend/sqlc/models.go
  backend/sqlc/progress-queries.go
  backend/sqlc/progress.sql.go
  backend/utils/locks.go
  migrations/00057_continue_watching.sql
  migrations/00058_remove_collections_field_order.sql
  queries/progress.sql
Due: Test, Build

Batch progress across profiles
  backend/batchloaders/loader.go
  backend/cmd/api/main.go
  backend/common/loaders.go
  backend/graph/api/collection-resolver.go
  backend/graph/api/items.resolvers.go
  backend/sqlc/models.go
  backend/sqlc/progress-queries.go
  backend/sqlc/progress.sql.go
  queries/progress.sql
Due: Test, Build

clear as well
  backend/graph/api/schema.resolvers.go
Due: Test, Build

fix section style
  web/src/components/sections/FeaturedSection.vue
Due: Web

not is
  backend/jsonlogic/filter.go
  cms/custom/interface-query-builder/src/query-builder/Filter.vue
  cms/custom/interface-query-builder/src/query-builder/index.ts
  cms/custom/interface-query-builder/src/query-builder/types.ts
Due: Build CMS, Test, Build

tracing config
  backend/cmd/jobs/env.go
  backend/cmd/jobs/main.go
  backend/utils/tracing.go
Due: Test, Build

if not necessary
  backend/graph/api/collection-resolver.go
Due: Test, Build

writer
  backend/cmd/rewriter/env.go
  backend/cmd/rewriter/main.go
Due: Test, Build

duration should be more than 0
  backend/graph/api/schema.resolvers.go
Due: Test, Build

migration sort
  backend/sqlc/progress.sql.go
  migrations/00059_continue_watching.sql
  web/src/components/sections/NewPill.vue
Due: Web, Test, Build

in case null
  queries/progress.sql
Due: none

.
  backend/sqlc/progress.sql.go
Due: Test, Build

table name
  cms/custom/interface-query-builder/src/query-builder/types.ts
Due: Build CMS

sections fix
  migrations/00060_sections.sql
Due: none

web section
  web/src/components/page/queries.graphql
  web/src/components/sections/NewPill.vue
  web/src/components/sections/Section.vue
  web/src/components/sections/WebSection.vue
  web/src/graph/generated.ts
  web/src/pages/page/Page.vue
Due: Web

fix progress..
  backend/graph/api/schema.resolvers.go
  web/src/components/EpisodeViewer.vue
Due: Web, Test, Build

Templates and schedule database definition
  backend/common/models.go
  backend/sqlc/models.go
  backend/sqlc/notification-queries.go
  backend/sqlc/notifications.sql.go
  migrations/00061_notifications_rework.sql
  queries/notifications.sql
Due: Test, Build

notifications queue
  backend/common/models.go
  backend/queue/client.go
  backend/sqlc/models.go
  backend/sqlc/notification-queries.go
  backend/sqlc/notifications.sql.go
  go.mod
  go.sum
  migrations/00062_notifications_id.sql
Due: Test, Build

fix down migration
  migrations/00061_notifications_rework.sql
Due: none

markdown messages
  migrations/00061_markdown_messages.sql
Due: none

migration orders
  migrations/00062_notifications_rework.sql
  migrations/00063_notifications_id.sql
Due: none

notifications
  backend/cmd/jobs/env.go
  backend/cmd/jobs/main.go
  backend/cmd/jobs/redis.go
  backend/cmd/jobs/server/server.go
  backend/cmd/jobs/server/services.go
  backend/cmd/jobs/update-handler.go
  backend/crowdin/events.go
  backend/directus/events.go
  backend/events/publish.go
  backend/push/client.go
  backend/scheduler/client.go
  backend/search/indexing.go
  backend/sqlc/models.go
  backend/sqlc/notification-queries.go
  backend/sqlc/notifications.sql.go
  cms/src/hooks/pubsub/index.ts
  cms/src/hooks/pubsub/publish.ts
  go.mod
  go.sum
  migrations/00063_notifications_id.sql
  queries/notifications.sql
Due: Build CMS, Test, Build

unnecessary interface methods
  backend/graph/api/resolver.go
Due: Test, Build

Redis must create
  backend/cmd/api/env.go
  backend/cmd/api/main.go
  backend/cmd/jobs/env.go
  backend/cmd/jobs/main.go
  backend/cmd/jobs/redis.go
  backend/utils/redis.go
Due: Test, Build

..
  backend/scheduler/client.go
Due: Test, Build

..
  backend/cmd/jobs/update-handler.go
Due: Test, Build

action
  backend/push/client.go
Due: Test, Build

Initial mail configuration
  backend/email/models.go
  backend/email/send.go
  go.mod
  go.sum
Due: Test, Build

join tags
  migrations/00062_query_filter_tags_join.sql
Due: none

Send emails to support
  backend/cmd/api/env.go
  backend/cmd/api/main.go
  backend/email/send.go
  backend/email/service.go
  backend/graph/api/generated/generated.go
  backend/graph/api/resolver.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/schema.graphqls
  go.mod
  go.sum
Due: Test, Build

settings initial commit
  .vscode/settings.json
  web/package.json
  web/pnpm-lock.yaml
  web/src/components/navbar/Navbar.vue
  web/src/components/sections/Section.vue
  web/src/components/settings/CxtLangPrefDragList.vue
  web/src/components/settings/LangSelector.vue
  web/src/i18n/index.ts
  web/src/i18n/translations/en.json
  web/src/i18n/translations/no.json
  web/src/layout/StackedLayout.vue
  web/src/pages/setting/SettingContent.vue
Due: Web

not found and analytics
  backend/cmd/api/env.go
  backend/cmd/api/main.go
  backend/user/middleware.go
  packages/video-player/src/video-player/npaw.ts
  web/.env
  web/.env.prod
  web/codegen.yml
  web/src/components/EpisodeViewer.vue
  web/src/components/NotFound.vue
  web/src/components/episodes/EpisodeDisplay.vue
  web/src/components/page/Page.vue
  web/src/graph/generated.ts
  web/src/graph/queries/analytics.graphql
  web/src/i18n/translations/en.json
  web/src/i18n/translations/no.json
  web/src/router/routes.ts
Due: Web, Test, Build

updated at update
  backend/sqlc/progress.sql.go
  queries/progress.sql
Due: Test, Build

section metadata
  backend/common/items.go
  backend/graph/api/collection-resolver.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/model/section.go
  backend/graph/api/schema/pages.graphqls
  backend/sqlc/models.go
  backend/sqlc/section-queries.go
  backend/sqlc/sections.sql.go
  migrations/00063_section_options.sql
  queries/sections.sql
  web/src/components/EpisodeViewer.vue
  web/src/components/sections/DefaultSection.vue
  web/src/components/sections/PosterSection.vue
  web/src/components/sections/breakpoints.ts
  web/src/graph/generated.ts
Due: Web, Test, Build

migration order
  migrations/00064_notifications_rework.sql
  migrations/00065_notifications_id.sql
Due: none
