Repository bcc-code/bcc-media-platform: changes, and which Semaphore blocks are due for each by the changed paths.
All: Build CMS, Test, Build

Path conditions:
  Build CMS: any of: cms/
  Test: any of: backend/
  Build: any of: backend/

fix(migrations): migration order
  migrations/00184_related_collection_id.sql
Due: none

feat(members): update to v2 apis for members
  backend/cmd/api/loaders.go
  backend/cmd/statistician/db.go
  backend/cmd/statistician/env.go
  backend/cmd/statistician/main.go
  backend/cmd/statistician/readme.md
  backend/common/loaders.go
  backend/graph/api/resolver.go
  backend/members/lookup.go
  backend/members/models.go
  backend/user/middleware.go
  backend/utils/dates.go
Due: Test, Build

feat(members): personfields
  backend/members/lookup.go
Due: Test, Build

Update backend/user/middleware/user.go
  backend/user/middleware/user.go
Due: Test, Build

fix(notifications): targets retrieved from defaultapp
  backend/notifications/targets.go
Due: Test, Build

fix(members): merge with develop
  backend/user/middleware.go
  backend/user/middleware/user.go
Due: Test, Build

feat(games): implement and expose games
  backend/cmd/api/loaders.go
  backend/common/items.go
  backend/common/loaders.go
  backend/graph/api/collection-resolver.go
  backend/graph/api/games.resolvers.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/game.go
  backend/graph/api/model/lesson.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/schema/games.graphqls
  backend/graph/api/schema/pages.graphqls
  backend/sqlc/game-queries.go
  backend/sqlc/games.sql.go
  backend/sqlc/models.go
  go.mod
  go.sum
  migrations/00185_games.sql
  migrations/00186_games_translations.sql
  queries/games.sql
Due: Test, Build

feat(games): image resolver
  backend/graph/api/games.resolvers.go
Due: Test, Build

chore(deps): remove unused packages
  go.mod
  go.sum
Due: none

feat(games): implement games in query builder
  backend/graph/admin/.graphqlconfig
  backend/graph/admin/generated/generated.go
  backend/graph/admin/graphql.config.yml
  backend/graph/admin/model/models_gen.go
  backend/graph/admin/resolver.go
  backend/graph/admin/schema.graphqls
  backend/graph/admin/schema.resolvers.go
  backend/items/collection/filter.go
  backend/utils/ints.go
  web/src/components/sections/item/CardSection.vue
  web/src/components/sections/item/SectionItemTitle.vue
  web/src/graph/generated.ts
Due: Test, Build

feat(games): migration for filterdataset
  migrations/00187_filter_dataset_games.sql
Due: none

chore(directus): update version
  cms/Makefile
  cms/package.json
  cms/pnpm-lock.yaml
Due: Build CMS

feat(panels): implement panel for refreshing views
  backend/sqlc/asset-queries.go
  backend/sqlc/assets.sql.go
  backend/sqlc/models.go
  migrations/00185_directus_update.sql
  packages/directus-modules/Makefile
  packages/directus-modules/endpoint-preview/package.json
  packages/directus-modules/endpoint-preview/src/index.ts
  packages/directus-modules/interface-query-builder/src/interface.vue
  packages/directus-modules/interface-video-viewer/src/interface.vue
  packages/directus-modules/panel-api-tools/.gitignore
  packages/directus-modules/panel-api-tools/package.json
  packages/directus-modules/panel-api-tools/pnpm-lock.yaml
  packages/directus-modules/panel-api-tools/src/index.ts
  packages/directus-modules/panel-api-tools/src/panel.vue
  packages/directus-modules/panel-api-tools/src/shims.d.ts
  packages/directus-modules/panel-api-tools/tsconfig.json
Due: Test, Build

feat(games): migration order
  migrations/00186_games.sql
  migrations/00187_games_translations.sql
  migrations/00188_filter_dataset_games.sql
Due: none

feat(games): respect permissions on select as well
  backend/sqlc/asset-queries.go
  backend/sqlc/assets.sql.go
  backend/sqlc/collection-queries.go
  backend/sqlc/collections.sql.go
  backend/sqlc/models.go
  queries/collections.sql
Due: Test, Build

game type
  web/src/utils/lists.ts
Due: none

feat(games): add gamespageid on applications
  backend/common/items.go
  backend/graph/api/applications.resolvers.go
  backend/graph/api/games.resolvers.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/game.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/applications.graphqls
  backend/graph/api/schema/games.graphqls
  backend/sqlc/applications.sql.go
  backend/sqlc/models.go
  migrations/00189_games_page.sql
  queries/applications.sql
Due: Test, Build

feat(games): missing sqlc map
  backend/sqlc/application-queries.go
Due: Test, Build

fix(migration): bad migration
  migrations/00186_games.sql
Due: none

feat(timed-metadata): add timed metadata to asset
  backend/sqlc/assets.sql.go
  backend/sqlc/models.go
Due: Test, Build

feat(timed-metadata): add timed metadata to asset
  migrations/00190_assets_timedmetadata.sql
Due: none

fix(size): assetfile size not null
  backend/sqlc/assets.sql.go
  backend/sqlc/models.go
  migrations/00190_size_not_null.sql
Due: Test, Build

feat(games): expose game gql endpoint
  backend/graph/api/generated/generated.go
  backend/graph/api/resolver.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/schema.graphqls
Due: Test, Build

feat(timed-metadata): migration order
  backend/sqlc/models.go
  migrations/00190_assets_timedmetadata.sql
  migrations/00191_assets_timedmetadata.sql
Due: Test, Build

feat(timed-metadata): expose timedmetadata as chapters
  backend/cmd/api/loaders.go
  backend/common/items.go
  backend/common/loaders.go
  backend/graph/api/episodes.resolvers.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/schema/episodes.graphqls
  backend/sqlc/achievement-queries.go
  backend/sqlc/asset-queries.go
  backend/sqlc/assets.sql.go
  backend/sqlc/models.go
  backend/sqlc/utils.go
  migrations/00191_assets_timedmetadata.sql
  migrations/00192_timed_metadata_translations.sql
  queries/assets.sql
Due: Test, Build

chore(refactor): clean up some resolvers
  backend/graph/api/generated/generated.go
  backend/graph/api/items.resolvers.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/pages.resolvers.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/items.graphqls
  backend/graph/api/schema/pages.graphqls
  backend/graph/api/schema/schema.graphqls
  backend/graph/api/schema/sections.graphqls
  backend/graph/api/schema/user-collections.graphqls
  backend/graph/api/schema/users.graphqls
  backend/graph/api/sections.resolvers.go
  backend/graph/api/users.resolvers.go
  backend/graph/api/users.utils.go
Due: Test, Build

fix(push): unregister tokens that fail
  backend/push/client.go
  backend/sqlc/user-devices.sql.go
  queries/user-devices.sql
Due: Test, Build

fix(push): fix query
  queries/user-devices.sql
Due: none

fix(push): fix query
  backend/sqlc/user-devices.sql.go
Due: Test, Build

feat(web): abstracted webview handler
  web/src/components/feedback/FeedbackBottomSheet.vue
  web/src/components/study/LinkListItem.vue
  web/src/components/study/More.vue
  web/src/components/study/tasks/Alternative.vue
  web/src/components/study/tasks/PosterTask.vue
  web/src/components/study/tasks/VideoTask.vue
  web/src/flutter.d.ts
  web/src/graph/client.ts
  web/src/pages/embed/Embed.vue
  web/src/utils/flutter.ts
Due: none

refactor(web): replace flutter mentions with webview
  web/src/components/study/LinkListItem.vue
  web/src/components/study/More.vue
  web/src/components/study/Tasks.vue
  web/src/components/study/tasks/Alternative.vue
  web/src/components/study/tasks/LinkTask.vue
  web/src/components/study/tasks/PosterTask.vue
  web/src/components/study/tasks/VideoTask.vue
  web/src/graph/client.ts
  web/src/pages/embed/Embed.vue
  web/src/utils/webview.ts
Due: none

fix(profiles): allow creation of profiles with app groups
  backend/common/userdata.go
  backend/sqlc/achievements.sql.go
  backend/sqlc/application-queries.go
  backend/sqlc/applications.sql.go
  backend/sqlc/computeddata.sql.go
  backend/sqlc/models.go
  backend/sqlc/profile-queries.go
Due: Test, Build

fix(profiles): unnecessary conflict restraint
  backend/sqlc/achievements.sql.go
  backend/sqlc/applications.sql.go
  backend/sqlc/computeddata.sql.go
  backend/sqlc/models.go
  backend/sqlc/user-profiles.sql.go
  queries/user-profiles.sql
Due: Test, Build

feat(numbers): Include numbers in titles based on collection context
  backend/common/items.go
  backend/graph/api/collection-resolver.go
  backend/graph/api/episodes.resolvers.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/episode.go
  backend/graph/api/schema/episodes.graphqls
  backend/sqlc/collection-queries.go
  backend/sqlc/collections.sql.go
  backend/sqlc/episode-queries.go
  backend/sqlc/models.go
  migrations/00193_collection_number_in_titles.sql
  queries/collections.sql
Due: Test, Build

feat(numbers): code cleanup
  backend/graph/api/episode-resolver.utils.go
  backend/graph/api/episodes.resolvers.go
Due: Test, Build

feat(support): allow public users to send email
  backend/graph/api/mutations.resolvers.go
Due: Test, Build

feat(support): ratelimit
  backend/graph/api/mutations.resolvers.go
Due: Test, Build

fix(games): games page id was search
  backend/graph/api/applications.resolvers.go
Due: Test, Build

fix(id): support ids on game
  backend/graph/api/generated/generated.go
  backend/graph/api/schema/games.graphqls
Due: Test, Build

fix(faq): respect user roles
  backend/cmd/api/loaders.go
  backend/common/loaders.go
  backend/graph/api/faq.resolvers.go
  backend/sqlc/faq.go
  backend/sqlc/faqs.sql.go
  queries/faqs.sql
Due: Test, Build
