Repository bcc-code/bcc-media-platform: changes, and which Semaphore blocks are due for each by the changed paths.
All: Build CMS, Test, Build

Build CMS:
  jobs:
  - name: build
    commands:
    - checkout
    - cd cms
    - docker build -t "europe-west4-docker.pkg.dev/utils-332514/btv-platform/cms:${SEMAPHORE_GIT_SHA:0:7}" -t europe-west4-docker.pkg.dev/utils-332514/btv-platform/cms:$SEMAPHORE_GIT_BRANCH .
  ...

Test:
  jobs:
  - name: go test
    commands:
    - export GOPATH=~/go
    - export PATH=/home/semaphore/go/bin:$PATH
    - export CGO_ENABLED=0
    - checkout
    - cache restore
    - go get ./...
    - go test ./...
  epilogue:
    on_pass:
      commands:
      - cache store
  prologue:
    commands:
    - sem-version go 1.19

Build:
  prologue:
    commands:
    - sem-version go 1.19
    - export GOPATH=~/go
    - export PATH=/home/semaphore/go/bin:$PATH
    - checkout
    - cache restore
    - gcloud auth activate-service-account --key-file=/home/semaphore/secrets/google.key.json
  ...

feat(downloadables): Add "resolution" filed to db for downloadables
  backend/sqlc/assets.sql.go
  backend/sqlc/models.go
  migrations/00169_downloadables_resolution.sql
Due: Test, Build

feat(downloadables): Add size to DB, add resolition to API
  backend/common/items.go
  backend/graph/api/achievements.resolvers.go
  backend/graph/api/analytics.resolvers.go
  backend/graph/api/applications.resolvers.go
  backend/graph/api/calendar.resolvers.go
  backend/graph/api/config.resolvers.go
  backend/graph/api/episodes.resolvers.go
  backend/graph/api/faq.resolvers.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/asset.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/mutations.resolvers.go
  backend/graph/api/pages.resolvers.go
  backend/graph/api/prompts.resolvers.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/episodes.graphqls
  backend/graph/api/search.resolvers.go
  backend/graph/api/seasons.resolvers.go
  backend/graph/api/shows.resolvers.go
  backend/graph/api/studies.resolvers.go
  backend/graph/api/surveys.resolvers.go
  backend/graph/api/user-collections.resolvers.go
  backend/sqlc/assets.sql.go
  backend/sqlc/models.go
  migrations/00170_downloadables_size.sql
Due: Test, Build

chore(migrations): fix migration numbers
  migrations/00170_downloadables_resolution.sql
  migrations/00171_downloadables_size.sql
Due: none

chore(deps): update gqlgen
  backend/Makefile
  backend/graph/api/achievements.resolvers.go
  backend/graph/api/analytics.resolvers.go
  backend/graph/api/applications.resolvers.go
  backend/graph/api/calendar.resolvers.go
  backend/graph/api/config.resolvers.go
  backend/graph/api/episodes.resolvers.go
  backend/graph/api/faq.resolvers.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/mutations.resolvers.go
  backend/graph/api/pages.resolvers.go
  backend/graph/api/prompts.resolvers.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/search.resolvers.go
  backend/graph/api/seasons.resolvers.go
  backend/graph/api/shows.resolvers.go
  backend/graph/api/studies.resolvers.go
  backend/graph/api/surveys.resolvers.go
  backend/graph/api/user-collections.resolvers.go
  backend/tools.go
  go.mod
  go.sum
Due: Test, Build

feat(downloadables): Ingest downloadables resolution and size
  backend/asset/ingest.go
  backend/asset/ingest_test.go
  backend/asset/testdata/002.json
  backend/directus/assetsfile.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/schema/episodes.graphqls
  backend/graph/public/model/models_gen.go
Due: Test, Build

feat(next-episodes): implement next episodes resolver
  backend/graph/api/.graphqlconfig
  backend/graph/api/episode-resolver.utils.go
  backend/graph/api/episodes.resolvers.go
  backend/graph/api/generated/generated.go
  backend/graph/api/graphql.config.yml
  backend/graph/api/model/models_gen.go
  backend/graph/api/schema/episodes.graphqls
Due: Test, Build

feat(next-episodes): implement collection filter and resolver
  backend/graph/api/episode-resolver.utils.go
  backend/graph/api/episodes.resolvers.go
Due: Test, Build

fix(rewriter): wildcard route
  backend/cmd/rewriter/main.go
Due: Test, Build

fix: added mapping from sqlc to common.File struct
  backend/sqlc/asset-queries.go
Due: Test, Build

fix: Added omitempty so Directus does not create junk
  backend/directus/assetsfile.go
Due: Test, Build

feat(next-episodes): rewrite and simplify getNextEpisodes
  backend/graph/api/episode-resolver.utils.go
Due: Test, Build

fix(attributes): linguist generated false
  .gitattributes
Due: none

fix(ingest): Added debug for SNS
  backend/cmd/jobs/server/server.go
Due: Test, Build

fix(ingest): Downgrade SNS package
  go.mod
  go.sum
Due: none

fix(translations): don't try to create a file if the collection is empty
  backend/crowdin/sync.go
Due: Test, Build

fix(ingress): Update path generation for size lookup
  backend/asset/ingest.go
Due: Test, Build

fix(ingest): Fix the json fields to accept what MB is sending
  backend/asset/ingest.go
  backend/asset/ingest_test.go
Due: Test, Build

feat(analysis): add fields for bq
  backend/sqlc/models.go
  migrations/00172_metadata_fields.sql
Due: Test, Build

fix(pages): type is unused
  migrations/00173_pages_default.sql
Due: none

fix(pages): remove unused fields from db
  backend/sqlc/models.go
  migrations/00174_pages_unused_fields.sql
Due: Test, Build

feat(analytics): Add Audience and ContentType to BQ Export
  backend/common/items.go
  backend/sqlc/episode-queries.go
  backend/sqlc/episodes.sql.go
  backend/statistics/bq-schema/episodes.json
  backend/statistics/item-bq-types.go
  queries/episodes.sql
Due: Test, Build

fix(ingest): Bad source path
  backend/asset/ingest.go
Due: Test, Build

feat: changed slide to fade
  web/src/components/page/Page.vue
  web/src/layout/StackedLayout.vue
  web/src/styles/index.css
Due: none

fix(ingest): Retry if some files are not found
  backend/asset/copy-objects.go
Due: Test, Build

chore(ingest): Reformatted copyObject code
  backend/asset/copy-objects.go
Due: Test, Build

fix(web): fixed 31 not highlighting
  web/src/pages/calendar/Calendar.vue
Due: none

feat(application-groups): initial migration
  backend/sqlc/models.go
  cms/Makefile
  migrations/00175_application_groups.sql
Due: Build CMS, Test, Build

feat(application-groups): label
  backend/sqlc/models.go
  migrations/00176_applicationgroup_label.sql
Due: Test, Build

feat(application-groups): non-nullable group id
  backend/sqlc/models.go
  migrations/00176_applicationgroup_label.sql
  migrations/00177_application_group_id_not_nullable.sql
Due: Test, Build

feat(application-groups): implement application groups
  backend/applications/middleware.go
  backend/cmd/api/loaders.go
  backend/cmd/api/main.go
  backend/common/items.go
  backend/common/loaders.go
  backend/common/userdata.go
  backend/graph/api/schema.resolvers.go
  backend/sqlc/application-queries.go
  backend/sqlc/applications.sql.go
  backend/sqlc/models.go
  backend/sqlc/profile-queries.go
  backend/sqlc/user-collection-queries.go
  backend/sqlc/user-collections.sql.go
  backend/sqlc/user-profiles.sql.go
  backend/user/middleware.go
  backend/user/middleware/profiles.go
  backend/user/middleware/user.go
  migrations/00178_remove_roles_field.sql
  migrations/00179_drop_app_usergroups.sql
  migrations/00180_profiles_application_group.sql
  migrations/00181_collections_app_groups.sql
  migrations/00182_collections_remove_app_id.sql
  queries/applications.sql
  queries/user-collections.sql
  queries/user-profiles.sql
Due: Test, Build

feat(application-groups): remove applicationloaders
  backend/cmd/api/handlers.go
  backend/cmd/api/loaders.go
  backend/cmd/api/main.go
  backend/common/loaders.go
  backend/graph/api/collection-resolver.go
  backend/graph/api/episodes.resolvers.go
  backend/graph/api/pages.resolvers.go
  backend/graph/api/resolver.go
  backend/graph/api/schema.resolvers.go
  backend/sqlc/user-collection-queries.go
  backend/sqlc/user-collections.sql.go
  queries/user-collections.sql
Due: Test, Build

feat(application-groups): rename loader for clarity
  backend/cmd/api/loaders.go
  backend/common/loaders.go
  backend/graph/api/collection-resolver.go
  backend/graph/api/schema.resolvers.go
Due: Test, Build

feat(application-groups): rename loader for clarity
  backend/cmd/api/loaders.go
  backend/common/loaders.go
Due: Test, Build

feat(recommendation): next returns episode in next season if it exists
  backend/graph/api/episode-resolver.utils.go
Due: Test, Build

feat(recommendation): if no next episode in show, try to look for it in a related collection
  backend/common/items.go
  backend/graph/api/episode-resolver.utils.go
  backend/graph/api/schema/episodes.graphqls
  backend/sqlc/models.go
  backend/sqlc/show-queries.go
  backend/sqlc/shows.sql.go
  migrations/00183_related_collection_id.sql
  queries/shows.sql
Due: Test, Build

feat(recommendation): if no show related collection, search for other episodes with same tags
  backend/cmd/api/loaders.go
  backend/common/loaders.go
  backend/graph/api/episode-resolver.utils.go
  backend/sqlc/episode-queries.go
  backend/sqlc/episodes.sql.go
  queries/episodes.sql
Due: Test, Build

Change type of "size" from INT to BIGINT
  migrations/00175_increase_size_to_bigint.sql
Due: none

Wrong table name XD
  migrations/00175_increase_size_to_bigint.sql
Due: none

fix(migrations): migration order
  migrations/00176_application_groups.sql
  migrations/00177_applicationgroup_label.sql
Due: none

fix(migrations): migration order
  migrations/00178_application_group_id_not_nullable.sql
  migrations/00179_remove_roles_field.sql
  migrations/00180_drop_app_usergroups.sql
  migrations/00183_profiles_application_group.sql
Due: none

Path conditions:
  Build CMS: any of: cms/
  Test: any of: backend/
  Build: any of: backend/
