Repository bcc-code/bcc-media-platform: changes, and which Semaphore blocks are due for each by the changed paths.
All: Build CMS, Test, Build

Build CMS:
  jobs:
  - name: build
    commands:
    - checkout
    - cd cms
    - docker build -t "europe-west4-docker.pkg.dev/utils-332514/btv-platform/cms:${SEMAPHORE_GIT_SHA:0:7}" -t europe-west4-docker.pkg.dev/utils-332514/btv-platform/cms:$SEMAPHORE_GIT_BRANCH .
  ...

Test:
  jobs:
  - name: go test
    commands:
    - export GOPATH=~/go
    - export PATH=/home/semaphore/go/bin:$PATH
    - export CGO_ENABLED=0
    - checkout
    - cache restore
    - go get ./...
    - go test ./...
  epilogue:
    on_pass:
      commands:
      - cache store
  prologue:
    commands:
    - sem-version go 1.19

Build:
  prologue:
    commands:
    - sem-version go 1.19
    - export GOPATH=~/go
    - export PATH=/home/semaphore/go/bin:$PATH
    - checkout
    - cache restore
    - gcloud auth activate-service-account --key-file=/home/semaphore/secrets/google.key.json
  ...

feat(my-list): add mylist as metadata on section
  backend/common/items.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/model/section.go
  backend/graph/api/schema/pages.graphqls
  backend/graph/api/studies.resolvers.go
  backend/sqlc/section-queries.go
Due: Test, Build

feat(faq): permissions
  migrations/00167_faqs_permissions.sql
Due: none

fix(language): accept language parses nb to no
  backend/utils/accept-language.go
Due: Test, Build

fieldsfunc to split on both minus and underscore
  backend/utils/accept-language.go
Due: Test, Build

use errors.Is instead of merry.Is
  backend/graph/api/studies.resolvers.go
  go.mod
  go.sum
Due: Test, Build

feat(my-list): clean up and sort resolver functions
  backend/graph/api/collection-resolver.go
Due: Test, Build

feat(faqs): implement translation sync
  backend/crowdin/client.go
  backend/crowdin/items.go
  backend/directus/translations.go
  backend/sqlc/translations.go
  backend/sqlc/translations.sql.go
  queries/translations.sql
Due: Test, Build

feat(faqs): allow migrate.down
  migrations/00165_delete_faqs.sql
Due: none

fix: Do not crash if the "Accept-Language" header is missing
  backend/utils/accept-language.go
Due: Test, Build

after mount run image sizingb
  web/src/components/Image.vue
Due: none

fix(accept-language): fix acceptlanguage
  backend/utils/accept-language.go
Due: Test, Build

chore(versions): update go version and packages
  .semaphore/semaphore.yml
  backend/utils/database.go
  backend/utils/redis.go
  go.mod
  go.sum
Due: Test, Build

fix(migration): migration order
  migrations/00168_my_list_collection_type.sql
Due: none

fix(directus): tweak some issues
  cms/Makefile
  cms/custom/hook-sync-to-legacy/package.json
  cms/custom/hook-sync-to-legacy/pnpm-lock.yaml
  cms/custom/hook-sync-to-legacy/src/index.ts
Due: Build CMS

expire applications
  backend/cmd/api/main.go
Due: Test, Build

fix(web): LabelSection smaller screen button
  web/src/components/sections/item/LabelSection.vue
Due: none

fix(cache): user cached too long
  backend/user/middleware.go
Due: Test, Build

fix(loader): validate that filter is not nil
  backend/items/collection/loader.go
Due: Test, Build

fix(my-list): no limit on collection if type is mylist
  backend/items/collection/loader.go
Due: Test, Build

fix(directus): stick to 9.26.0, fix preview
  cms/package.json
  cms/pnpm-lock.yaml
  packages/directus-modules/Makefile
  packages/directus-modules/endpoint-preview/package.json
  packages/directus-modules/hook-pubsub/package.json
  packages/directus-modules/hook-pubsub/pnpm-lock.yaml
  packages/directus-modules/hook-sync-to-legacy/package.json
  packages/directus-modules/hook-sync-to-legacy/pnpm-lock.yaml
  packages/directus-modules/interface-datepicker/package-lock.json
  packages/directus-modules/interface-datepicker/pnpm-lock.yaml
  packages/directus-modules/interface-query-builder/package-lock.json
  packages/directus-modules/interface-query-builder/pnpm-lock.yaml
  packages/directus-modules/interface-video-viewer/package-lock.json
  packages/directus-modules/interface-video-viewer/pnpm-lock.yaml
Due: Build CMS

fix(directus): knex issues
  packages/directus-modules/hook-sync-to-legacy/src/filters/assets.ts
  packages/directus-modules/hook-sync-to-legacy/src/filters/assetstreams.ts
  packages/directus-modules/hook-sync-to-legacy/src/filters/shows.ts
  packages/directus-modules/hook-sync-to-legacy/src/filters/tags.ts
  packages/directus-modules/hook-sync-to-legacy/src/index.ts
  packages/directus-modules/hook-sync-to-legacy/src/utils.ts
Due: none

fix(directus): ignore type error
  packages/directus-modules/hook-sync-to-legacy/src/oldKnex.ts
  packages/directus-modules/hook-sync-to-legacy/src/utils.ts
Due: none

fix(directus): uncomment legacy off
  packages/directus-modules/hook-sync-to-legacy/src/index.ts
Due: none

fix(directus): semaphore build steps
  .semaphore/semaphore.yml
Due: none

fix(directus): simple comment
  packages/directus-modules/hook-sync-to-legacy/src/oldKnex.ts
Due: none

fix(directus): pnpm install
  cms/Makefile
Due: Build CMS

fix video preview
  packages/directus-modules/interface-video-viewer/package.json
  packages/directus-modules/interface-video-viewer/pnpm-lock.yaml
  packages/directus-modules/interface-video-viewer/src/viewer/Viewer.vue
Due: none

fix(directus): semaphore wf run
  .semaphore/semaphore.yml
Due: none

Rebase
  go.mod
  go.sum
Due: none

fix(import): Bad json field names for directus
  backend/directus/assetsfile.go
Due: Test, Build

feat(backups): add default permissions for onsite backup system
  migrations/00169_allow_onsite_backups.sql
Due: none

fix(ci): build with go 1.20
  .semaphore/semaphore.yml
  cms/README.md
Due: Build CMS

chore(deps): update packages
  go.mod
  go.sum
Due: none

feat: Better local db init and management
  Makefile
  env.sample
  migrations/Makefile
  migrations/special/02-basic-data.sql
  migrations/special/post/01-admin-user.sql
  migrations/special/post/02-basic-data.sql
  migrations/special/pre/01-roles.sql
  migrations/special/pre/02-create.sql
  scripts/db_manage.sh
  scripts/new-release.sh
Due: none

feat: Create DB with custom DB name
  migrations/special/pre/02-create.sql
  scripts/db_manage.sh
Due: none

Path conditions:
  Build CMS: any of: cms/
  Test: any of: backend/
  Build: any of: backend/
