Repository bcc-code/bcc-media-platform: changes, and which Semaphore blocks are due for each by the changed paths.
All: Build CMS, Test, Build

Build CMS:
  jobs:
  - name: build
    commands:
    - checkout
    - cd cms
    - docker build -t "europe-west4-docker.pkg.dev/utils-332514/btv-platform/cms:${SEMAPHORE_GIT_SHA:0:7}" -t europe-west4-docker.pkg.dev/utils-332514/btv-platform/cms:$SEMAPHORE_GIT_BRANCH .
  ...

Test:
  jobs:
  - name: go test
    commands:
    - export GOPATH=~/go
    - export PATH=/home/semaphore/go/bin:$PATH
    - export CGO_ENABLED=0
    - checkout
    - cache restore
    - go get ./...
    - go test ./...
  epilogue:
    on_pass:
      commands:
      - cache store
  prologue:
    commands:
    - sem-version go 1.19

Build:
  prologue:
    commands:
    - sem-version go 1.19
    - export GOPATH=~/go
    - export PATH=/home/semaphore/go/bin:$PATH
    - checkout
    - cache restore
    - gcloud auth activate-service-account --key-file=/home/semaphore/secrets/google.key.json
  ...

fix(asset import): Allow longer retry times
  backend/directus/client.go
  go.mod
  go.sum
Due: Test, Build

Updated retry count and wait
  backend/directus/client.go
Due: Test, Build

Turns out this needs to be multiplied by seconds othwerise it's milliseconds or somtething
  backend/directus/client.go
Due: Test, Build

fix(images): Episodes with no season (standalone) throw erros when you fetch a singular image
  backend/graph/api/episodes.resolvers.go
Due: Test, Build

feat(downloadables): embed downloadables
  web/src/components/embed/EmbedDownloadables.vue
  web/src/graph/generated.ts
  web/src/graph/queries/episode.graphql
  web/src/pages/EpisodeEmbed.vue
Due: none

languages
  web/src/components/embed/EmbedDownloadables.vue
  web/src/services/language.ts
Due: none

restrict access to files to downloadables
  backend/graph/api/episodes.resolvers.go
  backend/user/access.go
Due: Test, Build

Embed and downloadables
  web/src/components/embed/EmbedDownloadables.vue
  web/src/components/episodes/EpisodeDisplay.vue
  web/src/graph/generated.ts
  web/src/graph/queries/episode.graphql
  web/src/pages/EpisodeEmbed.vue
  web/src/translations/bg.json
  web/src/translations/da.json
  web/src/translations/de.json
  web/src/translations/en.json
  web/src/translations/es.json
  web/src/translations/fi.json
  web/src/translations/fr.json
  web/src/translations/hu.json
  web/src/translations/it.json
  web/src/translations/nb.json
  web/src/translations/nl.json
  web/src/translations/pl.json
  web/src/translations/pt.json
  web/src/translations/ro.json
  web/src/translations/ru.json
  web/src/translations/sl.json
  web/src/translations/tr.json
Due: none

feat(translations): rewrite
  backend/cmd/jobs/server/services.go
  backend/crowdin/client.go
  backend/crowdin/models.go
  backend/crowdin/sync.go
  backend/sqlc/translations.sql.go
  migrations/00210_translations_unique_index.sql
  packages/directus-modules/.prettierrc
  packages/directus-modules/endpoint-preview/src/index.ts
  packages/directus-modules/endpoint-preview/tsconfig.json
  packages/directus-modules/panel-api-tools/src/index.ts
  packages/directus-modules/panel-api-tools/src/panel.vue
  queries/translations.sql
Due: Test, Build

feat(translations): builds
  backend/cmd/jobs/main.go
  backend/cmd/jobs/server/server.go
  backend/cmd/jobs/server/services.go
  backend/crowdin/client.go
  backend/crowdin/events.go
  backend/crowdin/sync.go
Due: Test, Build

feat(assets): remove ingesting through directus
  backend/asset/ingest.go
  backend/directus/client.go
  backend/directus/translations.go
  backend/sqlc/assets.sql.go
  queries/assets.sql
Due: Test, Build

chore(directus): remove dependency on the directus API
  backend/asset/ingest.go
  backend/directus/assets.go
  backend/directus/assetsfile.go
  backend/directus/assetstream.go
  backend/directus/items.go
  backend/directus/lang.go
Due: Test, Build

sqlc-dev
  backend/graph/api/resolver.go
  go.mod
  go.sum
Due: Test, Build

fix query navbar
  web/src/components/navbar/Navbar.vue
  web/src/pages/search/Search.vue
Due: none

chore(assets): fix warnings
  backend/asset/ingest.go
Due: Test, Build

chore(directus): update packages
  cms/pnpm-lock.yaml
  packages/directus-modules/endpoint-preview/package.json
  packages/directus-modules/endpoint-preview/pnpm-lock.yaml
  packages/directus-modules/hook-pubsub/package.json
  packages/directus-modules/hook-pubsub/pnpm-lock.yaml
  packages/directus-modules/interface-datepicker/pnpm-lock.yaml
  packages/directus-modules/interface-query-builder/pnpm-lock.yaml
  packages/directus-modules/interface-video-viewer/pnpm-lock.yaml
  packages/directus-modules/panel-api-tools/pnpm-lock.yaml
Due: Build CMS

chore(events): remove reference to directus from code
  backend/cmd/jobs/main.go
  backend/cmd/jobs/server/server.go
  backend/cmd/jobs/server/services.go
  backend/directus/client.go
  backend/events/event-handler.go
Due: Test, Build

chore(directus): remove refence to directus config
  backend/cmd/jobs/env.go
Due: Test, Build

chore(assets): better naming of query
  backend/asset/ingest.go
  backend/sqlc/assets.sql.go
  queries/assets.sql
Due: Test, Build

fix tests & references
  backend/asset/ingest_test.go
  backend/cmd/pubsub-helper/main.go
  go.mod
Due: Test, Build

try cleaning up translations a bit more
  backend/crowdin/client.go
  backend/crowdin/items.go
  backend/crowdin/sync.go
  backend/sqlc/translations.sql.go
  queries/translations.sql
Due: Test, Build

const for type hls_cmaf and dash
  backend/asset/ingest.go
  backend/common/consts.go
Due: Test, Build

delete where things are null
  migrations/00208_translations_more_nullable_fix.sql
Due: none

idseqs
  migrations/00209_translations_id_seq_perms.sql
Due: none

.
  migrations/00207_translations_nullable_fix.sql
Due: none

fix asset permissions
  migrations/00211_assets_permissions.sql
Due: none

grant access to sequences
  migrations/00212_assets_sequences_permissions.sql
Due: none

map yue to yue
  backend/utils/language-map.go
Due: Test, Build

fix(cors): add x-application to cors request
  backend/cmd/api/main.go
Due: Test, Build

add x-application to request
  web/src/graph/client.ts
  web/src/pages/EpisodeEmbed.vue
  web/src/services/app.ts
Due: none

unnecessary log
  web/src/pages/EpisodeEmbed.vue
Due: none

.
  web/src/services/language.ts
Due: none

allow adding auth token to param
  web/src/pages/EpisodeEmbed.vue
  web/src/services/auth.ts
Due: none

dont access localstorage without catching
  web/src/services/cookies.ts
Due: none

downloadables improve design
  web/src/components/embed/EmbedDownloadables.vue
Due: none

in inframe dont run
  web/src/utils/webview.ts
Due: none

terms of use
  web/src/translations/bg.json
  web/src/translations/da.json
  web/src/translations/de.json
  web/src/translations/en.json
  web/src/translations/es.json
  web/src/translations/fi.json
  web/src/translations/fr.json
  web/src/translations/hu.json
  web/src/translations/it.json
  web/src/translations/nb.json
  web/src/translations/nl.json
  web/src/translations/pl.json
  web/src/translations/pt.json
  web/src/translations/ro.json
  web/src/translations/ru.json
  web/src/translations/sl.json
  web/src/translations/tr.json
Due: none

terms of use
  web/src/components/Footer.vue
Due: none

Path conditions:
  Build CMS: any of: cms/
  Test: any of: backend/
  Build: any of: backend/
