Repository bcc-code/bcc-media-platform: changes, and which Semaphore blocks are due for each by the changed paths.
All: Build CMS, Test, Build

Build CMS:
  jobs:
  - name: build
    commands:
    - checkout
    - cd cms
    - docker build -t "europe-west4-docker.pkg.dev/utils-332514/btv-platform/cms:${SEMAPHORE_GIT_SHA:0:7}" -t europe-west4-docker.pkg.dev/utils-332514/btv-platform/cms:$SEMAPHORE_GIT_BRANCH .
  ...

Test:
  jobs:
  - name: go test
    commands:
    - export GOPATH=~/go
    - export PATH=/home/semaphore/go/bin:$PATH
    - export CGO_ENABLED=0
    - checkout
    - cache restore
    - go get ./...
    - go test ./...
  epilogue:
    on_pass:
      commands:
      - cache store
  prologue:
    commands:
    - sem-version go 1.19

Build:
  prologue:
    commands:
    - sem-version go 1.19
    - export GOPATH=~/go
    - export PATH=/home/semaphore/go/bin:$PATH
    - checkout
    - cache restore
    - gcloud auth activate-service-account --key-file=/home/semaphore/secrets/google.key.json
  ...

feat(playlists): implement playlist search index
  backend/search/service.go
  backend/sqlc/models.go
  backend/sqlc/playlists.sql.go
  migrations/00226_playlists.sql
  queries/playlists.sql
Due: Test, Build

feat(playlists): implement playlist search index
  backend/search/indexing.go
Due: Test, Build

feat(playlists): playlist direct query
  backend/graph/api/generated/generated.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/schema.graphqls
Due: Test, Build

fix(ts): invalid filenames
  backend/crowdin/items.go
Due: Test, Build

chore(collections): fix some collection things
  backend/common/items.go
  backend/common/models.go
  backend/export/export.go
  backend/graph/api/collection-resolver.go
  backend/graph/api/collections.utils.go
  backend/graph/api/episode-resolver.utils.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/model/section.go
  backend/graph/api/playlists.resolvers.go
  backend/graph/api/schema/playlists.graphqls
  backend/graph/api/schema/schema.graphqls
  backend/items/collection/loader.go
  backend/sqlc/collection-queries.go
  backend/sqlc/episode-queries.go
  backend/sqlc/page-queries.go
  backend/sqlc/season-queries.go
  backend/sqlc/section-queries.go
  backend/sqlc/show-queries.go
Due: Test, Build

feat(playlists): implements playlistitem and item
  backend/graph/api/collections.utils.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/playlists.resolvers.go
  backend/graph/api/schema/playlists.graphqls
  backend/graph/api/schema/schema.graphqls
  backend/graph/api/schema/sections.graphqls
  backend/graph/api/schema/studies.graphqls
Due: Test, Build

fix(collections): remove deprecated collection endpoints
  backend/graph/api/collection-resolver.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/collection.go
  backend/graph/api/model/episode.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/model/page.go
  backend/graph/api/model/season.go
  backend/graph/api/model/show.go
  backend/graph/api/pages.resolvers.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/collections.graphqls
  backend/graph/api/schema/pages.graphqls
  backend/graph/api/schema/schema.graphqls
Due: Test, Build

fix(collections): rename Item to CollectionItem
  backend/graph/api/collections.utils.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/schema/episodes.graphqls
  backend/graph/api/schema/games.graphqls
  backend/graph/api/schema/playlists.graphqls
  backend/graph/api/schema/schema.graphqls
  backend/graph/api/schema/seasons.graphqls
  backend/graph/api/schema/sections.graphqls
  backend/graph/api/schema/shows.graphqls
  backend/graph/api/schema/studies.graphqls
Due: Test, Build

feat(playlists): improve query
  backend/graph/api/collection-resolver.go
  backend/graph/api/collections.utils.go
  backend/sqlc/playlists.sql.go
  queries/playlists.sql
Due: Test, Build

chore(deps): update dependencies
  cms/package.json
  cms/pnpm-lock.yaml
  packages/directus-modules/endpoint-tools/package.json
  packages/directus-modules/endpoint-tools/pnpm-lock.yaml
  packages/directus-modules/hook-pubsub/package.json
  packages/directus-modules/hook-pubsub/pnpm-lock.yaml
  packages/directus-modules/interface-datepicker/pnpm-lock.yaml
  packages/directus-modules/interface-query-builder/pnpm-lock.yaml
  packages/directus-modules/interface-timedmetadata-tools/pnpm-lock.yaml
  packages/directus-modules/interface-video-viewer/pnpm-lock.yaml
  packages/directus-modules/panel-api-tools/pnpm-lock.yaml
Due: Build CMS

chore(deps): update dependencies
  packages/video-player/package.json
  packages/video-player/pnpm-lock.yaml
  web/package.json
  web/pnpm-lock.yaml
Due: none

merge
  backend/graph/api/generated/generated.go
Due: Test, Build

revert update of graphql
  web/package.json
  web/pnpm-lock.yaml
  web/src/components/navbar/Navbar.vue
Due: none

feat(collections): remove sections from collection entries
  backend/common/items.go
  backend/graph/api/collections.utils.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/schema/playlists.graphqls
  backend/graph/api/schema/schema.graphqls
  backend/graph/api/schema/sections.graphqls
Due: Test, Build

fix(collections): query collections not included in episode queue
  backend/graph/api/episode-resolver.utils.go
Due: Test, Build

fix episode thing
  backend/search/episodes.go
Due: Test, Build

only if season != nil
  backend/search/episodes.go
Due: Test, Build

video player respect application
  packages/video-player/package.json
  packages/video-player/src/btv-player/api/client.ts
  packages/video-player/src/btv-player/api/episode.ts
  web/package.json
  web/pnpm-lock.yaml
  web/src/services/player.ts
Due: none

watch app
  web/src/components/EpisodeViewer.vue
  web/src/pages/EpisodeEmbed.vue
  web/src/services/player.ts
Due: none

order timed metadata
  backend/sqlc/timedmetadata.sql.go
  queries/timedmetadata.sql
Due: Test, Build

order timed metadata ids on episode
  backend/sqlc/episodes.sql.go
  queries/episodes.sql
Due: Test, Build

update packages and order by seconds
  backend/sqlc/episodes.sql.go
  go.mod
  go.sum
  queries/episodes.sql
Due: Test, Build

fix playlists permission
  migrations/00227_playlists_permissions.sql
Due: none

terms of use popup
  web/src/components/embed/EmbedDownloadables.vue
  web/src/translations/en.json
Due: none

go 1.21
  .semaphore/semaphore.yml
Due: none

insert asset with source
  backend/asset/ingest.go
  backend/asset/models.go
  backend/sqlc/assets.sql.go
  backend/sqlc/models.go
  migrations/00228_assets_source.sql
  queries/assets.sql
Due: Test, Build

fix links
  web/src/translations/en.json
Due: none

fix cursor inconsistency in the same request
  backend/graph/api/episode-resolver.utils.go
  backend/graph/api/schema.resolvers.go
Due: Test, Build

prevent nil assignment
  backend/graph/api/episode-resolver.utils.go
Due: Test, Build

tracing spans
  backend/graph/api/episode-resolver.utils.go
  backend/graph/api/resolver.go
Due: Test, Build

Implement .show on showsearchitem
  backend/graph/api/achievements.resolvers.go
  backend/graph/api/analytics.resolvers.go
  backend/graph/api/applications.resolvers.go
  backend/graph/api/calendar.resolvers.go
  backend/graph/api/config.resolvers.go
  backend/graph/api/episodes.resolvers.go
  backend/graph/api/faq.resolvers.go
  backend/graph/api/games.resolvers.go
  backend/graph/api/generated/generated.go
  backend/graph/api/items.resolvers.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/mutations.resolvers.go
  backend/graph/api/pages.resolvers.go
  backend/graph/api/playlists.resolvers.go
  backend/graph/api/prompts.resolvers.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/search.graphqls
  backend/graph/api/search-resolver.go
  backend/graph/api/search.resolvers.go
  backend/graph/api/seasons.resolvers.go
  backend/graph/api/sections.resolvers.go
  backend/graph/api/shows.resolvers.go
  backend/graph/api/studies.resolvers.go
  backend/graph/api/surveys.resolvers.go
  backend/graph/api/users.resolvers.go
  go.mod
  go.sum
Due: Test, Build

feat(cursor): append related items to next
  backend/graph/api/episode-resolver.utils.go
Due: Test, Build

feat(cursor): keep it commented out
  backend/graph/api/episode-resolver.utils.go
Due: Test, Build

feat(cursor): one next episodes, then add related
  backend/graph/api/episode-resolver.utils.go
Due: Test, Build

feat(cursor): move lambda to separate function
  backend/graph/api/episode-resolver.utils.go
Due: Test, Build

feat(cursor): rename function
  backend/graph/api/episode-resolver.utils.go
Due: Test, Build

feat(translations-required): add boolean to determine translation requirement
  backend/sqlc/models.go
  backend/sqlc/translations.sql.go
  migrations/00229_translations_required.sql
  migrations/00230_translations_required.sql
  queries/translations.sql
Due: Test, Build

feat(translations-required): sqlc generate
  backend/sqlc/translations.sql.go
Due: Test, Build

type other
  backend/common/items.go
Due: Test, Build

fix: limit next episodes
  backend/graph/api/episode-resolver.utils.go
Due: Test, Build

Path conditions:
  Build CMS: any of: cms/
  Test: any of: backend/
  Build: any of: backend/
