Repository bcc-code/bcc-media-platform: changes, and which Semaphore blocks are due for each by the changed paths.
All: Build CMS, Test, Build

Build CMS:
  jobs:
  - name: build
    commands:
    - checkout
    - cd cms
    - docker build -t "europe-west4-docker.pkg.dev/utils-332514/btv-platform/cms:${SEMAPHORE_GIT_SHA:0:7}" -t europe-west4-docker.pkg.dev/utils-332514/btv-platform/cms:$SEMAPHORE_GIT_BRANCH .
  ...

Test:
  jobs:
  - name: go test
    commands:
    - export GOPATH=~/go
    - export PATH=/home/semaphore/go/bin:$PATH
    - export CGO_ENABLED=0
    - checkout
    - cache restore
    - go get ./...
    - go test ./...
  epilogue:
    on_pass:
      commands:
      - cache store
  prologue:
    commands:
    - sem-version go 1.19

Build:
  prologue:
    commands:
    - sem-version go 1.19
    - export GOPATH=~/go
    - export PATH=/home/semaphore/go/bin:$PATH
    - checkout
    - cache restore
    - gcloud auth activate-service-account --key-file=/home/semaphore/secrets/google.key.json
  ...

logging and script
  packages/directus-modules/Makefile
  packages/directus-modules/interface-timedmetadata-tools/src/interface.vue
Due: none

markdown editor in admin
  migrations/00220_markdown_description.sql
  web/pnpm-lock.yaml
  web/src/components/episodes/EpisodeDisplay.vue
Due: none

json definition
  backend/asset/models.go
Due: Test, Build

typo
  backend/asset/ingest.go
  backend/asset/ingest_test.go
  backend/asset/models.go
Due: Test, Build

jsonmeta things
  backend/asset/models.go
Due: Test, Build

feat(chapters-import): import chapters on ingest
  backend/asset/ingest.go
  backend/asset/utils.go
  backend/sqlc/models.go
  backend/sqlc/relations.sql.go
  backend/sqlc/timedmetadata.sql.go
  migrations/00221_songkeys.sql
  migrations/00222_timedmetadata_persons.sql
  queries/relations.sql
  queries/timedmetadata.sql
Due: Test, Build

feat(chapters-import): function naming
  backend/asset/utils.go
Due: Test, Build

feat(chapters-import): fix relations
  backend/asset/ingest.go
  backend/common/items.go
  backend/graph/admin/schema.resolvers.go
  backend/graph/api/episodes.resolvers.go
  backend/sqlc/timedmetadata-queries.go
  backend/sqlc/timedmetadata.sql.go
  queries/timedmetadata.sql
Due: Test, Build

chore() regen
  backend/graph/api/achievements.resolvers.go
  backend/graph/api/analytics.resolvers.go
  backend/graph/api/applications.resolvers.go
  backend/graph/api/calendar.resolvers.go
  backend/graph/api/config.resolvers.go
  backend/graph/api/episodes.resolvers.go
  backend/graph/api/faq.resolvers.go
  backend/graph/api/games.resolvers.go
  backend/graph/api/generated/generated.go
  backend/graph/api/items.resolvers.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/mutations.resolvers.go
  backend/graph/api/pages.resolvers.go
  backend/graph/api/prompts.resolvers.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/search.resolvers.go
  backend/graph/api/seasons.resolvers.go
  backend/graph/api/sections.resolvers.go
  backend/graph/api/shows.resolvers.go
  backend/graph/api/studies.resolvers.go
  backend/graph/api/surveys.resolvers.go
  backend/graph/api/users.resolvers.go
Due: Test, Build

if downloadable
  backend/common/items.go
  backend/graph/api/episodes.resolvers.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/schema/episodes.graphqls
  backend/sqlc/episode-queries.go
  backend/sqlc/episodes.sql.go
  queries/episodes.sql
Due: Test, Build

if downloadable
  backend/common/items.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/asset.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/schema/episodes.graphqls
  backend/sqlc/episodes.sql.go
  queries/episodes.sql
Due: Test, Build

type
  backend/sqlc/episode-queries.go
Due: Test, Build

update dockerfile
  cms/Dockerfile
Due: Build CMS

update cms dependencies
  cms/Dockerfile
  cms/package.json
  cms/pnpm-lock.yaml
  packages/directus-modules/endpoint-tools/package.json
  packages/directus-modules/endpoint-tools/pnpm-lock.yaml
  packages/directus-modules/hook-pubsub/package.json
  packages/directus-modules/hook-pubsub/pnpm-lock.yaml
  packages/directus-modules/interface-datepicker/pnpm-lock.yaml
  packages/directus-modules/interface-query-builder/pnpm-lock.yaml
  packages/directus-modules/interface-timedmetadata-tools/pnpm-lock.yaml
  packages/directus-modules/interface-video-viewer/package.json
  packages/directus-modules/interface-video-viewer/pnpm-lock.yaml
  packages/directus-modules/panel-api-tools/package.json
  packages/directus-modules/panel-api-tools/pnpm-lock.yaml
Due: Build CMS

use directus image
  cms/Dockerfile
  cms/entrypoint.sh
Due: Build CMS

dont copy .env
  cms/Dockerfile
Due: Build CMS

update and use cjs extensions
  cms/Dockerfile
  packages/directus-modules/endpoint-tools/package.json
  packages/directus-modules/endpoint-tools/pnpm-lock.yaml
  packages/directus-modules/hook-pubsub/package.json
  packages/directus-modules/hook-pubsub/pnpm-lock.yaml
Due: Build CMS

translations id seq
  migrations/00223_translations_permissions.sql
Due: none

Increase downloadable URL validity to 3h
  backend/graph/api/model/asset.go
Due: Test, Build

feat: sync timedmetadata to bigquery
  backend/statistics/event-handler.go
  backend/statistics/item-bq-types.go
Due: Test, Build

fix: missing languages in download dropdown #524
  web/src/components/LanguageSelector.vue
  web/src/components/embed/EmbedDownloadables.vue
  web/src/components/navbar/Navbar.vue
  web/src/services/language.ts
Due: none

dont copy old files
  backend/asset/ingest.go
Due: Test, Build

fix(perms): missing timedmetadata read/write permissions
  migrations/00224_timedmetadata_permissions.sql
Due: none

fix(ingest): chapters invalid path
  backend/asset/ingest.go
Due: Test, Build

no rows
  backend/asset/utils.go
Due: Test, Build

make it possible to init from scratch
  docker-compose.yml
  env.sample
  scripts/db_manage.sh
Due: none

diffs
  Makefile
  backend/sqlc/models.go
  backend/sqlc/relations.sql.go
  migrations/00225_timedmetadata_permissions.sql
  migrations/pg-diff-config.json
  scripts/db_diff.sh
Due: Test, Build

types
  backend/sqlc/models.go
  backend/sqlc/relations.sql.go
Due: Test, Build

feat(cursors): initial implementation of cursors
  backend/common/models.go
  backend/graph/api/episode-resolver.utils.go
  backend/graph/api/episodes.resolvers.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/episodes.graphqls
  backend/graph/api/schema/schema.graphqls
  backend/utils/cursor.go
Due: Test, Build

feat(cursors): allow other types of cursors
  backend/graph/api/episode-resolver.utils.go
  backend/utils/cursor.go
Due: Test, Build

feat(cursors): respect configuration
  backend/graph/api/schema.resolvers.go
  backend/utils/cursor.go
Due: Test, Build

faq
  web/src/components/navbar/Navbar.vue
  web/src/components/support/FAQ.vue
  web/src/graph/generated.ts
  web/src/graph/queries/faq.graphql
  web/src/translations/en.json
Due: none

feat(cursors): synchronize across episode calls
  backend/graph/api/episode-resolver.utils.go
  backend/graph/api/episodes.resolvers.go
  backend/graph/api/generated/generated.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/episodes.graphqls
  backend/utils/cursor.go
  backend/utils/gin-context.go
Due: Test, Build

feat(playlists): implement the backend flow for playlists
  .idea/dataSources.xml
  backend/cmd/api/loaders.go
  backend/common/items.go
  backend/common/loaders.go
  backend/graph/api/collection-resolver.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/model/playlist.go
  backend/graph/api/playlists.resolvers.go
  backend/graph/api/schema/episodes.graphqls
  backend/graph/api/schema/games.graphqls
  backend/graph/api/schema/playlists.graphqls
  backend/graph/api/schema/schema.graphqls
  backend/graph/api/schema/seasons.graphqls
  backend/graph/api/schema/sections.graphqls
  backend/graph/api/schema/shows.graphqls
  backend/sqlc/models.go
  backend/sqlc/playlist-queries.go
  backend/sqlc/playlists.sql.go
  migrations/00226_playlists.sql
  queries/collections.sql
  queries/playlists.sql
Due: Test, Build

feat(playlists): start implementing search
  backend/common/items.go
  backend/crowdin/items.go
  backend/search/indexing.go
  backend/search/service.go
  backend/search/shows.go
  backend/sqlc/collections.sql.go
  backend/sqlc/models.go
  backend/sqlc/playlist-queries.go
  backend/sqlc/playlists.sql.go
  backend/sqlc/translations.sql.go
  migrations/00226_playlists.sql
  queries/playlists.sql
  queries/translations.sql
Due: Test, Build

feat(cursors): context lock
  backend/utils/gin-context.go
Due: Test, Build

feat(cursors): readify nextkeys
  backend/utils/cursor.go
Due: Test, Build

Path conditions:
  Build CMS: any of: cms/
  Test: any of: backend/
  Build: any of: backend/
