Repository bcc-code/bcc-media-platform: changes, and which Semaphore blocks are due for each by the changed paths.
All: Build CMS, Test, Build

Build CMS:
  jobs:
  - name: build
    commands:
    - checkout
    - cd cms
    - docker build -t "europe-west4-docker.pkg.dev/utils-332514/btv-platform/cms:${SEMAPHORE_GIT_SHA:0:7}" -t europe-west4-docker.pkg.dev/utils-332514/btv-platform/cms:$SEMAPHORE_GIT_BRANCH .
  ...

Test:
  jobs:
  - name: go test
    commands:
    - export GOPATH=~/go
    - export PATH=/home/semaphore/go/bin:$PATH
    - export CGO_ENABLED=0
    - checkout
    - cache restore
    - go get ./...
    - go test ./...
  epilogue:
    on_pass:
      commands:
      - cache store
  prologue:
    commands:
    - sem-version go 1.19

Build:
  prologue:
    commands:
    - sem-version go 1.19
    - export GOPATH=~/go
    - export PATH=/home/semaphore/go/bin:$PATH
    - checkout
    - cache restore
    - gcloud auth activate-service-account --key-file=/home/semaphore/secrets/google.key.json
  ...

update translations
  backend/cmd/staging-sync/main.go
  migrations/migrations.go
  web/src/translations/bg.json
  web/src/translations/da.json
  web/src/translations/de.json
  web/src/translations/en.json
  web/src/translations/es.json
  web/src/translations/fi.json
  web/src/translations/fr.json
  web/src/translations/hu.json
  web/src/translations/it.json
  web/src/translations/nb.json
  web/src/translations/nl.json
  web/src/translations/pl.json
  web/src/translations/pt.json
  web/src/translations/ro.json
  web/src/translations/ru.json
  web/src/translations/sl.json
  web/src/translations/tr.json
Due: Test, Build

feat: staging sync
  backend/cmd/staging-sync/main.go
  infra/database.tf
  infra/password-resources.tf
  migrations/00274_staging_sync.sql
  migrations/migrations.go
  migrations/special/pre/01-roles.sql
Due: Test, Build

.
  backend/cmd/staging-sync/main.go
Due: Test, Build

feat: do the staging sync
  .gitignore
  backend/cmd/staging-sync/main.go
  backend/utils/database.go
  infra/gcp-secrets.tf
  infra/web.tf
Due: Test, Build

feat: documentation
  backend/cmd/staging-sync/.env.example
  backend/cmd/staging-sync/.gitignore
  backend/cmd/staging-sync/README.md
  backend/cmd/staging-sync/main.go
Due: Test, Build

profiles cached across app groups
  backend/user/middleware/profiles.go
Due: Test, Build

publish to staging on develop
  .semaphore/semaphore.yml
Due: none

dont deploy to dev
  .semaphore/semaphore.yml
Due: none

fix: missing randomfactor
  backend/graph/api/shorts.utils.go
Due: Test, Build

update .env.example
  backend/cmd/staging-sync/.env.example
Due: Test, Build

fisk
  backend/graph/api/shorts.utils.go
Due: Test, Build

fix: timestamp stuff
  backend/graph/api/resolver.go
  backend/graph/api/schema.resolvers.go
Due: Test, Build

.
  cms/.template.env
Due: Build CMS

rm old db stuff
  cms/.template.env
Due: Build CMS

fix: remove live things
  web/src/components/navbar/Navbar.vue
  web/src/components/sections/item/SectionItem.vue
  web/src/translations/da.json
  web/src/translations/fr.json
  web/src/translations/nb.json
  web/src/translations/nl.json
  web/src/translations/sl.json
Due: none

fix: expensive calendar queries
  backend/cmd/api/loaders.go
  backend/graph/api/calendar-resolver.go
  backend/graph/api/calendar.resolvers.go
  backend/sqlc/calendar-queries.go
  backend/sqlc/calendar.sql.go
  queries/calendar.sql
Due: Test, Build

fix roles
  migrations/00274_staging_sync.sql
  migrations/00275_fix_role_relations.sql
Due: none

feat: get title by langugage
  backend/graph/api/episode-resolver.utils.go
  backend/graph/api/episodes.resolvers.go
  backend/graph/api/generated/generated.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/episodes.graphqls
Due: Test, Build

feat: sync quote translaqtions
  web/src/utils/quotes/localized/fr.json
  web/src/utils/quotes/localized/nl.json
  web/src/utils/quotes/localized/pl.json
  web/src/utils/quotes/localized/pt.json
  web/src/utils/quotes/localized/ro.json
Due: none

feat: update quote dates for the first 7
  web/src/utils/quotes/all.json
Due: none

feat: expose original title
  backend/graph/api/episode-resolver.utils.go
  backend/graph/api/episodes.resolvers.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/schema/episodes.graphqls
Due: Test, Build

refactor: constant slice for fallback languages
  backend/graph/api/episodes.resolvers.go
  backend/statistics/item-bq-types.go
  backend/utils/language-map.go
Due: Test, Build

feat: shorts originalTitle
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/schema/schema.graphqls
  backend/graph/api/schema/shorts.graphqls
  backend/graph/api/shorts.resolvers.go
Due: Test, Build

fix: forgot to codegen "originalTitle" gql
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
Due: Test, Build

feat(video-player): npaw app name
  packages/video-player/package.json
  packages/video-player/src/video-player/index.ts
  packages/video-player/src/video-player/npaw.ts
Due: none

feat(web): npaw app name
  web/.env.local.example
  web/package.json
  web/pnpm-lock.yaml
  web/src/components/EpisodeViewer.vue
  web/src/graph/client.ts
  web/src/pages/EpisodeEmbed.vue
  web/src/services/app.ts
  web/src/services/player.ts
Due: none

feat: originaltitle npaw
  web/src/components/EpisodeViewer.vue
  web/src/graph/generated.ts
  web/src/graph/queries/episode.graphql
Due: none

fix: originaltitle in title, remove episodeTitle
  web/src/components/EpisodeViewer.vue
Due: none

feat: simplecors for files.brunstad.tv
  infra/vod-cdn/files-cdn.tf
Due: none

fix: published was being overriden on create
  cms/README.md
  cms/package.json
  migrations/00276_fix_published_at.sql
Due: Build CMS

feat: initial short logic
  backend/graph/api/collection-resolver.go
  backend/graph/api/generated/generated.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/schema.graphqls
  backend/graph/api/shorts.utils.go
Due: Test, Build

feat: GetManyStrict
  backend/loaders/errors.go
  backend/loaders/loader.go
Due: Test, Build

feat(api): add error when initialShort isnt found
  backend/graph/api/shorts.utils.go
Due: Test, Build

Revert "feat: GetManyStrict"
  backend/loaders/errors.go
  backend/loaders/loader.go
Due: Test, Build

fix: only add error for the first initialShort request
  backend/graph/api/shorts.utils.go
Due: Test, Build

tweak: fix id sequences via local db post-migration
  migrations/special/post/03-fix-seq.sql
Due: none

feat: episodes query
  backend/graph/api/episodes.resolvers.go
  backend/graph/api/generated/generated.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/episodes.graphqls
  backend/graph/api/schema/schema.graphqls
Due: Test, Build

fix schema
  backend/graph/api/schema.resolvers.go
Due: Test, Build

fix: close channels correctly
  backend/graph/api/schema.resolvers.go
Due: Test, Build

Path conditions:
  Build CMS: any of: cms/
  Test: any of: backend/
  Build: any of: backend/
