Repository bcc-code/bcc-media-platform: changes, and which Semaphore blocks are due for each by the changed paths.
All: Build CMS, Test, Build

Path conditions:
  Build CMS: any of: cms/
  Test: any of: backend/
  Build: any of: backend/

maxlength
  backend/graph/api/episode-resolver.utils.go
Due: Test, Build

playlist collection resolver
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/schema.graphqls
  backend/graph/api/search.resolvers.go
Due: Test, Build

styledimages
  migrations/00229_styledimages_perms.sql
Due: none

specific directus version
  cms/Dockerfile
Due: Build CMS

update
  migrations/00230_playlists_perms.sql
Due: none

permissionloader
  backend/search/indexing.go
Due: Test, Build

cursorfor nil
  backend/utils/cursor.go
Due: Test, Build

chore(directus): update directus
  backend/sqlc/models.go
  cms/Dockerfile
  cms/package.json
  cms/pnpm-lock.yaml
  migrations/00231_directus_update.sql
Due: Build CMS, Test, Build

feat(notifications): high priority on android devices
  backend/common/models.go
  backend/push/client.go
  backend/sqlc/models.go
  backend/sqlc/notification-queries.go
  backend/sqlc/notifications.sql.go
  migrations/00232_notifications_high_priority.sql
  queries/notifications.sql
Due: Test, Build

feat(notifications): required
  migrations/00230_translations_required.sql
Due: none

feat(notifications): duplicate migration
  migrations/00229_translations_required.sql
Due: none

feat(notifications): fix nullable
  backend/sqlc/models.go
  migrations/00233_fix_nullable.sql
Due: Test, Build

feat(playlists): send to crowdin
  backend/crowdin/client.go
Due: Test, Build

fix(migrations)
  migrations/00233_fix_nullable.sql
Due: none

fix(translations): grant perms to sequence
  migrations/00234_fix_permissions.sql
Due: none

chore(db-cleanup): remove unused tables and fix indexes
  backend/sqlc/assets.sql.go
  backend/sqlc/models.go
  backend/sqlc/studies.sql.go
  migrations/00235_remove_unused_tables.sql
  migrations/00236_fix_indexes.sql
Due: Test, Build

chore(db-cleanup): format migration
  migrations/00236_fix_indexes.sql
Due: none

chore(db-cleanup): fix type errors
  backend/sqlc/collection-queries.go
  backend/sqlc/study-queries.go
Due: Test, Build

chore(db-cleanup): fix type errors
  backend/asset/ingest.go
Due: Test, Build

chore(db-cleanup): fix migrations
  migrations/00236_fix_indexes.sql
Due: none

fix(episodes): empty categories field
  migrations/00237_episode_categories.sql
Due: none

remove i-frame playlists from vod lambda
  infra/vod-cdn/lambda-js/index.js
Due: none

fix(translations): every 1st entry was ignored
  backend/crowdin/build.go
  backend/crowdin/client.go
  go.mod
  go.sum
Due: Test, Build

feat(shorts): initial migrations for mediaitems and shorts
  backend/sqlc/models.go
  migrations/00238_mediaitems_and_shorts.sql
  migrations/00239_filter_dataset_shorts.sql
  packages/directus-modules/interface-query-builder/src/query-builder/types.ts
Due: Test, Build

feat(shorts): implement cursor
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/schema.graphqls
  backend/graph/api/schema/shorts.graphqls
  backend/graph/api/shorts.utils.go
  backend/utils/cursor.go
  migrations/00242_fix_preview.sql
Due: Test, Build

feat(shorts): root.short(id)
  backend/graph/api/generated/generated.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/schema.graphqls
  backend/graph/api/shorts.utils.go
Due: Test, Build

feat(shorts): move retrieval of shorts cursor to function
  backend/graph/api/shorts.utils.go
  backend/utils/cursor.go
Due: Test, Build

feat(shorts): image style defined by gql
  backend/graph/api/generated/generated.go
  backend/graph/api/schema/shorts.graphqls
  backend/graph/api/shorts.resolvers.go
  backend/graph/api/shorts.utils.go
Due: Test, Build

feat(shorts): videoprogress table
  backend/sqlc/models.go
  backend/sqlc/progress.sql.go
  migrations/00243_video_progress.sql
  queries/progress.sql
Due: Test, Build

feat(shorts): store progress
  backend/graph/api/generated/generated.go
  backend/graph/api/mutations.resolvers.go
  backend/graph/api/schema/mutations.graphqls
  backend/graph/api/shorts.utils.go
  backend/sqlc/progress.sql.go
  backend/user/middleware/user.go
  backend/utils/cursor.go
  queries/progress.sql
Due: Test, Build

feat(shorts): use progress
  backend/graph/api/shorts.utils.go
Due: Test, Build

feat(shorts): relation for connection to episode
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/schema/shorts.graphqls
  backend/graph/api/shorts.resolvers.go
Due: Test, Build

feat(shorts): shorts source
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/schema/shorts.graphqls
  backend/graph/api/shorts.resolvers.go
Due: Test, Build

feat(shorts): subclipsourceitem
  backend/graph/api/schema/shorts.graphqls
Due: Test, Build

fix(backup): missing onsite backup perms
  migrations/00238_mediaitems_and_shorts.sql
Due: none

feat(shorts): move to media_progress
  backend/cmd/api/loaders.go
  backend/common/items.go
  backend/common/loaders.go
  backend/graph/api/mutations.resolvers.go
  backend/graph/api/shorts.utils.go
  backend/sqlc/models.go
  backend/sqlc/progress.sql.go
  backend/sqlc/short-queries.go
  backend/sqlc/shorts.sql.go
  migrations/00243_video_progress.sql
  queries/progress.sql
  queries/shorts.sql
Due: Test, Build

feat(shorts-my-list): add inMyList to shorts and mutation for this
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/mutations.resolvers.go
  backend/graph/api/schema/mutations.graphqls
  backend/graph/api/schema/shorts.graphqls
  backend/graph/api/schema/users.graphqls
  backend/graph/api/shorts.resolvers.go
  backend/graph/api/users.resolvers.go
  backend/graph/api/users.utils.go
Due: Test, Build

feat(shorts-my-list): unnecessary code
  backend/graph/api/users.utils.go
Due: Test, Build
