Repository bcc-code/bcc-media-platform: changes, and which Semaphore blocks are due for each by the changed paths.
All: Build CMS, Test, Build

Build CMS:
  jobs:
  - name: build
    commands:
    - checkout
    - cd cms
    - docker build -t "europe-west4-docker.pkg.dev/utils-332514/btv-platform/cms:${SEMAPHORE_GIT_SHA:0:7}" -t europe-west4-docker.pkg.dev/utils-332514/btv-platform/cms:$SEMAPHORE_GIT_BRANCH .
  ...

Test:
  jobs:
  - name: go test
    commands:
    - export GOPATH=~/go
    - export PATH=/home/semaphore/go/bin:$PATH
    - export CGO_ENABLED=0
    - checkout
    - cache restore
    - go get ./...
    - go test ./...
  epilogue:
    on_pass:
      commands:
      - cache store
  prologue:
    commands:
    - sem-version go 1.19

Build:
  prologue:
    commands:
    - sem-version go 1.19
    - export GOPATH=~/go
    - export PATH=/home/semaphore/go/bin:$PATH
    - checkout
    - cache restore
    - gcloud auth activate-service-account --key-file=/home/semaphore/secrets/google.key.json
  ...

support seasons in select
  backend/sqlc/collections.sql.go
  queries/collections.sql
Due: Test, Build

Revert "include typescript in deps"
  cms/package.json
  cms/pnpm-lock.yaml
Due: Build CMS

Revert "feat/cms-use-pnpm replace npm with pnpm"
  .semaphore/semaphore.yml
  cms/Makefile
  cms/custom/Makefile
  cms/custom/interface-datepicker/package-lock.json
  cms/custom/interface-datepicker/pnpm-lock.yaml
  cms/custom/interface-query-builder/package-lock.json
  cms/custom/interface-query-builder/pnpm-lock.yaml
  cms/custom/interface-video-viewer/package-lock.json
  cms/custom/interface-video-viewer/pnpm-lock.yaml
  cms/package-lock.json
  cms/pnpm-lock.yaml
Due: Build CMS

Revert "pnpm build"
  cms/Makefile
Due: Build CMS

version bump video-player
  packages/video-player/package.json
Due: none

Timestamp expiration on prompts
  backend/cmd/api/loaders.go
  backend/common/loaders.go
  backend/events/publish.go
  backend/graph/api/generated/generated.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/schema.graphqls
  backend/graph/api/utils.go
  backend/memorycache/memorycache.go
Due: Test, Build

simplify section
  backend/graph/api/schema.resolvers.go
Due: Test, Build

clear prompt cache
  backend/graph/api/schema.resolvers.go
Due: Test, Build

implement watched endpoint
  backend/graph/api/generated/generated.go
  backend/graph/api/items.resolvers.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/schema/items.graphqls
Due: Test, Build

Fix missing filter dataset field
  backend/sqlc/models.go
  migrations/00163_filter_dataset_number.sql
Due: Test, Build

Removed Comments
  web/src/pages/calendar/Calendar.vue
Due: none

Change to simple string as property instead of function
  backend/cmd/api/loaders.go
  backend/common/loaders.go
  backend/graph/api/schema.resolvers.go
Due: Test, Build

rename resolvers
  backend/graph/api/episodes.resolvers.go
  backend/graph/api/generated/generated.go
  backend/graph/api/schema.resolvers.go
  backend/graph/api/schema/episodes.graphqls
  backend/graph/api/schema/schema.graphqls
  backend/graph/api/schema/seasons.graphqls
  backend/graph/api/schema/shows.graphqls
  backend/graph/api/seasons.resolvers.go
  backend/graph/api/shows.resolvers.go
Due: Test, Build

Remove a fields from DU request that is not needed
  backend/asset/ingest_test.go
  backend/asset/testdata/001.json
  backend/cmd/pubsub-helper/main.go
  backend/directus/assets.go
Due: Test, Build

Remove debug
  backend/cmd/pubsub-helper/main.go
Due: Test, Build

Speed up episode query
  backend/sqlc/episodes.sql.go
  queries/episodes.sql
Due: Test, Build

fix query
  backend/sqlc/episodes.sql.go
  queries/episodes.sql
Due: Test, Build

login in access token retrieval fails
  web/src/services/auth.ts
Due: none

Invalid query.
  backend/sqlc/user-collections.sql.go
  queries/user-collections.sql
Due: Test, Build

Implement resolver for checking if episode is in mylist
  backend/graph/api/episodes.resolvers.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/schema/episodes.graphqls
Due: Test, Build

feat(default-episodes): Include and respect episode progress in DefaultEpisode resolver
  backend/cmd/api/loaders.go
  backend/common/loaders.go
  backend/graph/api/shows.resolvers.go
  backend/items/show/defaults.go
  backend/sqlc/progress-queries.go
  backend/sqlc/progress.sql.go
  queries/progress.sql
Due: Test, Build

feat(default-episodes): Implement DefaultLesson for Topics and DefaultEpisode for Lessons
  backend/cmd/api/loaders.go
  backend/common/loaders.go
  backend/graph/api/generated/generated.go
  backend/graph/api/model/models_gen.go
  backend/graph/api/schema/seasons.graphqls
  backend/graph/api/schema/shows.graphqls
  backend/graph/api/schema/studies.graphqls
  backend/graph/api/seasons.resolvers.go
  backend/graph/api/studies.resolvers.go
  backend/sqlc/studies.sql.go
  backend/sqlc/study-queries.go
  queries/studies.sql
Due: Test, Build

feat(default-episodes): Respect Episode locking and Previous locks when determining default lesson
  backend/graph/api/studies.resolvers.go
  backend/graph/api/studies.utils.go
  web/src/graph/generated.ts
  web/src/graph/queries/study.graphql
  web/src/utils/items.ts
Due: Test, Build

feat(default-episodes): Use a separate request for retrieving defaultepisode
  web/src/graph/generated.ts
  web/src/graph/queries/episode.graphql
  web/src/graph/queries/section.graphql
  web/src/utils/items.ts
Due: none

chore(refactor-loaders): Reimplement context cancelling in the small caches
  backend/cmd/api/loaders.go
  backend/loaders/cache.go
Due: Test, Build

chore(refactor-loaders): Don't cancel based on context, as the cache can be shared across loaders.
  backend/cmd/api/loaders.go
  backend/common/loaders.go
  backend/graph/api/studies.resolvers.go
  backend/loaders/cache.go
Due: Test, Build

fix(my-list): Chunk and check each entry if it exists
  backend/graph/api/episodes.resolvers.go
  migrations/00164_unique_items.sql
Due: Test, Build

fix(cms): type imports
  cms/src/endpoints/preview/index.ts
  cms/src/hooks/pubsub/index.ts
  cms/src/hooks/pubsub/publish.ts
  cms/src/hooks/sync-to-legacy/filters/assets.ts
  cms/src/hooks/sync-to-legacy/filters/assetstreams.ts
  cms/src/hooks/sync-to-legacy/filters/shows.ts
  cms/src/hooks/sync-to-legacy/index.ts
Due: Build CMS

where episode is published
  backend/sqlc/progress.sql.go
  queries/progress.sql
Due: Test, Build

fix(permissions): errors that shouldn't trigger failed responses
  backend/graph/api/studies.resolvers.go
Due: Test, Build

fix(query): invalid operator
  queries/progress.sql
Due: none

fix(query): invalid operator
  backend/sqlc/progress.sql.go
Due: Test, Build

fix(mod): go mod update. implement defaultepisode on season
  backend/graph/api/seasons.resolvers.go
  backend/graph/api/shows.resolvers.go
  go.mod
  go.sum
Due: Test, Build

iterate through collection to find entry
  backend/graph/api/mutations.resolvers.go
Due: Test, Build

fix(shows): defaultepisode returns errors if item is not published
  backend/graph/api/shows.resolvers.go
Due: Test, Build

feat(errors): log all gql errors
  backend/cmd/api/handlers.go
Due: Test, Build

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Warning
  backend/cmd/api/handlers.go
Due: Test, Build

fix(logs): log gql errors as warning and with msg in title
  backend/cmd/api/handlers.go
Due: Test, Build

feat(my-list): implement my-list as advanced type on collection
  backend/graph/api/collection-resolver.go
  backend/graph/api/episodes.resolvers.go
  backend/graph/api/pages.resolvers.go
  backend/graph/api/user-collections.utils.go
  migrations/00165_my_list_collection_type.sql
Due: Test, Build

Path conditions:
  Build CMS: any of: cms/
  Test: any of: backend/
  Build: any of: backend/
